<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+settingsService.homeImage+')'}" style="background-size: cover;background-repeat: no-repeat;">
    <div class="summary-page">
        <div class="summary-details">
            <div class="summary-header">{{'pay_summ_title_summ_def' | translate}}</div>
            <div class="plan-description">
                <div class="plan-header">{{'pay_summ_title_plan_dtl_def' | translate}}</div>
                <div class="payment-line"></div>
                <div class="plan-details">
                    <div class="plan-amount">{{'pay_summ_desc_subsc_def'| translate}}<span>{{plan?.title}}</span></div>
                    <div class="plan-amount">{{'pay_summ_desc_bill_def'| translate}}<span>{{nextBillingDate}}</span></div>
                    <div class="plan-amount">{{'pay_summ_desc_recurr_def'| translate}}<span> {{plan?.amount}}</span></div>
                </div>
            </div>
            <div class="Payment-options">
                <div [ngClass]="{'coupon-code': couponApplied || couponSelected}">
                    <span>
                        <a class="coupon" *ngIf="!couponApplied" (click)="showCoupon('apply')">{{'pay_summ_title_coupn_def' | translate}}</a>
                        <span class="coupon" *ngIf="couponApplied">{{'pay_summ_desc_coupn_aply_def'| translate}}: {{coupon}}</span>
                    <a class="close-coupon" *ngIf="couponApplied || couponSelected" (click)="showCoupon('remove')"><img loading="lazy" src="assets/img/x-circle.svg"></a>
                    </span>
                    <form method="post" (ngSubmit)="applyCoupon(coupon)" id="payment-form" class="subscription-form" [hidden]="!couponSelected">
                        <div class="coupon-fields">
                            <div class="form-group">
                                <input class="name-control" [(ngModel)]="coupon" [ngModelOptions]="{standalone: true}" placeholder="{{'pay_summ_ibp_coupn_def' | translate}}" required>
                            </div>
                            <button type="submit" class="blue-btn coupon-button">{{'pay_summ_btn_aply_def' | translate}}</button>
                        </div>
                    </form>
                    <div *ngIf="couponApplied" class="coupon-applied">{{couponMessage}}</div>
                </div>
                <!-- <div *ngIf="couponApplied" class="discount-amount">{{'pay_summ_desc_dscnt_def'| translate}}
                    <span>{{discount_amount}}</span></div>
                <div *ngIf="couponApplied" class="payable-amount">{{'pay_summ_desc_tot_amnt_def'| translate}}
                    <span>{{payable_amount}}</span></div> -->
                <p class="invoice-terms-text">
                    {{'pay_summ_desc_term_def' | translate}}
                </p>
                <button class="blue-btn pay-button" (click)="checkout()" [disabled]="payNowSubscription" id="payNowSubscription">
                    {{'pay_summ_btn_proced_def' | translate}}</button>
                <div class="powered-text text-center">
                    <img loading="lazy" class="str-img" src="assets/img/str-img.svg">
                </div>
            </div>
        </div>
    </div>
</div>