.summary-page {
    padding-top: 157px;
}

.summary-details {
    width: 482px;
    background: var(--card-color);
    margin: 0px auto 100px;
    padding: 24px;
}

.summary-header {
    color: var(--card-font-color);
    margin: 10px 15px;
    text-align: center;
    font-size: 31px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-weight: 500;
    /* border-bottom: 1px solid var(--card-font-color); */
}

.plan-description {
    margin-top: 24px;
}

.plan-header {
    height: 24px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--card-font-color);
}

.plan-details {
    margin: 6px auto 25px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: var(--card-font-color);
}

.plan-details>div>span {
    margin-left: 5px;
}

.plan-details>div {
    margin-bottom: 6px;
}

.plan-amount {
    font-family: Poppins-Bold;
}

.plan-amount>span {
    font-family: Poppins-Regular;
}

.coupon-code {
    background: rgba(255, 255, 255, 0.08);
    padding: 8px;
}

.coupon {
    color: var(--button-color) !important;
    cursor: pointer;
    margin-bottom: 16px;
    font-family: Poppins-Bold;
    font-size: 16px;
}

.close-coupon {
    margin-left: 10px;
}

.subscription-form {
    color: var(--card-font-color);
    font-size: 16px;
    margin-top: 16px;
}

.coupon-fields {
    display: flex;
}

.coupon-applied {
    color: var(--button-color);
    text-align: left;
    margin-top: 8px;
}

.coupon-button {
    height: 37px;
    background: var(--button-color);
    border-radius: 4px;
    padding: 6px 20px;
    font-family: Poppins-Bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--card-font-color);
    margin-left: 8px;
    border-color: var(--button-color);
}

.close-coupon {
    margin-left: 10px;
}

.name-control {
    box-sizing: border-box;
    height: 37px;
    width: 323px;
    padding: 8px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin-right: 0px;
    color: #02021C;
}

.invoice-terms-text {
    margin: 26px auto 24px;
    height: 36px;
    left: 7.5px;
    top: 359px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: var(--card-font-color);
}

.invoice-terms-text>a {
    color: var(--button-color) !important;
}

.pay-button {
    height: 40px;
    background: var(--button-color);
    border-radius: 23px;
    padding: 6px 20px;
    font-family: Poppins-Bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--button-font-color);
    margin: 0px auto;
    border-color: var(--button-color);
}

.str-img {
    width: 119px;
    height: 26px;
    margin-top: 24px;
}