<div class="basic-landing" style="min-height: 1000px; overflow: hidden;" *ngIf="!(showIosApp || showAndroidApp)">
    <div class="landing-image bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
        <div class="basic-landing-image">
            <div class="container-fluid">
                <div class="basic-header row">
                    <div class="logo col-xs-6">
                        <a ui-sref="static.index({region: region})">
                            <!-- <img ng-src="{{imagePath+site_logo}}" class="hidden-xs">
                            <img ng-src="{{imagePath+site_logo}}" class="visible-xs"> -->
                            <img loading="lazy" [src]="logo" class="hidden-xs">
                            <img loading="lazy" [src]="logo" class="visible-xs">
                        </a>
                    </div>
                    <div class="sign-in">
                        <a routerLink="/signin">{{ 'kws_kw_sign_def' | translate }}</a>
                    </div>
                </div>
                <!--end of basic-header-->
                <div class="clear-both"></div>
                <div class="text-wrap">
                    <div class="basic-text basic-text-transparant">
                        <h1 class="basic-title">{{ bannerHeading }}</h1>
                        <p class="basic-para">{{ bannerDescription }}</p>
                        <p class=""> <a class="text-center btn start-btn" routerLink="/signin"> {{ 'login_title_start_watc_def' | translate}}</a></p>
                    </div>
                    <!--end of text-->
                </div>
                <!--end of text-wrap-->
            </div>
            <!--end of end of container-->
        </div>
        <!--end of basic-landing-image-->
    </div>
    <!--end of landing-image-->
    <div class="basic-tabs">
        <div class="container">
            <!-- <div class="tab-wrap col-lg-6 col-md-6 col-sm-6 col-xs-12 image-center"><img src="assets/img/beach.jpg" alt="fishing"
                    class="round-circle responsive beach-image"></div> -->
            <div class="vistv-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-vistv-title text-center">
                    <div class="tab-wrap">What is {{ siteName }}?</div>
                    <p class="device-join-txt">
                        <!-- {{about_site}} -->
                    </p>
                </div>
            </div>
        </div>
        <!--end of container-->
    </div>
</div>
<!--end of basic-landing-->
<app-mobile-app></app-mobile-app>