.basic-landing {
    background: var(--bg-color);
    .landing-image {
        background-size: cover!important;
        background-repeat: no-repeat!important;
        .basic-header {
            margin: 2rem 0;
            .logo {
                float: left;
                a>img {
                    width: 120px;
                }
            }
            .sign-in {
                float: right;
                cursor: pointer;
                a {
                    display: block;
                    padding: 10px;
                    color: var(--button-font-color);
                    padding: 8px 40px;
                    font-weight: 400;
                    border-radius: 50px;
                    background: var(--button-color);
                    font-size: 16px;
                    text-decoration: none;
                    border-color: transparent;
                    box-shadow: none;
                    margin-right: 10px;
                    font-weight: 700;
                    border: 1px solid var(--button-color);
                }
                a:hover,
                a:active,
                a:focus {
                    text-decoration: none;
                    border-color: transparent;
                    box-shadow: none;
                    outline: none;
                    color: var(--button-font-color);
                    background: var(--button-color);
                    border-color: var(--button-color);
                }
            }
        }
        .text-wrap {
            text-align: center;
            margin-top: 15%;
            height: 500px;
            display: block;
            margin-left: 0.5%;
            transition: transform 1s;
            .basic-text-transparant {
                padding: 30px;
                display: inline-block;
                margin: 0 auto;
                .basic-title {
                    color: var(--card-font-color);
                    margin: 0 0 0.2em;
                    line-height: 1em;
                    font-weight: 500;
                    display: inline-block;
                    width: 520px;
                }
                .basic-para {
                    letter-spacing: 0.2px;
                    padding: 0 10px;
                    font-size: 18px;
                    margin-bottom: 20px;
                    margin-top: 1%;
                    color: var(--card-font-color);
                }
                .start-btn {
                    background-color: var(--button-color);
                    font-size: 1.3em;
                    color: var(--button-font-color);
                    width: 200px;
                }
                .start-btn:hover {
                    background: var(--button-color);
                    border-color: var(--button-color);
                }
                .start-btn:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .basic-tabs {
        text-align: center;
        padding: 5px 5px 15px;
        .vistv-content {
            overflow: hidden;
            .about-vistv-title {
                vertical-align: middle;
                .tab-wrap {
                    color: var(--button-color);
                    font-size: 2.2em;
                    margin-top: 3%;
                    font-weight: 550;
                }
                .device-join-txt {
                    font-size: 19px;
                    margin-bottom: 2%;
                    margin-top: 10px;
                    color: var(--bg-font-color);
                    font-family: Poppins-Regular !important;
                }
            }
        }
    }
}