<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation routes="signin" value="vrfy_mail_btn_log_in_def"></app-navigation>
    <div id="pagetitle">
        <h1 class="wdn-text-hidden">{{pageH1Tag}}</h1>
    </div>
    <div class="confirm-form">
        <div class="confirm-header">
            {{'vrfy_mail_title_vrfy_email_def' | translate}}
        </div>
        <div class="confirm-text">
            {{'vrfy_mail_desc_sign_up_pros_def' | translate}}
        </div>
        <div class="resent-text">
            {{'vrfy_mail_btn_nt_rec_mail_def'|translate}} <a class="resent-mail" id="resend_mail" (click)="resend()">{{'vrfy_mail_btn_resend_email_def' | translate}}</a>
        </div>
    </div>
</div>