.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .confirm-form {
        width: 612px;
        height: 196px;
        margin: 101px auto;
        .confirm-header {
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
            color: var(--bg-font-color);
            margin-bottom: 26px;
        }
        .confirm-text {
            height: 90px;
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: var(--bg-font-color);
            margin-bottom: 26px;
        }
        .resent-text {
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: var(--bg-font-color);
            .resent-mail {
                cursor: pointer;
                color: var(--bg-font-color) !important;
                font-family: Poppins-Bold;
            }
        }
    }
}