.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .account-page {
        padding-top: 157px;
        /* height    : 862px; */
        margin-bottom: 100px;
        .payment-container {
            margin-top: 50px;
            width: 531px;
            height: 675px;
            margin: 0 auto;
            background: var(--card-color);
            padding: 24px;
            .back {
                position: relative;
                top: 15px;
                cursor: pointer;
            }
            .account-header {
                color: var(--card-font-color);
                margin: 10px 15px;
                text-align: left;
                font-size: 31px;
                font-family: Poppins-Bold;
                font-style: normal;
                font-weight: 500;
                /* border-bottom: 1px solid var(--card-font-color); */
            }
            .device-accounts {
                color: #E52836 !important;
                font-size: 14px;
                display: block;
                cursor: pointer;
                line-height: 30px;
                margin-left: auto;
                margin-top: 15px;
            }
            .devices-info {
                margin-top: 30px;
                height: 545px;
                overflow-y: auto;
                .device-title {
                    font-family: Poppins-Bold;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    color: var(--card-font-color);
                }
                .profile-line {
                    width: 434px;
                    height: 1px;
                    left: 0px;
                    top: 24px;
                    background: linear-gradient(90deg, var(--button-color) 0%, rgba(220, 24, 10, 0) 100%);
                }
                .device-section-text {
                    color: var(--card-font-color);
                    font-family: Poppins-Bold;
                    font-size: 15px;
                    margin-top: 10px;
                    span {
                        font-family: Poppins-Regular;
                    }
                }
                .device-section-link {
                    color: #E52836 !important;
                    font-size: 14px;
                    display: block;
                    cursor: pointer;
                }
            }
            .devices-info::-webkit-scrollbar {
                width: 5px;
                height: 400px;
            }
            .devices-info::-webkit-scrollbar-track {
                background: rgba(255, 255, 255, 0.2);
            }
            .devices-info::-webkit-scrollbar-thumb {
                background: var(--button-color);
                border-radius: 10px;
            }
        }
    }
}