<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="account-page">
        <div class="payment-container">
            <div class="" style="display: flex;flex-direction: row;">
                <a routerLink='/account-settings' ui-sref="profile.account-settings({region: region})"><img loading="lazy" class="back" src="assets/img/back.svg"></a>
                <h2 class="account-header">{{'usr_dvic_my_dvice_def'|translate}}</h2>
                <a class="device-accounts" (click)="removeDevice('',0)">{{'usr_dvic_btn_rm_dvice_def' | translate}}</a>
            </div>
            <div class="devices-info" *ngIf="length > 0">
                <div *ngFor="let device of devices" style="margin-bottom:24px;">
                    <div class="device-title">{{device.device_title}}<span *ngIf="device.current_device"> ({{'usr_dvic_desc_current_dvic_def' | translate}})</span></div>
                    <div class="profile-line"></div>
                    <div class="subscription-info">
                        <p class="device-section-text">{{'usr_dvic_my_dvice_ip_adrs_def' |translate}}:
                            <span>{{device.ip_address}} </span></p>
                        <!-- <a class="device-section-link" (click)="removeDevice(device.device_id,device.current_device)">{{'usr_dvic_btn_remove_device_def' | translate}}</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>