.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .edit-account-page {
        padding-top: 157px;
        height: 585px;
        margin-bottom: 100px;
        .edit-account-details {
            background: var(--card-color);
            width: 482px;
            margin: 0px auto 100px;
            padding: 20px 24px;
            height: 585px;
            .back {
                position: relative;
                top: 15px;
                cursor: pointer;
            }
            .account-header {
                color: var(--card-font-color);
                margin: 10px 15px;
                text-align: left;
                font-size: 31px;
                font-family: Poppins-Bold;
                font-style: normal;
                font-weight: 500;
                /* border-bottom: 1px solid var(--card-font-color); */
            }
            .profile-picture {
                height: 139px;
                padding-top: 24px;
                text-align: center;
                .preview-picture {
                    // background-color: linear-gradient(0deg, rgba(220, 24, 10, 0.29), rgba(220, 24, 10, 0.29))!important;
                    width: 91px;
                    height: 91px;
                    margin: 0px auto;
                    border-radius: 50px;
                    border: 2px solid #fff;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                }
                .img-sub-profile {
                    position: relative;
                    width: 25.68px;
                    height: 25.68px;
                    margin: 0px auto;
                    bottom: 61px;
                    cursor: pointer;
                    background: url('../../../../assets/img/edit-icon.svg');
                }
            }
            .form-group {
                margin-bottom: 0px;
            }
            .input-fields {
                display: flex;
                flex-direction: column;
                padding: 0px;
                position: static;
                width: 434px;
                height: 89px;
                left: 0px;
                margin-bottom: 12px;
                .input-label {
                    width: 100%;
                    height: 27px;
                    left: 0px;
                    top: 0px;
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    /* identical to box height */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                .field-line {
                    width: 434px;
                    height: 1px;
                    left: 0px;
                    top: 24px;
                    margin-bottom: 16px;
                    background: linear-gradient(90deg, var(--button-color) 0%, rgba(220, 24, 10, 0) 100%);
                }
                .form-control {
                    width: 434px;
                    height: 40px;
                    background: #FFFFFF;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    box-sizing: border-box;
                    border-radius: 23px;
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 27px;
                    /* identical to box height */
                    display: flex;
                    align-items: center;
                    color: #6F6F6F;
                }
            }
            .edit-button {
                padding: 8px 30px;
                background: var(--button-color);
                /* width: 158px; */
                height: 40px;
                font-family: Poppins-Bold;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--button-font-color);
                margin: 24px auto 0px;
                border-radius: 23px;
            }
            .blue-btn {
                border: none;
                font-family: Poppins-Bold !important;
                text-transform: capitalize;
                transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                transition: 350ms;
            }
            .blue-btn:hover {
                background: #fff;
                color: #02021c;
                transform: scale(1.05);
                box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
            }
        }
    }
}