<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="edit-account-page">
        <div class="edit-account-details">
            <div class="" style="display: flex;flex-direction: row;">
                <a [routerLink]="['/account-settings']" ui-sref="profile.account-settings({region: region})"><img loading="lazy" class="back" src="assets/img/back.svg"></a>
                <h2 class="account-header">{{'subsc_title_edit_acc_def'|translate}}</h2>
            </div>
            <form [formGroup]="editAccountForm" method="post" id="account" enctype="multipart/form-data">
                <div class="profile-picture form-group">
                    <div class="preview-picture" [ngStyle]="{'background-image':'linear-gradient(0deg, rgba(220, 24, 10, 0.29), rgba(220, 24, 10, 0.29)),url('+userPicture+')'}" style="background-size: cover;" alt="" id="preview_picture"></div>
                    <div class="img-sub-profile" onclick="document.getElementById('file').click();"></div>
                    <input type='file' id="file" (change)="openBrowse($event)" style="cursor: pointer;display: none; width: 100%;height: 100%;" accept="image/png, image/jpeg" value="">
                </div>
                <input type="file" name="picture" id="picture" style="display: none" onchange="angular.element(this).scope().loadFile(this, 'preview_picture') " accept="image/png, image/jpeg ">
                <div class="input-fields form-group">
                    <label class="input-label">{{'edit_acc_desc_name_def' | translate }}
                    </label>
                    <div class="field-line"></div>
                    <input id="add-profile-name" class="form-control" placeholder="{{'edit_acc_ib_name_def'|translate}}" type="text" required formControlName="user_name" [(ngModel)]="userName" name="userName">
                </div>
                <div class="input-fields form-group">
                    <label class="input-label">{{'edit_acc_desc_email_def' | translate }}
                    </label>
                    <div class="field-line"></div>
                    <input type="email" name="userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'edit_acc_ibp_email_def'|translate}}" required formControlName="user_email" [(ngModel)]="userEmail" readonly>
                </div>
                <div class="input-fields form-group">
                    <label class="input-label">{{'edit_acc_desc_mbl_def' | translate }}
                    </label>
                    <div class="field-line"></div>
                    <input type="number" name="userMobile" class="form-control" id="mobile" placeholder="{{'edit_acc_ibp_mbl_nbr_def'|translate}}" formControlName="user_mobile" [(ngModel)]="userMobile" required>
                </div>
                <input type="type" name="login_by" style="display: none;" ng-model="login_by">
                <input type="type" name="u_id" style="display: none;" ng-model="profile.u_id">
                <input type="type" name="d_type" style="display: none;" ng-model="profile.device_type">
                <button class="edit-button blue-btn" (click)="editAccount()">{{'edit_acc_btn_save_chng_def' |translate}}</button>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"></div>