.cancel-page {
    padding-top: 13px;
}

.cancel-details {
    padding: 31px 24px 24px;
    background: var(--card-color);
    max-width: 484px;
    /* height: 457px; */
    margin: 0px auto;
}

.cancel-text {
    /* height: 30px; */
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    color: var(--button-color);
    margin-top: 30px;
}

.account-section-title {
    margin: 0px;
    color: var(--card-font-color);
    /* text-transform: uppercase; */
    font-size: 18px;
    font-family: Poppins-Bold;
    margin-bottom: 3px;
}

.profile-line {
    width: 434px;
    height: 1px;
    left: 0px;
    top: 24px;
    background: linear-gradient(90deg, var(--button-color) 0%, rgba(220, 24, 10, 0) 100%);
}

.cancel-info {
    /* height: 241px; */
    margin-top: 24px;
}

.cancel-data {
    margin-top: 14px;
}

.account-section-text {
    color: var(--card-font-color);
    font-family: Poppins-Bold !important;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 21px;
    .account-section-text>span {
        font-family: Poppins-Regular !important;
    }
}

.cancel-mail {
    margin-top: 16px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--card-font-color);
}

.home-redirection {
    text-align: center;
    margin-top: 16px;
}

.home-btn {
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    border-radius: 23px;
    text-align: center;
    color: var(--button-font-color);
    padding: 8px 20px;
    background: var(--button-color);
}

.blue-btn {
    border: none;
    font-family: Poppins-Bold !important;
    text-transform: capitalize;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms;
}

.blue-btn:hover {
    background: #fff;
    color: #02021c;
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}