<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+homeImage+')'}" style="background-size: cover;background-repeat: no-repeat;">
    <app-navigation [guest]="false"></app-navigation>
    <!-- <div id="pagetitle">
        <h1 class="wdn-text-hidden">{{pageH1Tag}}</h1>
    </div> -->
    <div class="cancel-page container">
        <div class="cancel-details" style="width: auto;">
            <div class="text-center">
                <img loading="lazy" src="assets/img/cancel-check.svg" alt="success" width="75" height="75" style="border: 0; font-size: 0; margin: 0; max-width: 100%; padding: 0;">
                <div class="cancel-text" style="height: auto !important;">{{'pay_succ_title_succ_def' | translate}}</div>
            </div>
            <div class="cancel-info">
                <p class="account-section-title">{{'pay_succ_title_dtls_def'|translate}}</p>
                <div class="profile-line" style="width: auto;"></div>
                <div class="cancel-data" *ngIf="transactionDetails.type==1">
                    <p class="account-section-text">{{'pay_succ_desc_subsc_plan_def' |translate}}
                        <span>{{transactionDetails.subscription_plan}} </span></p>
                    <p class="account-section-text">{{'pay_succ_desc_servc_period_def' |translate}}
                        <span>{{transactionDetails.service_period}} </span></p>
                    <p class="account-section-text">{{'pay_succ_desc_next_due_date_def' |translate}}
                        <span>{{transactionDetails.next_due_date}} </span></p>
                    <p class="account-section-text">{{'pay_succ_desc_pmnt_proscr_def' |translate}}
                        <span>{{transactionDetails.payment_provider}} </span></p>
                    <p class="account-section-text">{{'pay_succ_desc_trans_date_def' |translate}}
                        <span>{{transactionDetails.transaction_date}} </span></p>
                    <p class="account-section-text" style="word-break: break-word;">{{'pay_succ_desc_trans_num_def' |translate}}
                        <span>{{transactionDetails.transaction_reference_no}}</span> </p>
                    <p class="account-section-text">{{'pay_succ_desc_amnt_def' |translate}}
                        <span>{{transactionDetails.amount}}</span> </p>
                </div>
                <div class="cancel-data" *ngIf="transactionDetails.type==2">
                    <p class="account-section-text">{{'pay_succ_desc_title_def' |translate}}:
                        <span>{{transactionDetails.content_title}} </span></p>
                    <p class="account-section-text">{{'pay_succ_desc_cont_tp_def' |translate}}:
                        <span>{{transactionDetails.content_type}} </span></p>
                    <p *ngIf="transactionDetails.expiry_date" class="account-section-text">
                        {{'pay_succ_desc_valid_def' |translate}}
                        <span>{{transactionDetails.expiry_date}} </span></p>
                    <p class="account-section-text">{{'pay_succ_desc_pmnt_proscr_def' |translate}}
                        <span>{{transactionDetails.payment_provider}} </span></p>
                    <p class="account-section-text">{{'pay_succ_desc_trans_date_def' |translate}}
                        <span>{{transactionDetails.transaction_date}} </span></p>
                    <p class="account-section-text">{{'pay_succ_desc_trans_num_def' |translate}}
                        <span style="word-break: break-word;">{{transactionDetails.transaction_reference_no}}</span> </p>
                    <p class="account-section-text">{{'pay_succ_desc_amnt_def' |translate}}
                        <span>{{transactionDetails.amount}}</span> </p>
                </div>
                <div class="cancel-mail" style="text-align: left;">{{'pay_succ_desc_mail_def' | translate}}
                </div>
                <div class="home-redirection">
                    <a [routerLink]="['/home']" ui-sref="profile.home({region: region})" *ngIf="transactionDetails.type==1 && !showAndroidApp && !showIosApp">
                        <button class="blue-btn home-btn">{{'pay_succ_btn_home_def'|translate}}</button>
                    </a>
                    <a style="cursor: pointer;" (click)="redirect()" class="blue-btn home-btn" *ngIf="transactionDetails.type==2 && transactionDetails.content_type=='video' && !showAndroidApp && !showIosApp">
                        {{'pay_succ_btn_watch_cont_def'|translate}}
                    </a>
                    <a style="cursor: pointer;" (click)="redirect()" class="blue-btn home-btn" *ngIf="transactionDetails.type==2 && transactionDetails.content_type=='series' && !showAndroidApp && !showIosApp">
                        {{'pay_succ_btn_watch_cont_def'|translate}}
                    </a>
                    <a href="filmbox://" *ngIf="showIosApp">
                        <button class="blue-btn home-btn"><i class="fa fa-apple"></i>
                            {{'pay_succ_btn_open_app_def'|translate}}</button>
                    </a>
                    <a href="intent://URLHandler/#Intent;scheme=filmbox;package=com.spi.filmbox;end" *ngIf="showAndroidApp">
                        <button class="blue-btn home-btn"><i class="fa fa-android"></i>
                            {{'pay_succ_btn_open_app_def'|translate}}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>