.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .reset-form {
        width: 612px;
        height: 196px;
        margin: 101px auto;
        .reset-header {
            font-family: Poppins-Bold;
            font-style: normal;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
            color: var(--bg-font-color);
            margin-bottom: 26px;
        }
        .reset-text {
            // height: 90px;
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: var(--bg-font-color);
            margin-bottom: 26px;
        }
        .resent-text {
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: var(--bg-font-color);
            .resent-mail {
                cursor: pointer;
                color: var(--bg-font-color) !important;
                font-family: Poppins-Bold;
            }
        }
        .blue-btn {
            border: none;
            font-family: Poppins-Bold !important;
            text-transform: capitalize;
            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
            transition: 350ms;
        }
        .blue-btn:hover {
            background: #fff;
            color: #02021c;
            transform: scale(1.05);
            box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
        }
        .start-watch {
            height: 46px;
            background: var(--button-color);
            border-radius: 23px;
            font-family: Poppins-Bold;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */
            display: flex;
            align-items: center;
            color: var(--button-font-color);
            border: none;
            padding: 8px 30px;
            margin: 26px auto 0px;
        }
    }
}