<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation routes="signin" value="mail_snt_btn_log_in_def"></app-navigation>
    <div class="reset-form">
        <div class="reset-header">
            {{'mail_snt_title_mail_snt_def' | translate}}
        </div>
        <div class="reset-text">
            {{'mail_snt_desc_rest_psw_def' | translate}}
        </div>
        <div class="resent-text">
            {{'mail_snt_btn_nt_recv_mail_def' | translate}} <a class="resent-mail" id="resend_mail" (click)="resend()">{{'mail_snt_btn_resend_email_def' | translate}}</a>
        </div>
        <button class="blue-btn start-watch" routerLink="/signin" ui-sref="static.signin({region: region})"> {{'mail_snt_btn_log_in_def' | translate}}</button>
    </div>
</div>