<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="wishlist-page">
        <div *ngFor="let section of data">
            <div *ngIf="section.list.length > 0">
                <div class="box-title">
                    <div class="box-head row no-margin">
                        <h3 class="main-title pull-left">{{section.title}}</h3>
                    </div>
                </div>
                <div class="section-line"></div>
                <app-slick-item [data]="section"></app-slick-item>
            </div>
        </div>
    </div>
    <div class="wishlist-description" *ngIf="wishlistCount==0">
        <img loading="lazy" class="search-zoom" src="assets/img/wishlist.svg">
        <p>{{'my_list_desc_empt_def' | translate}}</p>
    </div>
    <div id="data_loader" style="margin-top: 5px;text-align: center;display: none">
        <img loading="lazy" src="assets/img/ellipsis.svg" style="width: 40px;">
    </div>
</div>