.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .wishlist-page {
        padding-top: 173px;
        position: relative;
        margin: 0px 67px 100px 53px;
        .box-head {
            margin-bottom: 16px;
            color: var(--bg-font-color);
            height: 20px;
            h3 {
                height: 18px;
                font-family: Poppins-Bold;
                font-style: normal;
                font-size: 20px;
                line-height: 30px;
                color: var(--bg-font-color);
                margin: 0px;
            }
        }
        .section-line {
            background: linear-gradient(90deg, var(--button-color) -4.87%, rgba(220, 24, 10, 0) 100%);
            height: 1px;
            margin-bottom: 16px;
        }
    }
    .wishlist-description {
        width: 596px;
        height: 190px;
        margin: 231px auto 243px;
        text-align: center;
        color: var(--bg-font-color);
        font-family: Poppins-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        align-items: center;
        text-align: center;
        position: relative;
        .search-zoom {
            width: 91px;
            height: 91px;
            margin: auto;
            margin-bottom: 30px;
        }
    }
}