.category-videos-page {
    padding-top: 173px;
    margin: 0px 48px 100px;
}

.box-head h3 {
    height: 18px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--bg-font-color);
    margin: 0px;
}

.video-box-row {
    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    padding-bottom: 1px;
}