<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+homeImage+')'}" style="background-size: cover;background-repeat: no-repeat;">
    <div class="category-videos-page">
        <div infiniteScroll [infiniteScrollDistance]="1" (scrolled)="loadMore()" *ngIf="datasLength>0">
            <div class="video-full-box" *ngFor="let data of datas">
                <div *ngIf="data.videos.length>0">
                    <div class="box-title">
                        <div class="box-head row no-margin">
                            <h3 class="main-title pull-left">{{data.title}}</h3>
                            <a *ngIf="data.videos.length>0 && data.videos.length >(slideToShow-1)" class="see-all pull-right" [routerLink]="['/sub-cat',categoryName,data.key]" ui-sref="profile.title({category :categoryName_slug,subcat:data.slug,cat:data.key,region: region})" (click)="setTitleValue(categoryName)">{{'kws_kw_all_def' | translate}}></a>
                        </div>
                    </div>
                    <div class="section-line"></div>
                    <app-slick-item [data]="data" [categoryName]="categoryName"></app-slick-item>
                </div>
            </div>
        </div>
        <div class="wishlist-description" *ngIf="datas?.length==0">
            <img loading="lazy" class="search-zoom" src="assets/img/globe.svg">
            <p>{{'home_desc_region_def' | translate}}</p>
        </div>
    </div>
</div>