<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="manage-page">
        <div class="manage-content">
            <div class="" style="display: flex;flex-direction: row;">
                <a [routerLink]="['/account-settings']" ui-sref="profile.account-settings({region: region})"><img loading="lazy" src="assets/img/back.svg"></a>
                <h2 class="manage-header">{{'subsc_err_title_subsc_def'|translate}}</h2>
            </div>
            <p style="margin:100px auto 16px; text-align: center;color:var(--button-color);font-size: 20px;font-weight: bold;">
                {{'subsc_err_title_snap_def' | translate}}
            </p>
            <p style="text-align:center;font-size: 14px;" *ngIf="type=='ios'">
                {{'subsc_err_desc_subcr_def' | translate}} <b>{{'subsc_err_desc_apl_itun_def' | translate}}</b><br> {{'subsc_err_subscr_def'| translate}} <b>{{'subsc_err_ios_device_def' |translate}}
            </b>{{'subsc_err_or_from_def' | translate}} <b>{{'subsc_err_itun_web_prtl_def' | translate}}</b>
            </p>
            <p style="text-align:center;font-size: 14px;" *ngIf="type=='android'">
                {{'subsc_err_desc_subcr_def' | translate}} <b>{{'subsc_err_ggl_plstr_def' | translate}}</b><br> {{'subsc_err_subscr_def' | translate}} <b>{{'subsc_err_andr_dvic_def' | translate}}</b> {{'subsc_err_or_from_def' |translate}}
                <b>{{'subsc_err_plstr_web_prtl_def' | translate}}</b>
            </p>
        </div>
    </div>
</div>