.manage-content {
    background: var(--card-color);
    font-size: 24px;
    color: var(--card-font-color);
    width: 482px;
    height: 471px;
    margin: 0px auto;
    padding: 26px;
}

.manage-page {
    padding-top: 157px;
    height: 862px;
    margin-bottom: 100px;
}

.manage-header {
    color: var(--card-font-color);
    margin: 12px 15px;
    text-align: left;
    font-size: 31px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-weight: 500;
}