.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .ppv-page {
        padding-top: 157px;
        margin-bottom: 100px;
        .ppv-content {
            width: 958px;
            background: var(--card-color);
            padding: 30px 25px;
            margin: auto;
            color: var(--card-font-color);
            margin-bottom: 100px;
            .ppv-header {
                height: 47px;
                font-family: Poppins-Bold;
                font-size: 31px;
                line-height: 46px;
                color: var(--card-font-color);
                margin-bottom: 32px;
            }
            .ppv-video-description {
                display: flex;
                flex-direction: row;
                .ppv-img {
                    width: 165px;
                    height: 105px;
                    margin-right: 16px;
                }
                .ppv-video-info {
                    /* display: flex; */
                    flex-direction: column;
                    .ppv-video-title {
                        height: 30px;
                        font-family: Poppins-Bold;
                        font-size: 24px;
                        line-height: 30px;
                        color: var(--card-font-color);
                        span {
                            font-family: Poppins-Regular;
                        }
                    }
                    .ppv-video-desc {
                        /* height: 24px; */
                        font-family: Poppins-Regular;
                        font-size: 16px;
                        line-height: 24px;
                        color: var(--card-font-color);
                        span {
                            font-family: Poppins-Regular;
                        }
                    }
                }
            }
            .ppv-options {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 32px;
                .ppv-card {
                    background: #282875;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
                    border-radius: 15px;
                    width: 417px;
                    padding: 15px;
                    .ppv-info {
                        padding: 15px;
                        .ppv-title {
                            height: 38px;
                            font-family: Poppins-Bold;
                            font-size: 25px;
                            line-height: 37px;
                            text-align: center;
                            color: var(--card-font-color);
                            margin-bottom: 30px;
                        }
                        .ppv-amount {
                            height: 41.09px;
                            font-family: Poppins-Bold;
                            font-size: 39px;
                            line-height: 47px;
                            text-align: center;
                            color: var(--card-font-color);
                            margin-bottom: 30px;
                        }
                        .ppv-desc {
                            height: 47px;
                            font-family: Poppins-Bold!important;
                            font-size: 20px;
                            line-height: 24px;
                            color: var(--card-font-color);
                        }
                        .blue-btn {
                            border: none;
                            font-family: Poppins-Bold !important;
                            text-transform: capitalize;
                            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                            transition: 350ms;
                        }
                        .blue-btn:hover {
                            background: #fff;
                            color: #02021c;
                            transform: scale(1.05);
                            box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
                        }
                        .ppv-proceed {
                            width: 100%;
                            background: var(--button-color);
                            color: var(--button-font-color);
                            font-family: Poppins-Bold;
                            font-size: 25px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 35px;
                            height: 55px;
                        }
                    }
                }
            }
            .ppv-box-padding {
                padding: 20px 25px !important;
            }
        }
    }
}