<div class="home-bg-img" [ngStyle]="{'background': 'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="ppv-page">
        <div class="ppv-content">
            <div class="ppv-header">{{ppv?.page_title}}</div>
            <div class="ppv-video-description">
                <div class="ppv-img">
                    <img loading="lazy" class="ppv-img" src={{imagePath+ppv?.image}} width="165" height="105">
                </div>
                <div class="ppv-video-info">
                    <p class="ppv-video-title">{{'ppv_subsc_ofr_desc_title_def' | translate}} : <span>{{ppv?.content_title}}</span></p>
                    <!-- <span class="ppv-video-desc">{{'ppv_subsc_ofr_desc_cont_def' | translate}}: <read-more [text]="ppv?.content_desc" [maxLength]="230"></read-more></span> -->
                    <span class="ppv-video-desc">{{'ppv_subsc_ofr_desc_cont_def' | translate}}: 
                        <read-more [text]="ppv?.content_desc" [maxLength]="230"></read-more>
                    </span>
                </div>
            </div>
            <div class="ppv-options" *ngIf="ppvCardsLength > 1">
                <div class="ppv-card" *ngFor="let pay of ppv.cards" [ngStyle]="{'background':pay.redirect=='subscription'?'rgb(255, 255, 255,0.16)':'rgb(255, 255, 255,0.25)'}">
                    <div class="ppv-info">
                        <div class="ppv-title"> {{pay?.name}}</div>
                        <div class="ppv-amount">{{pay?.amount}}</div>
                        <p class="ppv-desc">{{pay?.description}}</p>
                        <button *ngIf="pay.redirect =='ppv'" class="blue-btn ppv-proceed" (click)="ppv_pay(pay.redirect)">{{'ppv_subsc_ofr_btn_pmnt_def' | translate}}</button>
                        <button *ngIf="pay.redirect=='subscription'" class="blue-btn ppv-proceed" (click)="ppv_pay(pay.redirect)">{{'ppv_subsc_ofr_btn_subsc_def' | translate}}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="ppvCardsLength ==1">
                <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 ppv-box-padding" *ngFor="let pay of ppv.cards" style="padding:20px 40px;">
                    <div class="ppv-card">
                        <h3 class="ppv-title"> {{pay?.name}}</h3>
                        <h2 class="ppv-amount">{{pay?.amount}}</h2>
                        <p class="ppv-desc">{{pay?.description}}</p>
                    </div>
                    <button *ngIf="ppv.cards.length == 1" class="ppv-proceed blue-btn" (click)="ppv_pay(pay.redirect)">{{'kws_kw_cont_def' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>