<div class="content" style="overflow:hidden">
    <!-- HIGHLIGHT -->
    <div *ngIf="dataAvailable">
        <div class="highlight" *ngIf="slidesLength>0">
            <ngx-slick-carousel #slickModal="slick-carousel" [config]="bannerConfig">
                <div ngxSlickItem *ngFor="let video of slides" class="item item-banner-scroller">
                    <div class="video-bg-image" [ngStyle]="{'background-image': 'var(--details-gradient),url('+imagePath+video.banner_image+')'}">
                    </div>
                    <div class="banner-info">
                        <img loading="lazy" class="banner-image-card" src="{{imagePath+video.poster_image}}">
                        <div class="banner-info-card">
                            <div class="banner-title-card" title="{{video.title}}">{{video.title}}</div>
                            <div class="banner-en-title-card">{{video.title_en}}</div>
                            <div class="banner-meta-card">
                                <div *ngIf="video.duration" class="duration-card">{{video.duration}} <span class="pipe">|</span></div>
                                <div *ngIf="video.publish_time" class="publish-card">{{video.publish_time}}</div><span *ngIf="video.age" class="pipe">|</span>
                                <div *ngIf="video.age" class="age-card">{{video.age}}</div>
                            </div>
                            <read-more class="banner-description-card" [text]="video.description" [maxLength]="250"></read-more>
                            <div class="banner-actions-card">
                                <!-- <button class="watch-action" (click)="redirect(video,'')"><img src="assets/img/play.png">{{'Watch Now'| translate}}</button> -->
                                <button class="blue-btn watch-action" (click)="redirect(video,'')">{{'home_btn_view_def'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
        <!-- END OF HIGHLIGHT -->
        <div class="video-section">
            <div infiniteScroll [infiniteScrollDistance]="1" (scrolled)="loadMore()">
                <div [ngClass]="{'home_top_class' : slidesLength>0, 'top_class' : slidesLength==0}">
                    <div class="post slide-area" *ngFor="let data of datas">
                        <div *ngIf="data.list.length > 0">
                            <div class="box-title">
                                <div class="box-head row no-margin">
                                    <h3 class="main-title pull-left">{{data.title}}</h3>
                                    <a *ngIf="data.list.length>0 && data.list.length >(slideToShow-1) && data.key!='channels'" class="see-all pull-right" [routerLink]="['/sub-cat', data.keyName]" ui-sref="profile.homeall({category :data.keyNameSlug,region: region})" (click)="setTitleValue(data.keyName)">
                                    {{'kws_kw_all_def' | translate}}></a>
                                    <a *ngIf="data.list.length>0 && data.list.length >(slideToShow-1) && data.key=='channels'" class="see-all pull-right" [routerLink]="['/channels']" ui-sref="profile.live_channels({region: region})">
                                    {{'kws_kw_all_def' | translate}}></a>
                                </div>
                            </div>
                            <div class="section-line"></div>
                            <app-slick-item [data]="data"></app-slick-item>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+imagePath+homeBgImage+')'}" style="background-size: cover;background-repeat: no-repeat;" *ngIf="!dataAvailable">
        <div class="category-videos-page">
            <div class="wishlist-description">
                <img loading="lazy" class="search-zoom" src="assets/img/globe.svg">
                <p>{{'home_desc_region_def' | translate}}</p>
            </div>
        </div>
    </div>
</div>
<app-mobile-app></app-mobile-app>