.highlight .slick-initialized .slick-slide {
    padding: 0px;
}

.highlight>.slick-slider>.slick-prev {
    display: none !important;
}

.highlight>.slick-slider>.slick-next {
    display: none !important;
}

.highlight .slick-track {
    padding: 0px !important
}

.video-bg-image {
    height: 814px;
    left: 0%;
    right: 0%;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(1.2);
    transition-timing-function: cubic-bezier(.26, .57, .46, .98);
    transition: 900ms;
    transform: scale(1.2) !important;
}

.slick-active .video-bg-image {
    transform: scale(1) !important;
}

.banner-info {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    width: 1046px;
    /* height: 299px; */
    margin-left: 12vw;
    top: 120px;
    align-items: center;
}

.banner-info-card {
    /* position: absolute; */
    width: 862px;
    height: 299px;
    padding-left: 48px;
}

.banner-en-title-card {
    position: relative;
    height: 23px;
    left: 0%;
    right: 60.76%;
    margin-top: 10px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: var(--bg-font-color);
}

.banner-meta-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: relative;
    width: 462px;
    height: 24px;
    left: 0px;
    margin-top: 24px;
}

.duration-card {
    position: relative;
    height: 24px;
    left: 0%;
    right: 67.53%;
    top: 0px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: var(--bg-font-color);
}

.publish-card {
    padding: 2px 6px;
    position: relative;
    width: 49px;
    height: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 12px;
    color: var(--bg-font-color);
    text-align: center;
}

.age-card {
    position: relative;
    width: 40px;
    height: 24px;
    padding: 2px 6px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 12px;
    color: var(--bg-font-color);
    text-align: center;
}

.banner-description-card {
    position: relative;
    /* height: 72px; */
    margin-top: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--bg-font-color);
    display: -webkit-box;
    /* -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.banner-actions-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: relative;
    width: 722.87px;
    height: 46px;
    left: 0px;
    margin-top: 24px;
}

.blue-btn {
    border: none;
    font-family: Poppins-Bold !important;
    text-transform: capitalize;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms;
}

.blue-btn:hover {
    background: #fff;
    color: #02021c;
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}

.watch-action {
    position: relative;
    /* width: 212px; */
    height: 48px;
    margin-right: 20px;
    background: var(--button-color);
    border-radius: 23px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: var(--button-font-color);
    text-align: center;
    padding: 8px 30px;
}

.video-section {
    position: relative;
    height: auto;
    top: -230px;
}

.home_top_class {
    margin: 0px 48px 0%;
}

.top_class {
    padding: 370px 48px 0px;
}

.post {
    -webkit-animation: somename 0.7s;
    -moz-animation: somename 0.7s;
    animation: somename 0.7s;
}

.video-box-row {
    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    padding-bottom: 1px;
}

.home-bg-img {
    position: relative;
    min-height: 814px;
    left: 0%;
    right: 0%;
    top: 0px;
}

.category-videos-page {
    padding-top: 173px;
    margin: 0px 48px 100px;
}

.banner-title-card {
    position: relative;
    height: 85px;
    left: 0%;
    right: 40%;
    top: 0px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 56px;
    align-items: center;
    text-transform: uppercase;
    color: var(--bg-font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

.banner-image-card {
    width: 280px;
    height: 420px;
    left: 0;
    top: 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    filter: saturate(1.3);
    border-radius: 4px;
}