<div class="box video-box-row ">
    <ngx-slick-carousel #slickModal="slick-carousel" [config]="cardConfig" class="slider video-slider multiple-items" *ngIf="data?.orientation =='2'" [ngStyle]="{'height':'220px'}">
        <!-- <div *ngIf=""></div> -->
        <div ngxSlickItem *ngFor="let value of dataList" class="slide-box tile video-box lower-z-index">
            <div class="video-box-outer">
                <div class="tile-media">
                    <a (click)="redirect(value,data.key,data.title)">
                        <div class="img-gradient"></div> <img loading="lazy" class="tile-img" src="{{imagePath+value.banner_low}}" alt="" />
                        <!-- <div class="paid-tag" ng-if="value.is_svod==1"><img style="height:30px;width:30px" ng-src="assets/img/subscription-tag.png">
                        </div>
                        <div class="paid-tag" ng-if="value.is_tvod==1"><img style="height:30px;width:30px" ng-src="assets/img/ppv-tag.png">
                        </div> -->
                        <p class="video-title">{{value.title}}</p>
                        <p class="video-en-title">{{value.title_en}}</p>
                    </a>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
    <ngx-slick-carousel #slickModal="slick-carousel" [config]="seriesConfig" class="slider series-slider multiple-items" *ngIf="data?.orientation =='1'" [ngStyle]="{'height':'370px'}">
        <div ngxSlickItem *ngFor="let value of dataList" class="slide-box tile series-tile video-box lower-z-index">
            <div class="video-box-outer">
                <div class="series-tile-media">
                    <a (click)="redirect(value,data.key, data.title)">
                        <div *ngIf="value.is_livechannel != '1'" class="series-gradient"></div>
                        <img class="series-tile-img" loading="lazy" src="{{imagePath+value.poster_image}}" alt="" title="{{value.title}}" />
                        <!-- <img ng-if="value.is_livechannel==1" class="channel-icon" bn-lazy-src="{{imagePath+value.icon}}" alt="icon"> -->
                        <!-- <div class="paid-tag" ng-if="value.is_svod==1"><img style="height:30px;width:30px" ng-src="assets/img/subscription-tag.png">
                        </div>
                        <div class="paid-tag" ng-if="value.is_tvod==1"><img style="height:30px;width:30px" ng-src="assets/img/ppv-tag.png">
                        </div> -->
                        <p *ngIf="value.is_livechannel!=1" class="video-title">{{value.title}}
                        </p>
                        <p *ngIf="value.is_livechannel!=1" class="video-en-title">
                            {{value.title_en}}</p>
                        <!-- <p class="video-title">{{value.title}}</p>
                        <p class="video-en-title">{{value.title_en}}</p> -->
                    </a>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>