footer {
    height: 235px;
    bottom: 0px;
    position: static;
    .footer {
        height: 175px;
        background: var(--footer-color);
        display: flex;
        flex-direction: row;
        width: 100%;
        position: sticky;
        .footer-content {
            margin: auto;
            align-items: center;
            flex-flow: row wrap;
            justify-content: flex-start;
            justify-content: center;
            padding: 0px 10px;
            display: flex;
            flex-direction: row;
            .app-icon {
                width: 108px;
                height: 32px;
                margin: 26px 16px;
                .app-img {
                    width: 108px;
                    height: 32px;
                }
            }
            .footer-logo {
                width: 120px;
                height: 70px;
                left: 0px;
                margin-top: 5px;
            }
            .pages-list {
                display: flex;
                flex-direction: row;
                .foot-link {
                    margin: 26px 16px;
                    height: 30px;
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: var(--footer-font-color) !important;
                    text-transform: capitalize;
                    cursor: pointer;
                }
                .foot-link:hover {
                    text-decoration: none !important;
                    color: #fff !important;
                }
            }
        }
    }
    .social-icon {
        width: auto !important;
        height: auto !important;
        padding: 0px 3px;
    }
    .social-links {
        padding: 0px 10px;
    }
    .copy-right {
        position: absolute;
        height: 60px;
        background: var(--bg-color);
        width: 100%;
        p {
            position: relative;
            height: 18px;
            top: 21px;
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #3E3E3E;
        }
    }
}