<footer>
    <div class="footer">
        <div class="footer-content">
            <img loading="lazy" class="footer-logo" [src]="logo">
            <div class="pages-list" *ngFor="let page of pageList">
                <a (click)="goToFooter(page)" class="foot-link">{{page.heading}}</a>
            </div>
            <div class="pages-list" *ngIf="guest">
                <a ui-sref="profile.feedback(({region: region}))" class="foot-link">{{'foot_btn_feed_def'|translate}}</a>
            </div>
            <!-- <div *ngIf="guest" class="pages-list">
                <a [routerLink]="['/sitemap']" class="foot-link">Sitemap</a>
            </div> -->
            <div class="app-icon" *ngIf="appstore">
                <a target="_blank" href="{{appstore}}">
                    <img loading="lazy" class="app-img" src="assets/img/ios-app.svg">
                </a>
            </div>
            <div class="app-icon" *ngIf="playstore">
                <a target="_blank" href="{{playstore}}">
                    <img loading="lazy" class="app-img" src="assets/img/android.svg">
                </a>
            </div>
        </div>
        <div class="social-links" *ngIf="socialLength">
            <ul class="foot-share">
                <li *ngIf="facebookLink">
                    <a href="{{facebookLink}}" target="_blank">
                        <img loading="lazy" class="social-icon" src="assets/img/facebook.svg">
                    </a>
                </li>
                <li *ngIf="twitterLink">
                    <a href="{{twitterLink}}" target="_blank">
                        <img loading="lazy" class="social-icon" src="assets/img/twitter.svg">
                    </a>
                </li>
                <li *ngIf="linkedinLink">
                    <a href="{{linkedinLink}}" target="_blank">
                        <img loading="lazy" class="social-icon" src="assets/img/linkedin.svg">
                    </a>
                </li>
                <li *ngIf="instagramLink">
                    <a href="{{instagramLink}}" target="_blank">
                        <img loading="lazy" class="social-icon" src="assets/img/instagram.svg">
                    </a>
                </li>
                <li *ngIf="pinterestLink">
                    <a href="{{pinterestLink}}" target="_blank">
                        <img loading="lazy" class="social-icon" src="assets/img/pinterest.svg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-right">
        <p>{{ 'foot_copyright_def' | translate }}</p>
    </div>
</footer>