.update-details {
    padding-top: 13px;
}

.update-page {
    padding: 82px 23px;
    background: var(--card-color);
    max-width: 482px;
    margin: auto;
}

.update-header {
    /* height: 30px; */
    margin-top: 25px;
    font-family: Poppins-Bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--button-color);
}

.update-text {
    /* height: 42px; */
    margin: 16px 0px;
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--bg-font-color);
}

.home-btn {
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    border-radius: 23px;
    text-align: center;
    color: var(--button-font-color);
    padding: 8px 20px;
    background: var(--button-color);
}