<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+homeImage+')'}" style="background-size: cover;background-repeat: no-repeat;">
    <app-navigation [guest]="false"></app-navigation>
    <!-- <div id="pagetitle">
        <h1 class="wdn-text-hidden">{{pageH1Tag}}</h1>
    </div> -->
    <div class="update-details container">
        <div class="update-page text-center">
            <img loading="lazy" src="assets/img/cancel-check.svg" alt="check" width="75" height="75" style="border: 0; font-size: 0; margin: 0; max-width: 100%; padding: 0;">
            <p class="update-header">{{'updt_mth_title_pmnt_def' | translate}}</p>
            <div class="update-text">
                <p>{{'updt_mth_desc_futu_def' | translate}}</p>
            </div>
            <div class="row">
                <a [routerLink]="['/home']" ui-sref="profile.home({region: region})">
                    <button class="home-btn blue-btn"> {{'updt_mth_btn_go_home_def'|translate}}</button>
                </a>
                <a href="filmbox://" *ngIf="showIosApp">
                    <button class="home-btn blue-btn"><i class="fa fa-apple"></i> {{'updt_mth_btn_open_app_def'|translate}}</button>
                </a>
                <a href="intent://URLHandler/#Intent;scheme=filmbox;package=com.spi.filmbox;end" *ngIf="showAndroidApp">
                    <button class="home-btn blue-btn"><i class="fa fa-android"></i> {{'updt_mth_btn_open_app_def'|translate}}</button>
                </a>
            </div>
        </div>
    </div>
</div>