.video-bg-image {
    height: 814px;
    left: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transition-timing-function: cubic-bezier(.26, .57, .46, .98);
    transition: .9s;
    transform: scale(1.2)!important;
}

.slick-active .video-bg-image {
    transform: scale(1) !important;
}

.video-info {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    width: 1046px;
    height: 420px;
    margin-left: 12vw;
    top: 160px;
    align-items: center;
}

.image-card {
    /* position: absolute; */
    width: 280px;
    height: 420px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    filter: saturate(1.3);
}

.info-card {
    width: 721px;
    height: 368px;
    margin-left: 48px;
}

.title-card {
    position: relative;
    height: 48px;
    left: 0%;
    right: 40%;
    /* margin-top: 16px; */
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 38px;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    text-transform: uppercase;
    color: var(--bg-font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.en-title-card {
    position: relative;
    height: 23px;
    left: 0%;
    right: 60.76%;
    margin-top: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: var(--bg-font-color);
}

.description-card {
    position: relative;
    /* height: 72px; */
    margin-top: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--bg-font-color);
    display: -webkit-box;
    /* -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.meta-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: relative;
    /* width: 462px; */
    height: 24px;
    left: 0px;
    margin-top: 24px;
}

.duration-card {
    position: relative;
    height: 24px;
    left: 0%;
    right: 67.53%;
    top: 0px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: var(--bg-font-color);
}

.publish-card {
    position: relative;
    width: 49px;
    height: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 12px;
    color: var(--bg-font-color);
    text-align: center;
}

.age-card {
    position: relative;
    width: 40px;
    height: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 12px;
    color: var(--bg-font-color);
    text-align: center;
}

.director-card {
    position: relative;
    height: 24px;
    left: 0%;
    right: 2.42%;
    margin-top: 24px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    color: var(--bg-font-color);
}

.actions-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: relative;
    width: 722.87px;
    height: 46px;
    left: 0px;
    margin-top: 24px;
}

.watch-action {
    position: relative;
    width: auto;
    padding: 8px 30px;
    height: 46px;
    margin-right: 20px;
    box-sizing: border-box;
    border-radius: 23px;
    color: var(--button-font-color);
    font-family: Poppins-Bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background: var(--button-color);
}

.trailer-action {
    position: relative;
    width: 212px;
    height: 48px;
    margin-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 23px;
    color: var(--bg-font-color);
    font-family: Poppins-Bold;
    font-size: 20px;
    /* line-height: 42px; */
    text-align: center;
    background: transparent;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms;
}

.wishlist-action {
    position: relative;
    width: 42.87px;
    height: 46px;
    cursor: pointer;
}

.wishlist-action>img:hover {
    transform: scale(1.1);
    /* background: url('assets/img/favorite-filled.png');
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3); */
    /* box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3); */
}

.morelike-slider-info {
    position: relative;
    margin: -176px 48px 150px 48px;
}

.related-header {
    position: relative;
    height: 22px;
    left: 0%;
    right: 82.6%;
    top: 0px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: var(--bg-font-color);
}

.related-title {
    position: absolute;
    width: 248px;
    height: 19px;
    left: 359.87px;
    top: 168.25px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
}

.tags-section {
    display: -webkit-inline-box;
    width: 350px;
}

.player-page {
    overflow: hidden;
}

.button-back {
    position: absolute;
    width: 17px;
    left: 50px;
    top: 46px;
    opacity: 0.7;
    z-index: 2;
    cursor: pointer;
}

.video-header {
    position: absolute;
    /* width      : 405px; */
    height: 30px;
    left: 99px;
    top: 46px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.7;
    z-index: 2;
}

.fullvideo {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #1F1F1F;
}