<div [hidden]="playerActive">
    <div class="video-bg-image" [ngStyle]="{'background-image': 'var(--details-gradient),url('+imagePath+video?.banner_image+')'}">
    </div>
    <div class="video-info">
        <img loading="lazy" class="image-card" src="{{imagePath+video?.poster_image}}">
        <div class="info-card">
            <div class="title-card" [title]="video?.title">{{video?.title}}</div>
            <div class="en-title-card">{{video?.title_en}}</div>
            <!-- <div class="description-card">{{video?.description}}</div> -->
            <read-more *ngIf="video?.description" style="color:var(--bg-font-color);" class="description-card" [text]="video.description" [maxLength]="250"></read-more>
            <div class="meta-card">
                <div *ngIf="video?.duration" class="duration-card">{{video?.duration}} <span class="pipe">|</span></div>
                <div *ngIf="video?.publish_time" class="publish-card">{{video?.publish_time}}</div><span *ngIf="video?.age" class="pipe">|</span>
                <div *ngIf="video?.age" class="age-card">{{video?.age}}</div><span *ngIf="tagsLength>0" class="pipe">|</span>
                <div class="tags-section" *ngIf="tagsLength>0">
                    <div *ngFor="let tag of tags;let index= index;"><span class="tag-card" *ngIf="index<3">{{tag}}</span></div>
                </div>
            </div>
            <div class="director-card">
                <div style="display:inline-flex;max-height: 24px" *ngIf="video?.director"> <span>{{'cnt_del_page_desc_dirctr_def'| translate}}</span> &nbsp;
                    <span [title]="video.director" class="text-hidden" style="font-family: Poppins-Regular;color:var(--bg-font-color);max-width: 120px;">
                    {{director}}
                    </span>
                </div>
                <div *ngIf="video?.director && video?.cast" class="pipe">|</div>
                <div style="display:inline-flex;max-height: 24px" *ngIf="video?.cast">{{'cnt_del_page_desc_cast_def'| translate}}&nbsp;
                    <span [title]="video.cast" class="text-hidden" style="font-family: Poppins-Regular;color:var(--bg-font-color);max-width: 440px;">
                   {{cast}}
                    </span>
                </div>
            </div>
            <div class="actions-card">
                <button class="blue-btn watch-action" *ngIf="video?.availability==1" (click)="playVideo(video?.content_id,'',video?.title)">{{'cnt_del_page_btn_subsc_def'| translate}}</button>
                <button class="blue-btn watch-action" *ngIf="video?.availability==2 && video?.tvod_max_age ==0" (click)="playVideo(video?.content_id,'',video?.title)">{{'cnt_del_page_btn_buy_def'|translate}} {{video?.amount}}</button>
                <button class="blue-btn watch-action" *ngIf="video?.availability==2 && video?.tvod_max_age !=0" (click)="playVideo(video?.content_id,'',video?.title)">{{'cnt_del_page_btn_rent_def'|translate}} {{video?.amount}}</button>
                <button class="blue-btn watch-action" *ngIf="video?.availability==3" (click)="playVideo(video?.content_id,'',video?.title)">{{'cnt_del_page_btn_watch_def'|translate}}</button>
                <button class="white-btn trailer-action" *ngIf="videoLength>0" (click)="selectTrailer(trailers[0])">{{'cnt_del_page_btn_tralr_def'|translate}}</button>
                <a class="wishlist-action" *ngIf="video?.wishlist_status == 0" (click)="addWishlist(video?.content_id, '','single',1, video?.title)"><img loading="lazy" src="assets/img/favorite-empty.svg"></a>
                <a class="wishlist-action" *ngIf="video?.wishlist_status == 1" (click)="removeWishlist(video?.content_id, '','single',0)"><img loading="lazy" src="assets/img/favorite-filled.svg"></a>
            </div>
        </div>
    </div>
    <div class="morelike-slider-info" *ngIf="likedvodLength>0">
        <div class="box-head">
            <h3>{{'cnt_del_page_title_rel_def'|translate}}</h3>
        </div>
        <div class="section-line"></div>
        <div class="morelike-slider">
            <app-slick-item [data]="moreLikeVideos"></app-slick-item>
        </div>
    </div>
    <app-signin-popup [back]="back"></app-signin-popup>
</div>
<div [hidden]="!playerActive" class="player-page">
    <a class="button-back" (click)="closeVideo()"><img loading="lazy" src="assets/img/back.svg"></a>
    <div class="video-header">{{videoTitle}}</div>
    <div [ngClass]="{fullvideo:1}" id="video-player">
    </div>
</div>