@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont-1.svg), url(../fonts/fontawesome-webfont-1.ttf), url(../fonts/fontawesome-webfont-2.eot), url(../fonts/fontawesome-webfont-1.woff)
}