<div [hidden]="!(showIosApp || showAndroidApp)" style="position: fixed;top: 0;background: var(--mm-color);z-index: 1050;height: 100%;width:100vw;overflow: scroll;">
    <div class="content" style="margin-top:70px;">
        <div class="text-center"><img loading="lazy" style="width:150px;height: 100px;" [src]="logo"></div>
        <div class="" style="margin-top:50px;">
            <div class="basic-text text-center" style="font-size:20px;color:var(--bg-font-color);padding:0px 20px;">
                <p>{{'res_mbl_def_app_def' | translate}}</p>
                <div class="text-center" style="margin-top:50px;margin-bottom:50px;">
                    <p *ngIf="showAndroidApp">
                        <a target="_blank" href="intent://URLHandler/#Intent;scheme=filmbox;package=com.spi.filmbox;end">
                            <img loading="lazy" src="assets/img/android.svg" width="165" height="50">
                        </a>
                    </p>
                    <p *ngIf="showIosApp">
                        <a target="_blank" href="filmbox://">
                            <img loading="lazy" src="assets/img/ios-app.svg" width="165" height="50">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>