<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="account-page">
        <div class="container account-layout-center card-bg card-bg">
            <div class="account-layout-inner">
                <div class="">
                    <h1 class="account-header">{{'my_acc_title_my_acc_def'|translate}}</h1>
                </div>
                <div class="account-content">
                    <div class="profile-picture">
                        <img loading="lazy" [src]="userPicture">
                    </div>
                    <div class="account-section row no-margin">
                        <div class="my-account-cards ">
                            <p class="account-section-title">{{'my_acc_title_profl_def'|translate}}</p>
                            <div class="profile-line"></div>
                            <div class="account-section-content-block">
                                <p class="account-section-text">{{'my_acc_desc_full_name_def' | translate}}
                                    <span>{{userName}}</span></p>
                                <p class="account-section-text" *ngIf="userLoginBy == 'manual'">
                                    {{'my_acc_desc_email_def'| translate}} <span>{{userEmail}}</span></p>
                                <p class="account-section-text account-gray-text">{{'my_acc_desc_psw_def'|translate}}
                                    <span>********</span></p>
                            </div>
                            <div class="profile-actions">
                                <a [routerLink]="['/edit-account']" ui-sref="profile.edit-account({region: region})" class="account-section-link">{{'my_acc_btn_edit_acc_def'|translate}}</a>
                                <a *ngIf="userLoginBy == 'manual'" [routerLink]="['/change-password']" ui-sref="profile.change-password({region: region})" class="account-section-link">{{'my_acc_btn_cng_pass_def'|translate}}</a>
                                <a *ngIf="locales.length>1" [routerLink]="['/app-language', 'update']" routerLinkActive="active" ui-sref="profile.app-language({region: region})" class="account-section-link">{{'my_acc_btn_cng_app_lang_def'|translate}}</a>
                                <a (click)="logout()" class="red-section-link">{{'my_acc_btn_log_out_def'|translate}}</a>
                                <!-- <a [routerLink]="['/delete-account']" ui-sref="profile.delete-account({region: region})" class="red-section-link">{{'Delete Account'|translate}}</a> -->
                            </div>
                        </div>
                        <div class="my-account-cards" *ngIf="settingsService.isSvodEnabled==1 && userTelco==''">
                            <p class="account-section-title" *ngIf="myAccountData.is_voucher_applied == 0">
                                {{'my_acc_title_subsc_detl_def'|translate}}</p>
                            <p class="account-section-title" *ngIf="myAccountData.is_voucher_applied == 1">
                                {{'my_acc_title_vchr_detl_def'|translate}}</p>
                            <div class="profile-line"></div>
                            <div class="account-section-content-block" *ngIf="settingsService.isSvodEnabled==1 && myAccountData.is_subscription_applied ==1 && myAccountData.user_type==1">
                                <p class="account-section-text">{{'my_acc_desc_current_plan_def' | translate}}
                                    <span>{{myAccountData.payment_method.subscription_title}}</span>
                                </p>
                                <p class="account-section-text">{{'my_acc_desc_next_due_date_def' | translate}}
                                    <span>{{myAccountData.payment_method.next_due_date}}</span>
                                </p>
                                <p class="account-section-text">{{'my_acc_desc_pmnt_procsr_def' | translate}}
                                    <span>{{myAccountData.payment_method.payment_processor|translate}}</span>
                                </p>
                            </div>
                            <div class="account-section-content-block" *ngIf="myAccountData.is_voucher_applied == 1 && settingsService.enablePartnerVoucher==1  && myAccountData.user_type==1">
                                <p class="account-section-text">{{'my_acc_desc_vchr_code_def' | translate}}:
                                    <span> {{myAccountData.voucher.voucher_code}}</span>
                                </p>
                                <p class="account-section-text">{{'my_acc_desc_expiry_date_def' | translate}}:
                                    <span> {{myAccountData.voucher.expiry_date}}</span>
                                </p>
                            </div>
                            <div class="account-section-content-block" *ngIf="myAccountData.is_subscription_applied == 0  && myAccountData.is_voucher_applied == 0 && myAccountData.user_type==0">
                                <p class="no-plan" *ngIf="settingsService.isSvodEnabled && settingsService.enablePartnerVoucher">
                                    {{'my_acc_active_subcrptn_def'| translate}}
                                </p>
                                <p class="no-plan" *ngIf="settingsService.isSvodEnabled && settingsService.enablePartnerVoucher!=1">
                                    {{'my_acc_desc_active_subcrptn_def'| translate}}
                                </p>
                                <p class="no-plan" *ngIf="settingsService.isSvodEnabled!=1 && settingsService.enablePartnerVoucher">
                                    {{'my_acc_desc_active_voucher_def'| translate}}
                                </p>
                            </div>

                            <div class="account-section-content-block">
                                <a *ngIf="settingsService.isSvodEnabled==1 && myAccountData.user_type==0" [routerLink]="['/subscriptions']" ui-sref="profile.subscriptions({region: region})" class="account-section-link">{{'my_acc_btn_get_subcrptn_def'|translate}}<br></a>
                                <a *ngIf="settingsService.enablePartnerVoucher==1 && myAccountData.is_subscription_applied==0" [routerLink]="['/redeem/voucher']" ui-sref="profile.redeem_voucher({region: region})" class="account-section-link">{{'my_acc_btn_redeem_vchr_def'|translate}}<br></a>
                                <a *ngIf="settingsService.isSvodEnabled==1 && myAccountData.is_subscription_applied == 1 && myAccountData.user_type==1" (click)="checkSubscriptionDevice()" class="account-section-link">{{'my_acc_btn_mnge_subsc_def'|translate}}<br></a>
                                <a *ngIf="settingsService.isSvodEnabled==1 && myAccountData.is_subscription_applied == 1 && myAccountData.payment_method.payment_mode && myAccountData.payment_method.payment_mode !='inapp-google' && myAccountData.payment_method.payment_mode !='inapp-apple' && myAccountData.user_type==1"
                                    (click)="updateMethod()" class="account-section-link">{{'my_acc_btn_updt_pmnt_info_def'|translate}}<br></a>
                                <a [routerLink]="['/payment-details']" ui-sref="profile.payment-details({region: region})" class="account-section-link">{{'my_acc_btn_bil_his_def'|translate}}</a>
                            </div>
                        </div>
                        <div class="my-account-cards" *ngIf="settingsService.isSvodEnabled==0 && settingsService.isTvodEnabled==1 && userTelco==''">
                            <p class="account-section-title">{{'my_acc_title_pmnt_detl_def'|translate}}</p>
                            <div class="profile-line"></div>
                            <div class="account-section-content-block">
                                <a [routerLink]="['/payment-details']" ui-sref="profile.payment-details({region: region})" class="account-section-link">{{'my_acc_btn_bil_his_def'|translate}}</a>
                            </div>
                        </div>
                        <div class="my-account-cards">
                            <p class="account-section-title">{{'my_acc_title_dvic_sessions_def'|translate}}</p>
                            <div class="profile-line"></div>
                            <!-- <div class="account-section-content-block">
                                <p class="no-plan">{{'You have 5 active devices using your account.'| translate}}
                                </p>
                            </div> -->
                            <div class="account-section-content-block">
                                <a [routerLink]="['/devices']" ui-sref="profile.devices({region: region})" class="account-section-link">{{'my_acc_btn_mng_dvic_def'|translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>