.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .account-page {
        padding-top: 157px;
        /* height    : 862px; */
        margin-bottom: 100px;
        .account-layout-center {
            min-width: 482px;
            width: max-content;
            margin: 0px auto;
            padding: 24px;
            background: var(--card-color);
            .account-header {
                color: var(--card-font-color);
                margin: 10px 15px;
                text-align: left;
                font-size: 31px;
                font-family: Poppins-Bold;
                font-style: normal;
                font-weight: 500;
                /* border-bottom: 1px solid var(--card-font-color); */
            }
            .profile-picture {
                height: 139px;
                padding-top: 24px;
                text-align: center;
                img {
                    width: 91px;
                    height: 91px;
                    margin: 0px 24px;
                    border-radius: 50px;
                    border: 2px solid #fff;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                }
            }
            .my-account-cards {
                background-color: transparent;
                padding: 0px;
                /* height       : 186px; */
                margin-top: 24px;
                .account-section-title {
                    margin: 0px;
                    color: var(--card-font-color);
                    /* text-transform: uppercase; */
                    font-size: 18px;
                    font-family: Poppins-Bold;
                    margin-bottom: 3px;
                }
                .profile-line {
                    width: 434px;
                    height: 1px;
                    left: 0px;
                    top: 24px;
                    background: linear-gradient(90deg, var(--button-color) 0%, rgba(220, 24, 10, 0) 100%);
                }
                .account-section-content-block {
                    /* height: 63px; */
                    margin-top: 16px;
                    .account-section-text {
                        color: var(--card-font-color);
                        font-family: Poppins-Bold !important;
                        font-size: 14px;
                        margin-bottom: 0px;
                        margin-top: 0px;
                        line-height: 21px;
                        .account-section-text>span {
                            font-family: Poppins-Regular !important;
                        }
                    }
                    .account-gray-text {
                        color: var(--card-font-color);
                        font-weight: normal;
                    }
                    .no-plan {
                        font-size: 14px;
                        line-height: 21px;
                        color: var(--bg-font-color);
                    }
                }
                .account-section-link {
                    color: var(--button-color);
                    font-size: 14px;
                    display: block;
                    cursor: pointer;
                    margin-bottom: 8px;
                }
                .account-section-link:hover,
                .account-section-link:focus {
                    text-decoration: underline;
                    color: var(--button-color);
                }
                .red-section-link {
                    color: #ff0000 !important;
                    font-size: 14px !important;
                    display: block;
                    cursor: pointer;
                    margin-bottom: 8px;
                }
            }
        }
        .card-bg {
            background: var(--card-color);
        }
    }
}