<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="authenticate-page">
        <div class="authenticate-details">
            <h1 class="authenticate-header">{{'menu_btn_auth_def'|translate}}</h1>
            <div class="authenticate-text">{{'auth_desc_code_tv_def' | translate}} </div>
            <div class="tv-picture">
                <img loading="lazy" class="tv-icon" src="assets/img/tv-icon.svg">
                <div class="auth-code">{{code}}</div>
            </div>
        </div>
    </div>
</div>
<app-signin-popup [back]="back" [close]="close"></app-signin-popup>