.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .authenticate-page {
        padding-top: 153px;
        .authenticate-details {
            width: 482px;
            height: 426px;
            background: var(--card-color);
            margin: 0px auto 100px;
            padding: 20px 26px 23px;
            .tv-picture {
                text-align: center;
                position: absolute;
                left: 50%;
                margin-left: -122px;
                margin-top: 50px;
            }
            .authenticate-header {
                height: 47px;
                font-family: Poppins-Bold;
                font-style: normal;
                font-size: 31px;
                line-height: 46px;
                color: var(--card-font-color);
                margin-bottom: 26px;
                text-align: center;
            }
            .authenticate-text {
                height: 21px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: var(--card-font-color);
                margin-bottom: 16px;
            }
            .auth-code {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 72px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--card-font-color);
                margin-top: -25px;
                text-transform: uppercase;
            }
        }
    }
}