<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation routes="signup" value="login_btn_sign_up_def"></app-navigation>
    <div class="login-form-options">
        <div class="login-form-options-inner">
            <h1 class="login-title">{{'login_title_start_watc_def' |translate}}</h1>
            <p class="options-text">{{'login_desc_def' | translate}}</p>
            <div class="login-options">
                <div class="log-option">
                    <div class="signin-option">
                        <img loading="lazy" src="assets/img/plus-logo.svg">
                        <button class="blue-btn login-option" routerLink="/signin" ui-sref="static.signin({region: region})">{{'login_btn_login_def'| translate}}</button>
                    </div>
                </div>
                <div class="line"></div>
                <div class="log-option">
                    <div class="operator-option">
                        <div class="operator1">
                            <img loading="lazy" src="assets/img/invitel.svg" width="115" height="41">
                            <img loading="lazy" src="assets/img/upcdirec.svg" width="137" height="41">
                            <img loading="lazy" src="assets/img/tvextra.svg" width="90" height="41">
                        </div>
                        <div class="operator2">
                            <img loading="lazy" src="assets/img/vidanet.svg" width="138" height="41">
                            <img loading="lazy" src="assets/img/telecom.svg" width="82" height="41">
                        </div>
                        <button class="blue-btn operator-login" routerLink="/telco-login" ui-sref="static.operatorlogin({region: region})">{{'login_btn_login_optr_def' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>