.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .navbar-default {
        pointer-events: all;
    }
    .login-form-options {
        position: relative;
        width: 1067px;
        height: 705px;
        margin: 101px auto 0px;
        .login-form-options-inner {
            display: flex;
            flex-direction: column;
            padding: 0px;
            position: relative;
            width: 1067px;
            height: 320px;
            /* left: 374px; */
            /* top: 101px; */
            margin: 0px auto;
            .login-title {
                position: relative;
                /* width: 119px; */
                width: max-content;
                height: 30px;
                margin: 0px auto;
                font-family: Poppins-Bold;
                font-style: normal;
                font-size: 40px;
                line-height: 60px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--bg-font-color);
                text-transform: capitalize;
            }
            .options-text {
                position: relative;
                width: max-content;
                height: 60px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--bg-font-color);
                margin: 26px auto 0px;
            }
            .login-options {
                display: flex;
                flex-direction: row;
                padding: 0px;
                position: relative;
                width: 1067px;
                height: 208px;
                left: 0px;
                margin-top: 26px;
                .log-option {
                    position: relative;
                    width: 533px;
                    height: 208px;
                    /* left: calc(50% - 533px/2 - 267px);
                    top: calc(50% - 208px/2 + 56px); */
                    .signin-option {
                        position: relative;
                        width: 225px;
                        height: 191px;
                        margin: 17px auto 0px;
                        display: flex;
                        flex-direction: column;
                        padding: 0px;
                        img {
                            width: 184px;
                            height: 109px;
                            margin: 0px auto;
                        }
                        .blue-btn {
                            border: none;
                            font-family: Poppins-Bold !important;
                            text-transform: capitalize;
                            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                            transition: 350ms;
                        }
                        .blue-btn:hover {
                            background: #fff;
                            color: #02021c;
                            transform: scale(1.05);
                            box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
                        }
                        .login-option {
                            padding: 7px 18px;
                            position: relative;
                            // width: 225px;
                            height: 46px;
                            background: var(--button-color);
                            border: 1px solid rgba(255, 255, 255, 0.5);
                            box-sizing: border-box;
                            border-radius: 23px;
                            margin: 26px auto 0px;
                            color: var(--button-font-color);
                            font-family: Poppins-Bold;
                            font-size: 20px;
                            line-height: 30px;
                        }
                    }
                    .operator-option {
                        width: 410px;
                        height: 208px;
                        margin: 0px auto;
                        .operator1 {
                            display: flex;
                            flex-direction: row;
                            width: 410px;
                            height: 41px;
                            opacity: 0.75;
                            margin: 0px;
                            img {
                                margin-right: 36px;
                            }
                        }
                        .operator2 {
                            display: flex;
                            flex-direction: row;
                            width: 259px;
                            height: 41px;
                            opacity: 0.75;
                            margin: 32px auto 0px;
                            img {
                                margin-right: 32px;
                            }
                        }
                        .blue-btn {
                            border: none;
                            font-family: Poppins-Bold !important;
                            text-transform: capitalize;
                            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                            transition: 350ms;
                        }
                        .blue-btn:hover {
                            background: #fff;
                            color: #02021c;
                            transform: scale(1.05);
                            box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
                        }
                        .operator-login {
                            display: flex;
                            flex-direction: row;
                            padding: 7px 18px;
                            position: relative;
                            width: 233px;
                            height: 46px;
                            background: #FFFFFF;
                            border: 1px solid rgba(255, 255, 255, 0.5);
                            box-sizing: border-box;
                            border-radius: 23px;
                            font-family: Poppins-Bold;
                            font-size: 20px;
                            line-height: 30px;
                            color: #02021C;
                            margin: 40px auto 0px;
                        }
                    }
                }
                .line {
                    position: relative;
                    width: 208px;
                    height: 0px;
                    /* left: calc(50% - 208px/2 + 103.5px); */
                    top: calc(50% - 0px/2 - 48px);
                    border: 1px solid #CACACA;
                    transform: rotate(90deg);
                    margin-top: 58px;
                }
            }
        }
    }
}