<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+homeImage+')'}" style="background-size: cover;
background-repeat: no-repeat;background-position: center;">
    <div class="view-more-page" [ngStyle]="{'width.px':(orientation =='2')? videosWidth:seriesWidth}">
        <div *ngIf="datasLength>0">
            <div class="box-head">
                <h3>{{title}}</h3>
            </div>
            <div class="section-line"></div>
            <!-- <button (click)="loadMoreDetails()" ng-hide="true" id="load_more_details"></button> -->
            <div infiniteScroll [infiniteScrollDistance]="1" (scrolled)="loadMoreDetails()" class="box video-box-row details-video-box-row">
                <div class="see-all-container" *ngIf="orientation =='2'">
                    <div class="tile details-video-tile" *ngFor="let value of datas">
                        <div class="video-box-outer">
                            <div class="tile-media">
                                <a (click)="redirect(value)">
                                    <div class="img-gradient"></div> <img loading="lazy" class="tile-img" src="{{imagePath+value.banner_low}}" alt="" />
                                    <!-- <div class="paid-tag" *ngIf="value.is_svod==1"><img style="height:30px;width:30px" src="assets/img/subscription-tag.png"></div>
                                <div class="paid-tag" *ngIf="value.is_tvod==1"><img style="height:30px;width:30px" src="assets/img/ppv-tag.png">
                                </div> -->
                                    <p class="video-title">{{value.title}}</p>
                                    <p class="video-en-title">{{value.title_en}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="see-all-container" *ngIf="orientation =='1'">
                    <div class="tile details-series-tile" *ngFor="let value of datas">
                        <div class="video-box-outer">
                            <div class="series-tile-media">
                                <a (click)="redirect(value)">
                                    <div class="series-gradient"></div>
                                    <img loading="lazy" class="series-tile-img" src="{{imagePath+value.poster_image}}" alt="" title="{{value.title}}" />
                                    <!-- <div class="paid-tag" *ngIf="value.is_svod==1"><img style="height:30px;width:30px" src="assets/img/subscription-tag.png"></div>
                                <div class="paid-tag" *ngIf="value.is_tvod==1"><img style="height:30px;width:30px" src="assets/img/ppv-tag.png"></div> -->
                                    <p class="video-title">{{value.title}}</p>
                                    <p class="video-en-title">{{value.title_en}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="data_loader" style="margin-top: 5px;text-align: center;display: none">
                <img loading="lazy" src="assets/img/ellipsis.svg" style="width: 40px;">
            </div>
        </div>
        <div class="wishlist-description" *ngIf="datasLength==0 && noContent !=''">
            <img loading="lazy" class="search-zoom" src="assets/img/nocontent.svg">
            <p>{{'home_desc_no_cont_def' | translate}}</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>