.view-more-page {
    padding-top: 153px;
    margin: 0px auto 100px;
}

.details-video-tile {
    position: relative;
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center;
    transform-origin: center;
    margin: 15px 0px;
}

.details-series-tile {
    position: relative;
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center;
    transform-origin: center;
    margin-bottom: 35px;
}