.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .delete-form {
        padding-top: 157px;
        .delete-details {
            background: var(--card-color);
            width: 482px;
            margin: 0px auto 100px;
            padding: 20px 24px 47px;
            /* height: 405px; */
            .back {
                position: relative;
                top: 15px;
                cursor: pointer;
            }
            .account-header {
                color: var(--card-font-color);
                margin: 10px 15px;
                text-align: left;
                font-size: 31px;
                font-family: Poppins-Bold;
                font-style: normal;
                font-weight: 500;
                /* border-bottom: 1px solid var(--card-font-color); */
            }
            .delete-text {
                margin: 27px auto 28px;
                .delete-header {
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                    color: var(--button-color);
                }
                .delete-description {
                    margin-top: 21px;
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    text-align: center;
                    color: var(--card-font-color);
                }
            }
            .delete-fields {
                display: flex;
                flex-direction: column;
                padding: 0px;
                width: 434px;
                /* height: 180px; */
                margin: 34px auto 0px;
                .form-group {
                    margin-bottom: 30px;
                    .form-control {
                        width: 434px !important;
                        height: 46px;
                        background: #FFFFFF;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        box-sizing: border-box;
                        border-radius: 23px;
                        font-family: Poppins-Regular;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 27px;
                        /* identical to box height */
                        display: flex;
                        align-items: center;
                        color: #6F6F6F;
                        padding: 7px 16px;
                    }
                    .password-pad {
                        padding-right: 40px !important;
                    }
                    .field-icon {
                        float: right;
                        margin-right: 42px;
                        margin-top: -33px;
                        position: relative;
                        z-index: 112;
                        color: #787878;
                    }
                }
            }
            .delete-button {
                padding: 8px 30px;
                background: var(--button-color);
                /* width: 164px; */
                height: 40px;
                font-family: Poppins-Bold;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--button-font-color);
                margin: 24px auto 0px;
                border-radius: 23px;
                margin-top: 24px;
            }
            .blue-btn {
                border: none;
                font-family: Poppins-Bold !important;
                text-transform: capitalize;
                transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                transition: 350ms;
            }
            .blue-btn:hover {
                background: #fff;
                color: #02021c;
                transform: scale(1.05);
                box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
            }
        }
    }
}