<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="delete-form">
        <div class="delete-details">
            <div class="" style="display: flex;flex-direction: row;">
                <a [routerLink]="['/account-settings']" ui-sref="profile.account-settings({region: region})"><img loading="lazy" class="back" src="assets/img/back.svg"></a>
                <h2 class="account-header">{{'del_acc_title_del_acc_def'|translate}}</h2>
            </div>
            <div class="delete-text">
                <p class="delete-header">{{'del_acc_title_go_def' | translate}}</p>
                <p class="delete-description">{{'del_acc_desc_lose_data_def'| translate}} <span *ngIf="loginBy == 'manual'">{{'del_acc_desc_pwd_def' | translate}}</span></p>
            </div>
            <form [formGroup]="deleteAccountForm" method="post" (ngSubmit)="deleteAccount()">
                <div class="delete-fields" *ngIf="loginBy == 'manual'">
                    <div class="form-group">
                        <div *ngIf="loginBy == 'manual'">
                            <input type="password" id="password" class="form-control password-pad" placeholder="{{'del_acc_inptbxl_pwd_def'|translate}}" formControlName="password">
                            <span *ngIf="showPassword" class="fa fa-fw fa-eye field-icon toggle-password" (click)="hidePassword('password')"></span>
                            <span *ngIf="!showPassword" class="fa fa-fw fa-eye fa-eye-slash field-icon" (click)="hidePassword('password')"></span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="delete-button blue-btn">{{'del_acc_btn_del_acc_def'|translate}}</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>