<div class="player-page">
    <a class="button-back" (click)="closeVideo()"><img loading="lazy" src="assets/img/back.svg"></a>
    <div class="video-header">{{video?.content_title}}</div>
    <div [ngClass]="{fullvideo:1}" id="channel-video-player">
    </div>
</div>
<app-signin-popup [back]="back" [close]="close"></app-signin-popup>