.player-page {
    overflow: hidden;
    .button-back {
        position: absolute;
        width: 17px;
        left: 50px;
        top: 46px;
        opacity: 0.7;
        z-index: 2;
        cursor: pointer;
    }
    .video-header {
        position: absolute;
        /* width      : 405px; */
        height: 30px;
        left: 99px;
        top: 46px;
        font-family: Poppins-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 48px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.7;
        z-index: 2;
    }
}