<div [hidden]="loading">
    <app-header [hidden]="!settingsService.showHeader"></app-header>
    <router-outlet></router-outlet>
    <app-footer [hidden]="!showAndroidApp && !showIosApp && !settingsService.showFooter"></app-footer>
</div>
<div style="display: flex; justify-content: center; overflow: hidden;">
    <ng-lottie width="350px" height="500px" [hidden]="!loading" [options]="options"></ng-lottie>
</div>