<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="password-form">
        <div class="password-details">
            <div class="" style="display: flex;flex-direction: row;">
                <a [routerLink]="['/account-settings']" ui-sref="profile.account-settings({region: region})"><img loading="lazy" class="back" src="assets/img/back.svg"></a>
                <h2 class="account-header">{{'cng_pass_title_cng_pass_def'|translate}}</h2>
            </div>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" name="changePasswordForm" novalidate>
                <div class="password-fields">
                    <div class="form-group" [ngClass]="{'has-error':changePasswordForm.controls.old_password.invalid && !changePasswordForm.controls.old_password.pristine}">
                        <input type="password" class="form-control password-pad" name="old_password" id="old_password" placeholder="{{'cng_pass_inptbxl_pwd_def'|translate}}" min="6" formControlName="old_password" required>
                        <span *ngIf="showOldPassword" class="fa fa-fw fa-eye field-icon toggle-password" (click)="hidePassword('old_password')"></span>
                        <span *ngIf="!showOldPassword" class="fa fa-fw fa-eye fa-eye-slash field-icon" (click)="hidePassword('old_password')"></span>
                        <p *ngIf="changePasswordForm.controls.old_password.invalid && !changePasswordForm.controls.old_password.pristine" class="help-block">{{'cng_pass_iberr_old_pwd_req_def' | translate}}</p>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':changePasswordForm.controls.password.invalid && !changePasswordForm.controls.password.pristine}">
                        <input type="password" class="form-control password-pad" name="password" id="password" placeholder="{{'cng_pass_inptbxl_new_pwd_def'|translate}}" formControlName="password" min="6" required>
                        <span *ngIf="showPassword" class="fa fa-fw fa-eye field-icon toggle-password" (click)="hidePassword('password')"></span>
                        <span *ngIf="!showPassword" class="fa fa-fw fa-eye fa-eye-slash field-icon" (click)="hidePassword('password')"></span>
                        <p *ngIf="changePasswordForm.controls.password.invalid && !changePasswordForm.controls.password.pristine" class="help-block">{{'cng_pass_iberr_pwd_req_def' | translate}}</p>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':changePasswordForm.controls.password_confirmation.invalid && !changePasswordForm.controls.password_confirmation.pristine}">
                        <input type="password" class="form-control password-pad" name="confirm_password" id="confirm_password" placeholder="{{'cng_pass_inptbxl_con_pwd_def'|translate}}" min="6" required formControlName="password_confirmation">
                        <span *ngIf="showConfirmPassword" class="fa fa-fw fa-eye field-icon" (click)="hidePassword('confirm_password')"></span>
                        <span *ngIf="!showConfirmPassword" class="fa fa-fw fa-eye fa-eye-slash field-icon" (click)="hidePassword('confirm_password')"></span>
                        <p *ngIf="changePasswordForm.controls.password_confirmation.invalid && !changePasswordForm.controls.password_confirmation.pristine" class="help-block">{{'cng_pass_iberr_con_pwd_requ_def' | translate}}</p>
                    </div>
                </div>
                <div>
                    <button [disabled]="changePasswordForm.invalid" type="submit" class="save-button blue-btn">{{'cng_pass_btn_save_cng_def'|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>