.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .channels-page {
        padding-top: 157px;
        margin: 0px 61px 100px;
        color: var(--bg-font-color);
        .box-head {
            margin-bottom: 16px;
            color: var(--bg-font-color);
            height: 20px;
            h3 {
                height: 18px;
                font-family: Poppins-Bold;
                font-style: normal;
                font-size: 20px;
                line-height: 30px;
                color: var(--bg-font-color);
                margin: 0px;
            }
        }
        .no-margin {
            margin: 0;
        }
        .section-line {
            background: linear-gradient(90deg, var(--button-color) -4.87%, rgba(220, 24, 10, 0) 100%);
            height: 1px;
            margin-bottom: 16px;
        }
        .video-box-row {
            -webkit-transition: 450ms -webkit-transform;
            transition: 450ms -webkit-transform;
            transition: 450ms transform;
            transition: 450ms transform, 450ms -webkit-transform;
            font-size: 0;
            white-space: nowrap;
            padding-bottom: 1px;
            .tile {
                position: relative;
                display: inline-block;
                padding: 0px;
                font-size: 20px;
                cursor: pointer;
                -webkit-transition: 450ms all;
                transition: 450ms all;
                -webkit-transform-origin: center;
                transform-origin: center;
                .video-box-outer {
                    height: 100%;
                    .channel-tile-media {
                        width: 242px;
                        height: 337.63px;
                        margin: 18px 12px;
                        .channel-tile-img {
                            width: 242px;
                            height: 337.63px;
                        }
                        .tile-img {
                            width: 323.29px;
                            height: 183.02px;
                            background: linear-gradient(180.18deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%);
                            /* border       : 0.5px solid rgba(255, 255, 255, 0.2); */
                            box-sizing: border-box;
                            box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                            /* border-radius: 8px; */
                            object-fit: cover;
                        }
                        .series-tile-img {
                            width: 242px;
                            height: 337.63px;
                            left: 0px;
                            top: 0px;
                            background: linear-gradient(180.38deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%), linear-gradient(0deg, rgba(31, 31, 31, 0.24), rgba(31, 31, 31, 0.24));
                            box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                            border-radius: 2px;
                        }
                    }
                    .series-tile-media {
                        /* width: 243px;
                        height: 339.63px;
                        border: 0.5px solid rgba(255, 255, 255, 0.2);
                        border-radius: 8px;
                        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                        transition: 350ms; */
                        overflow: hidden;
                        width: 243px;
                        border: .5px solid rgba(255, 255, 255, .2);
                        box-sizing: border-box;
                        transition: 350ms;
                        /* transition-delay       : 100ms; */
                        transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
                        filter: saturate(1.3);
                    }
                    .series-tile-media:hover {
                        /* transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        transform: scale(1.1);
                        z-index: 100; */
                        margin: 0px 12px;
                        transform: scale(1.1);
                        z-index: 100;
                        opacity: 1;
                        /* border    : .5px solid #006AFF78; */
                        /* box-shadow: 0px 0px 50px rgba(220, 24, 10, 0.6), 0px 0px 12px rgba(0, 0, 0, 0.25); */
                        filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.2));
                    }
                }
            }
            .details-series-tile {
                position: relative;
                display: inline-block;
                padding: 5px;
                font-size: 20px;
                cursor: pointer;
                -webkit-transition: 450ms all;
                transition: 450ms all;
                -webkit-transform-origin: center;
                transform-origin: center;
                margin-bottom: 35px;
            }
        }
        .details-video-box-row {
            width: 110%;
        }
        .see-all-container {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: left;
            margin-left: -5px;
        }
        .wishlist-description {
            width: 596px;
            height: 190px;
            margin: 231px auto 243px;
            text-align: center;
            color: var(--bg-font-color);
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            align-items: center;
            text-align: center;
            position: relative;
            .search-zoom {
                width: 91px;
                height: 91px;
                margin: auto;
                margin-bottom: 30px;
            }
        }
    }
}