<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--details-gradient),url('+homeImage+')'}">
    <div class="channels-page">
        <div infiniteScroll [infiniteScrollDistance]="1" (scrolled)="loadMoreDetails()" *ngIf="chaneelsDataLength>0">
            <div *ngIf="chaneelsDataLength > 0">
                <div class="box-title">
                    <div class="box-head row no-margin">
                        <h3 class="main-title pull-left">{{'list_chnl_title_live_def' | translate}}</h3>
                    </div>
                </div>
                <div class="section-line"></div>
                <div class="box video-box-row details-video-box-row see-all-container">
                    <div class="tile details-series-tile" *ngFor="let value of channels">
                        <div class="video-box-outer">
                            <div class="channel-tile-media series-tile-media">
                                <a [routerLink]="['/live-video', value.slug, value.content_id]" ui-sref="profile.live_video({id : value.content_id,channel:value.slug,region: region})">
                                    <!-- <div class="series-gradient"></div> -->
                                    <img loading="lazy" class="channel-tile-img tile-img series-tile-img" src="{{imagePath+value.poster_image}}" alt="" title="{{value.title}}" />
                                    <!-- <img class="channel-icon" bn-lazy-src="{{imagePath+value.icon}}" alt> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wishlist-description" *ngIf="chaneelsDataLength==0 && noChannelText !=''">
            <img loading="lazy" class="search-zoom" src="assets/img/globe.svg">
            <p>{{'list_chnl_desc_no_cont_def' | translate}}</p>
        </div>
    </div>
</div>