<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation routes="signin" value="login_title_log_in_def"></app-navigation>
    <div class="signin-form">
        <div class="login-form-inside">
            <h1 class="login-title">{{'sign_up_title_sign_up_def' | translate}}</h1>
            <p class="login-text">{{'sign_up_desc_entr_detls_def' | translate}}</p>
            <form [formGroup]="signupForm" name="signupForm" method="post" (ngSubmit)="signup()" novalidate>
                <div class="form-fields">
                    <div class="form-group" [ngClass]="{ 'has-error' : signupForm.controls.name.invalid && !signupForm.controls.name.pristine }">
                        <input type="name" class="form-control" name="name" placeholder="{{'sign_up_inptbxl_ur_nam_def'|translate}}" min="3" required formControlName="name" />
                        <p *ngIf="signupForm.controls.name.invalid && !signupForm.controls.name.pristine" class="help-block">
                            {{'sign_up_desc_ur_nam_req_def' | translate}}</p>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error' : signupForm.controls.email.invalid && !signupForm.controls.email.pristine }">
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'sign_up_inptbxl_ur_email_def'|translate}}" formControlName="email" required>
                        <p *ngIf="signupForm.controls.email.invalid && !signupForm.controls.email.pristine" class="help-block">
                            {{'sign_up_desc_ur_email_req_def' | translate}}</p>
                    </div>
                </div>
                <div class="form-fields">
                    <div class="form-group" [ngClass]="{ 'has-error' : signupForm.controls.password.invalid && !signupForm.controls.password.pristine }">
                        <input type="password" class="form-control" name="password" id="password" placeholder="{{'sign_up_inptbxl_ur_psw_def'|translate}}" min="6" formControlName="password" required>
                        <span *ngIf="showPassword" class="fa fa-fw fa-eye field-icon toggle-password" (click)="hidePassword('password')"></span>
                        <span *ngIf="!showPassword" class="fa fa-fw fa-eye fa-eye-slash field-icon" (click)="hidePassword('password')"></span>
                        <p *ngIf="signupForm.controls.password.invalid && !signupForm.controls.password.pristine" class="help-block">
                            {{'sign_up_desc_ur_psw_req_def' | translate}}</p>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error' : signupForm.controls.cPassword.invalid && !signupForm.controls.cPassword.pristine }">
                        <input type="password" class="form-control" name="cPassword" id="cPassword" placeholder="{{'sign_up_inptbxl_cnfm_psw_def'|translate}}" min="6" formControlName="cPassword" required>
                        <span *ngIf="showConfirmPassword" class="fa fa-fw fa-eye field-icon" (click)="hidePassword('cPassword')"></span>
                        <span *ngIf="!showConfirmPassword" class="fa fa-fw fa-eye fa-eye-slash field-icon" (click)="hidePassword('cPassword')"></span>
                        <p *ngif="signupForm.controls.cPassword.invalid && !signupForm.controls.cPassword.pristine" class="help-block">{{'sign_up_desc_psw_cnfm_req_def' | translate}}</p>
                    </div>
                </div>
                <input type="text" name="login_by" formControlName="login_by" [hidden]="true">
                <input type="text" name="d_type" formControlName="d_type" [hidden]="true">
                <input type="text" name="d_id" formControlName="d_id" [hidden]="true">
                <p class="terms-text">{{'sign_up_desc_agrmt_def' | translate}}
                    <a routerLink="/pages/privacy" ui-sref="static.page({id : 'privacy',region: region})">{{'sign_up_desc_pri_poli_def' | translate}}</a>{{'sign_up_desc_and_def' | translate}}
                    <a routerLink="/pages/terms" ui-sref="static.page({id : 'terms',region: region})"> {{'sign_up_desc_trms_use_def' | translate}}</a>
                </p>
                <button type="submit" [disabled]="signupForm.invalid" class="btn signin-btn blue-btn" id="sign_in_button">{{'sign_up_btn_sign_up_def' | translate}}</button>
                <p class="signup-text">{{'sign_up_btn_alrd_acc_def' | translate}} &nbsp;<a routerLink="/signin" ui-sref="static.signin({region: region})">{{'desc_sign_up__log_in_def' | translate}}</a></p>
            </form>
        </div>
    </div>
</div>