.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .signin-form {
        height: 705px;
        /* left: calc(50% - 1376px/2); */
        margin: auto;
        .login-form-inside {
            display: flex;
            flex-direction: column;
            padding: 0px;
            position: relative;
            width: 628px;
            height: 368px;
            margin: 101px auto;
            .login-title {
                position: relative;
                /* width: 119px; */
                width: max-content;
                height: 30px;
                margin: 0px auto;
                font-family: Poppins-Bold;
                font-style: normal;
                font-size: 40px;
                line-height: 60px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--bg-font-color);
                text-transform: capitalize;
            }
            .login-text {
                position: relative;
                /* width: 423px; */
                height: 30px;
                margin: 26px auto 0px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                color: var(--bg-font-color);
            }
            .form-fields {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 628px;
                height: 46px;
                margin: 26px auto 0px;
                .form-group {
                    margin-bottom: 30px;
                    .form-control {
                        width: 300px;
                        height: 46px;
                        background: #FFFFFF !important;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        box-sizing: border-box;
                        border-radius: 23px;
                        margin-right: 26px;
                        padding: 9px 16px;
                        font-size: 18px;
                    }
                    .help-block {
                        padding: 0px 5px;
                        font-size: 14px;
                        color: #ff0000;
                    }
                    .field-icon {
                        float: right;
                        margin-right: 42px;
                        margin-top: -33px;
                        position: relative;
                        z-index: 112;
                        color: #787878;
                    }
                }
            }
            .forgot-text {
                position: relative;
                width: 100%;
                height: 18px;
                margin: 26px auto 0px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                color: var(--bg-font-color);
                a {
                    font-family: Poppins-Bold;
                    color: var(--bg-font-color)
                }
            }
            .terms-text {
                position: relative;
                width: max-content;
                height: 18px;
                margin: 26px auto 0;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: var(--bg-font-color);
                a {
                    font-family: Poppins-Bold;
                    color: var(--bg-font-color)
                }
            }
            .blue-btn {
                border: none;
                font-family: Poppins-Bold !important;
                text-transform: capitalize;
                transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                transition: 350ms;
            }
            .blue-btn:hover {
                background: #fff;
                color: #02021c;
                transform: scale(1.05);
                box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
            }
            .signin-btn {
                position: relative;
                width: 224px;
                height: 46px;
                margin: 26px auto 0px;
                margin-left: 202px;
                background: var(--button-color);
                box-sizing: border-box;
                border-radius: 23px;
                color: var(--button-font-color);
                font-size: 20px;
                line-height: 30px;
            }
            .signup-text {
                position: relative;
                width: max-content;
                height: 24px;
                margin: 26px auto 0px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: var(--bg-font-color);
                a {
                    font-family: Poppins-Bold;
                    color: var(--bg-font-color)
                }
            }
        }
        .social-login {
            display: flex;
            flex-direction: row;
            padding: 0px;
            position: static;
            height: 46px;
            left: 14.75px;
            top: 422px;
            margin-top: 54px;
            justify-content: center;
            .f-login {
                display: flex;
                flex-direction: row;
                padding: 8px 20px;
                position: static;
                // width: 305px;
                height: 46px;
                background: #4267B2;
                border-radius: 23px;
                font-family: Poppins-Bold;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                border: none;
                margin: 0px 15px 0px 0px;
                padding: 8px 30px;
                img {
                    margin-right: 5px;
                }
            }
            .g-login {
                display: flex;
                flex-direction: row;
                position: static;
                height: 46px;
                // width: 300px;
                background: #FFFFFF;
                border-radius: 23px;
                font-family: Poppins-Bold;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #595959;
                border: none;
                padding: 8px 30px;
                img {
                    margin-right: 5px;
                }
            }
        }
    }
}