.payment-container {
    min-width: 500px;
    width: max-content;
    height: 675px;
    margin: 0px auto;
    background: var(--card-color);
    padding: 24px;
}

ul.tabs li {
    width: 50%;
    height: 40px;
    left: 0px;
    top: 0px;
    /* background: #C6C6C6; */
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    padding: 8.5px 10px;
    margin: 0px;
    list-style: none;
    cursor: pointer;
}

ul.tabs {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.16);
    color: #fff;
    margin: 24px 0px 0px;
    padding: 0px;
}

ul.tabs li.current {
    background: #C6C6C6;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #02021C;
    border-radius: 3px;
    width: max-content !important;
    padding: 10px 20px;
}

.tab-content.billing-tab-content {
    background: transparent;
    height: 490px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    margin-top: 24px;
    color: var(--card-font-color);
}

.subscription-info,
.ppv-details-info {
    /* width: 321px; */
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 16px 0px 24px;
}

.subscription-info>p,
.ppv-details-info>p {
    margin: 0px;
}

.subscription-info>p>span,
.ppv-details-info>p>span {
    font-weight: 300;
    color: #ffffff;
}

.payment-title {
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.full-width {
    width: 100% !important;
    display: none;
}

.half-width {
    width: 50% !important;
}

.third-width {
    width: 33.3% !important;
}

.billing-tab-content::-webkit-scrollbar {
    width: 5px;
    height: 400px;
}

.billing-tab-content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
}

.billing-tab-content::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 10px;
}

.billing-section-text {
    color: var(--card-font-color);
    font-family: Poppins-Bold;
    font-size: 15px;
}

.billing-section-text>span {
    font-family: Poppins-Regular;
}

.account-page {
    padding-top: 157px;
    /* height    : 862px; */
    margin-bottom: 100px;
}

.account-header {
    color: var(--card-font-color);
    margin: 10px 15px;
    text-align: left;
    font-size: 31px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-weight: 500;
    /* border-bottom: 1px solid var(--card-font-color); */
}

.tab-content.current.billing-tab-content {
    display: inherit;
}

.payment-title {
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.profile-line {
    width: 434px;
    height: 1px;
    left: 0px;
    top: 24px;
    background: linear-gradient(90deg, var(--button-color) 0%, rgba(220, 24, 10, 0) 100%);
}

.subscription-info,
.ppv-details-info {
    /* width: 321px; */
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 16px 0px 24px;
}

.subscription-info>p,
.ppv-details-info>p {
    margin: 0px;
}

.subscription-info>p>span,
.ppv-details-info>p>span {
    font-weight: 300;
    color: #ffffff;
}

.billing-section-text {
    color: var(--card-font-color);
    font-family: Poppins-Bold;
    font-size: 15px;
}

.billing-section-text>span {
    font-family: Poppins-Regular;
}