<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+homeImage+')'}" style="background-size: cover;background-repeat: no-repeat;">
    <div class="account-page">
        <div class="payment-container">
            <div style="display: flex;flex-direction: row;">
                <a [routerLink]="['/account-settings']" ui-sref="profile.account-settings({region: region})"><img loading="lazy" class="back" src="assets/img/back.svg"></a>
                <h2 class="account-header">{{'bil_his_title_bil_histr_def'|translate}}</h2>
            </div>
            <ul class="tabs">
                <li *ngIf="subscriptionLength > 0" class="tab-link" data-tab="subscription-details" (click)="display_content('subscription-details')" [ngClass]="{'current' : selectedTab=='subscription-details','full-width': (paidvodLength == 0 && voucherLength == 0) ,'half-width': paidvodLength > 0 || voucherLength > 0 , 'third-width': paidvodLength > 0 && voucherLength > 0  }">
                    {{'bil_his_tab_subsc_histr_def' | translate}}</li>
                <li *ngIf="paidvodLength > 0" class="tab-link" data-tab="ppv-details" (click)="display_content('ppv-details')" [ngClass]="{'current' : selectedTab=='ppv-details','full-width': subscriptionLength == 0 && voucherLength == 0, 'half-width': subscriptionLength > 0  || voucherLength > 0, 'third-width': subscriptionLength > 0 && voucherLength > 0 }">
                    {{'bil_his_tab_ppv_detl_def' | translate}}</li>
                <li *ngIf="voucherLength > 0" class="tab-link" data-tab="voucher_history" (click)="display_content('voucherHistory')" [ngClass]="{'current' : selectedTab=='voucher_history','full-width': paidvodLength == 0 && subscriptionLength == 0, 'half-width': paidvodLength > 0 || subscriptionLength > 0 , 'third-width': subscriptionLength > 0 && paidvodLength > 0}">
                    {{'bil_his_title_vchr_his_def' | translate}}</li>
            </ul>
            <div [hidden]="!(subscriptionLength > 0)" id="subscription-details" class="tab-content billing-tab-content">
                <div *ngFor="let plan of subscriptions" style="margin-bottom:5px;">
                    <div class="payment-title">{{plan.billing_title}}</div>
                    <div class="profile-line"></div>
                    <div class="subscription-info">
                        <p class="billing-section-text">{{'bil_his_desc_subsc_plan_def' |translate}}
                            <span>{{plan.subscription_plan}} </span></p>
                        <p class="billing-section-text">{{'bil_his_desc_service_prd_def' |translate}}
                            <span>{{plan.service_period}} </span></p>
                        <p class="billing-section-text">{{'bil_his_desc_next_due_date_def' |translate}}
                            <span>{{plan.next_due_date}} </span></p>
                        <p class="billing-section-text">{{'bil_his_desc_pmnt_prcsor_def' |translate}}
                            <span>{{plan.payment_processor}} </span></p>
                        <p class="billing-section-text">{{'bil_his_desc_trans_no_def' |translate}}
                            <span>{{plan.transaction_id}}</span></p>
                        <p class="billing-section-text">{{'bil_his_desc_amnt_def' |translate}}
                            <span>{{plan.paid_amount}}</span></p>
                    </div>
                </div>
            </div>
            <div id="ppv-details" [hidden]="!(paidvodLength > 0)" class="tab-content billing-tab-content">
                <div *ngFor="let video of paidVideos" style="margin-bottom:5px;">
                    <div class="payment-title">{{video.content_title}} - {{video.transaction_date}}</div>
                    <div class="profile-line"></div>
                    <div class="ppv-details-info">
                        <p class="billing-section-text">{{'bil_his_desc_pmnt_id_def'|translate}}: <span>{{video.transaction_id}}</span></p>
                        <p class="billing-section-text">{{'bil_his_desc_paid_date_def' | translate}}: <span>{{video.transaction_date}}</span></p>
                        <p class="billing-section-text" *ngIf="video.expiry_date !='-'">{{'bil_his_desc_expry_date_def' | translate}}:
                            <span>{{video.expiry_date}}</span></p>
                        <p class="billing-section-text">{{'bil_his_desc_cont_type_def'| translate}}: <span>{{video.content_type}}</span></p>
                        <p class="billing-section-text">{{'bil_his_desc_pmnt_mod_def' | translate}}: <span>{{video.payment_type}}</span></p>
                        <p *ngIf="video.coupon_code" class="billing-section-text">{{'bil_his_desc_coupon_code_def'| translate}}: <span>{{video.coupon_code}}</span></p>
                        <p class="billing-section-text">{{'bil_his_desc_amnt_def' | translate}}: <span>{{video.amount}}</span></p>
                    </div>
                </div>
            </div>
            <div id="voucher_history" [hidden]="!(voucherLength > 0)" class="tab-content billing-tab-content">
                <div *ngFor="let history of voucherHistory;let index = index" style="margin-bottom:5px;">
                    <div class="payment-title" *ngIf="index==0">{{'bil_his_title_apld_vchr_def'| translate}}</div>
                    <div class="profile-line"></div>
                    <div class="ppv-details-info">
                        <p class="billing-section-text">{{'bil_his_desc_vchr_code_def'| translate}}: <span>{{history.voucher_code}}</span></p>
                        <p class="billing-section-text">{{'bil_his_desc_start_date_def' | translate}}: <span>{{history.start_date}}</span></p>
                        <p *ngIf="history.end_date" class="billing-section-text">{{'bil_his_desc_end_date_def' | translate}}: <span>{{history.end_date}}</span></p>
                    </div>
                </div>
            </div>
            <div class="text-center" style="font-size: 18px;font-weight: 600;color:var(--bg-font-color);" *ngIf="paidvodLength == 0 && subscriptionLength == 0 && voucherLength == 0">
                {{'bil_his_msg_no_pmnt_def' | translate}}
            </div>
        </div>
    </div>
</div>