<nav class="navbar navbar-default navbar-fixed-top nav-scroll" (mouseleave)="hoverOut()" role="navigation">
    <div class="header_section" id="header-section">
        <div *ngIf="!guest" class="navbar-header left-align visible-xs" style="margin-top:0%;width:50px;height:60px;padding:10px 0px 0px 15px;">
            <a style="color:var(--mm-font-color);cursor: pointer;margin-top: 8%;margin-left:21%;font-size:21px;" class="dropdown-toggle visible-xs" data-toggle="dropdown"><i class="fa fa fa-bars"></i></a>
            <ul class="dropdown-menu nav-profile-menu">
                <div class="border-bot more-profile padding15">
                    <li class="row no-margin">
                        <a ui-sref="profile.home({region: region})">
                            <div class="nav-profile-img bg-img" [style.background]="'url('+userPicture+')'"></div>
                            {{userName}}
                            <!-- <span *ngIf="value.status == 1">(Main)</span> -->
                        </a>
                    </li>
                    <li>
                        <a ui-sref="profile.account-settings({region: region})">
                            {{'menu_btn_my_acc_def'|translate}}
                        </a>
                    </li>
                    <li>
                        <a ui-sref="profile.wishlist({region: region})">
                            {{'menu_btn_my_list_def'|translate}}
                        </a>
                    </li>
                    <li>
                        <a ui-sref="profile.feedback({region: region})">
                            {{'menu_btn_feed_def'|translate}}
                        </a>
                    </li>
                    <li>
                        <a ui-sref="profile.authenticate({region: region})">
                            {{'menu_btn_auth_def'|translate}}
                        </a>
                    </li>
                    <li>
                        <a (click)="logout()" style="cursor: pointer;">
                            {{'menu_btn_log_out_def'|translate}}
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="navbar-header left-align">
            <!-- <a class="navbar-brand hidden-xs" ui-sref="profile.home">
                <img ng-src="{{imagePath+site_logo}}">
            </a> -->
            <a style="margin:0px;" class="navbar-brand hidden-xs" [routerLink]="['/home']" ui-sref="profile.home({region: region})">
                <img loading="lazy" [src]="logo">
            </a>
            <a style="margin:0px;" class="navbar-brand1 visible-xs" [routerLink]="['/home']" ui-sref="profile.home({region: region})">
                <img loading="lazy" [src]="logo">
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav left-align">
                <li class="hidden-xs hidden-sm category-list" *ngFor="let value of categories" (mouseover)="hoverIn(value)">
                    <a [routerLink]="['/category',value.title,value.category_id]" ui-sref="profile.browse({catname:value.slug,browse:value.category_id,region: region})" (click)="hoverOut()" class="hidden-sm hidden-xs" [ngClass]="{'active-category': value.category_id==categoryId,'active-category-top': value.category_id==catName}">{{value.title}}</a>
                </li>
                <li *ngIf="enableLive==1" class="hidden-xs hidden-sm category-list" (mouseover)="hoverIn('live')">
                    <a [routerLink]="['/channels']" ui-sref="profile.live_channels({region: region})" class="hidden-sm hidden-xs nav-no-border-bottom" [ngClass]="{'active-category': isLive}">{{'top_btn_cat_tv_def'| translate}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right right-align">
                <li>
                    <a class="search-box-xs" (click)="searchShow()" style="cursor: pointer;margin-right:34px;"><img loading="lazy" class="search-icon1" src="assets/img/search.svg">
                    </a>
                </li>
                <li *ngIf="guest && localeLength>1" class="dropdown nav-profile">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">{{selectedLocale}}
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu nav-profile-menu scrollable-menu" role="menu" style="margin-top: 10px;margin-right: -22px;">
                        <div class="border-bot more-profile lang-align">
                            <li *ngFor="let value of locales;let index =index;">
                                <a role="menuitem" (click)="setLocale(index,value)" tabindex="-1">
                                {{value.lang_name}}</a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li *ngIf="!guest" class="dropdown nav-profile">
                    <a *ngIf="!guest" class="dropdown-toggle hidden-xs" data-toggle="dropdown" style="cursor: pointer;">
                        <div class="nav-profile-img bg-img">
                            <img loading="lazy" class="nav-profile-img bg-img" [src]="userPicture">
                        </div>
                        {{userName}}
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu nav-profile-menu">
                        <div class="border-bot more-profile">
                            <li>
                                <a [routerLink]="['/account-settings']" ui-sref="profile.account-settings({region: region})">
                                    {{'menu_btn_my_acc_def'|translate}}
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/wishlist']" ui-sref="profile.wishlist({region: region})">
                                    {{'menu_btn_my_list_def'|translate}}
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/feedback']" ui-sref="profile.feedback({region: region})">
                                    {{'menu_btn_feed_def'|translate}}
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/authenticate']" ui-sref="profile.authenticate({region: region})">
                                    {{'menu_btn_auth_def'|translate}}
                                </a>
                            </li>
                            <li>
                                <a (click)="logout()" style="cursor: pointer;">
                                    {{'menu_btn_log_out_def'|translate}}
                                </a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li *ngIf="guest" class="">
                    <a *ngIf="operatorLogin!=0" [routerLink]="['/login-option']" ui-sref="static.loginoption({region: region})" class="login-btn hidden-xs hidden-sm">{{'login_title_log_in_def'|translate}}</a>
                    <a *ngIf="operatorLogin==0" [routerLink]="['/signin']" ui-sref="static.signin({region: region})" class="login-btn hidden-xs hidden-sm">{{'login_title_log_in_def'|translate}}</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 no-pad">
            <div class="visible-xs visible-sm" style="display:inline-block">
                <div class="sliderSection block pull-left text-left navbar-left left-align">
                    <a class="leftArrow col-xs-1" type="button" (click)="scrollToLeft()"><i
                            class="fa fa-angle-left"></i></a>
                    <div class="limit" d-scroll-horizontally="80">
                        <div class="scroll-content">
                            <div style="list-style-type: none;display: inline;margin-right:5%;" class="" *ngFor="let value of categories">
                                <a style="color:var(--mm-font-color);font-size:16px;font-weight:700" ui-sref="profile.browse({catname:value.slug,browse:value.category_id,region: region})">{{value.title}}</a>
                                <!-- <a style="color:var(--mm-font-color);font-size:16px;font-weight:700" [ngClass]="{'active-category': value.category_id==stateParams.browse}" ui-sref="profile.browse({catname:value.slug,browse:value.category_id,region: region})">{{value.title}}</a> -->
                            </div>
                            <div *ngIf="enableLive==1" style="list-style-type: none;display: inline;margin-right:5%;" class="">
                                <a style="color:var(--mm-font-color);font-size:16px;font-weight:700" [ngClass]="{'active-category': isLive}" ui-sref=" profile.live_channels({region: region})">TV</a>
                            </div>
                        </div>
                    </div>
                    <a class="rightArrow col-xs-1" type="button" (click)="scrollToRight()"><i
                            class="fa fa-angle-right"></i></a>
                </div>
                <div class="col-xs-2 block navbar-right right-align">
                    <button *ngIf="!guest" type="button" class="btn btn-sm subscribe" ui-sref="profile.subscriptions({region: region})">
                        {{'subsc_err_title_subsc_def'|translate}}
                    </button>
                    <button *ngIf="guest && operatorLogin == 0" type="button" class="btn btn-sm signin" ui-sref="static.signin({region: region})">
                        {{'log_pop_btn_log_in_def'|translate}}
                    </button>
                    <button *ngIf="guest && operatorLogin != 0" class="btn btn-sm signin" [routerLink]="['/login-option']" ui-sref="static.loginoption({region: region})">{{'log_pop_btn_log_in_def'|translate}}
                        </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid show-categories-onhover" [hidden]="!categorySelected" [ngClass]="{'category-hover':categorySelected==true}">
        <div class="subcategory-list">
            <div class="container sub-container header-sub-cat-pad" style="padding: 5px 15px;">
                <div (mouseover)="hoverIn('sub')" *ngFor="let value of categoryInfo?.collections" class="show-content-category">
                    <div *ngIf="catName !='live'">
                        <a class="sub-category-name" [routerLink]="['/sub-cat',catName,value.id]" (click)="setTitleValue(catName)" ui-sref="profile.title({category :category,subcat:value.slug,cat:value.id,region: region})">
                            {{value.title}}
                        </a>
                    </div>
                </div>
                <div (mouseover)="hoverIn('live')" *ngFor="let value of channelsList" class="show-content-category">
                    <div *ngIf="catName =='live'">
                        <a class="sub-category-name" [routerLink]="['/live-video',catName,value.content_id]" ui-sref="profile.live_video({id :value.content_id,channel:value.slug,region: region})">
                            {{value.title}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>