.header_section {
    pointer-events: visible;
}

.padding15 {
    padding: 10px 10px 0 20px !important;
}

.nav-profile-img {
    height: 48px;
    display: block;
    width: 48px;
    float: left;
    border-radius: 25px;
    margin-top: -5px;
    margin-right: 10px;
}

.bg-img {
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-brand img {
    height: 100px;
    width: 150px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 0px 0px 0px;
    font-size: 18px;
    line-height: 20px;
    width: 135px;
    pointer-events: visible;
}

.navbar-brand1 {
    float: left;
    height: 85px;
    padding: 10px 0px 0px 15px;
    width: 100px;
    margin-top: -21%;
}

.navbar-brand1 img {
    width: 120px;
    margin-top: 18px;
    height: 40px;
}

.category-list>a {
    text-transform: uppercase !important;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms;
}

.category-list {
    list-style-type: none;
    float: left;
    /* margin-top  : 35px; */
    font-weight: 700;
    font-size: 16px;
}

.more-profile>li>a {
    text-align: center;
    width: max-content;
    margin: 12px auto;
}

.more-profile>li>a:hover {
    font-family: Poppins-Bold;
}

.nav-profile-img {
    height: 48px;
    display: block;
    width: 48px;
    float: left;
    border-radius: 25px;
    margin-top: -5px;
    margin-right: 10px;
}

.nav-profile-menu>li>a:hover,
.nav-profile-menu>li>a:focus {
    text-decoration: underline;
    color: var(--mm-font-color);
}

.scroll-content {
    height: 20px;
    width: auto;
    white-space: nowrap;
    font-family: Poppins-Bold !important;
}

.container-fluid {
    padding: 0px;
    pointer-events: visible;
}

.category-hover {
    background: rgba(0, 0, 0, 0.7);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms;
}

.subcategory-list {
    /* padding-left: 220px; */
    padding-top: 40px;
}

.sub-container {
    display: flex;
    justify-content: left;
    flex-flow: wrap;
}

.show-content-category {
    /* display: flex; */
    margin: 0px 20px 10px;
}

.show-content-category>h6 {
    margin-bottom: 17px;
}

.show-content-category>h5 {
    margin-bottom: 17px;
    font-weight: 500;
}

.show-content-category-left {
    text-align: left;
    padding-left: 55px;
}

.show-content-category-left>a>h5 {
    color: #4a4a4a;
    font-weight: 600;
    font-size: 16px;
}

.sub-category-name {
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: #fff;
}

.sub-category-name:hover {
    color: var(--button-color);
    font-family: 'Poppins-Bold';
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms;
}

.active-category {
    color: var(--button-color) !important;
}

.active-category-top {
    border-bottom: 3px solid var(--button-color);
    z-index: 2500;
}

.header-sub-cat-pad {
    padding: 5px 15px;
}

.lang-align {
    position: relative;
    left: 12px;
}

@media (max-width: 1570px) {
    .header-sub-cat-pad {
        padding: 30px 15px 5px 15px !important;
    }
}