<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="feedback-page">
        <div class="feedback-form-inner card-bg">
            <h2 class="feedback-header" style="color:var(--card-font-color);">{{'feed_title_feed_def'| translate}}</h2>
            <p class="feedback-text">
                {{'feed_desc_sugg_def'| translate}}
            </p>
            <textarea class="user-feedback-field" [(ngModel)]="feedback" name="feedback" autofocus="autofocus" required="required" placeholder="{{'feed_inptbxl_ur_msg_def'|translate}}...."></textarea>
            <input type="email" [hidden]="!guest" [(ngModel)]="email" name="email" class="form-control feedback-email" placeholder="{{'edit_acc_ibp_email_def'|translate}}">

            <div class="hidden-xs feedback-type text-center">
                <input id="bug" type="radio" [(ngModel)]="type" value="bug">
                <label for="bug">&nbsp;{{'feed_radio_btn_bug_def'| translate}} &nbsp;&nbsp;</label>
                <input id="suggest" type="radio" [(ngModel)]="type" value="suggestion">
                <label for="suggest">&nbsp;{{'feed_radio_btn_sugg_def'| translate}}&nbsp;&nbsp;</label>
                <input id="other" type="radio" [(ngModel)]="type" value="other">
                <label for="other">&nbsp;{{'feed_radio_btn_other_def'| translate}}&nbsp;&nbsp;</label>
            </div>
            <div class="visible-xs inline-block" style="margin:15px 0px;">
                <input id="bug" type="radio" [(ngModel)]="type" value="bug">
                <label for="bug">&nbsp;{{'feed_radio_btn_bug_def'| translate}} &nbsp;&nbsp;</label><br>
                <input id="suggest" type="radio" [(ngModel)]="type" value="suggestion">
                <label for="suggest">&nbsp;{{'feed_radio_btn_sugg_def'| translate}}&nbsp;&nbsp;</label><br>
                <input id="other" type="radio" [(ngModel)]="type" value="other">
                <label for="other">&nbsp;{{'feed_radio_btn_other_def'| translate}}&nbsp;&nbsp;</label>
            </div>
            <button [disabled]="!type || !feedback " class="feedback-btn blue-btn" (click)="submitFeedback()">{{'feed_btn_send_feed_def' | translate}}</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>