.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .feedback-page {
        padding-top: 153px;
        .feedback-form-inner {
            width: 482px;
            /* height : 471px; */
            padding: 26px;
            background: var(--card-color);
            margin: 0px auto 100px;
            .feedback-header {
                height: 47px;
                font-family: Poppins-Bold;
                font-style: normal;
                font-size: 31px;
                line-height: 46px;
                color: var(--card-font-color);
                text-align: center;
                margin: 0px auto 26px;
            }
            .feedback-text {
                height: 42px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: var(--card-font-color);
                margin-bottom: 16px;
            }
            .user-feedback-field {
                border-radius: 5px;
                width: 100%;
                height: 161px;
                resize: none;
                padding: 9px;
                margin-bottom: 10px;
                background-color: var(--bg-font-color);
                color: var(--bg-color);
                font-size: 14px;
                line-height: 21px;
            }
            .form-control {
                width: 300px;
                height: 46px;
                background: #FFFFFF !important;
                border: 1px solid rgba(255, 255, 255, 0.5);
                box-sizing: border-box;
                border-radius: 23px;
                margin-right: 26px;
                padding: 9px 16px;
                font-size: 18px;
            }
            .feedback-email {
                border-radius: 5px;
                margin-bottom: 10px;
                width: 100% !important;
            }
            .feedback-type {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 16px auto;
                .feedback-type>label {
                    height: 21px;
                    left: 20px;
                    top: 0px;
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    /* identical to box height */
                    color: var(--card-font-color);
                }
                input[type='radio'] {
                    -webkit-appearance: none;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    outline: none;
                    margin: 2px 5px 0px;
                    border: 2px solid var(--button-color);
                    outline: none !important;
                }
                input[type='radio']:before {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    margin: 1px auto;
                    border-radius: 50%;
                }
                input[type="radio"]:checked:before {
                    background: var(--button-color);
                }
                input[type="radio"]:checked {
                    border-color: var(--button-color);
                }
            }
            .feedback-btn {
                background: var(--button-color);
                border-radius: 50px;
                padding: 8px 20px;
                height: 40px;
                font-family: Poppins-Bold;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: var(--button-font-color);
                display: flex;
                margin: auto;
            }
            .blue-btn {
                border: none;
                font-family: Poppins-Bold !important;
                text-transform: capitalize;
                transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                transition: 350ms;
            }
            .blue-btn:hover {
                background: #fff;
                color: #02021c;
                transform: scale(1.05);
                box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
            }
            button[disabled] {
                cursor: not-allowed !important;
            }
        }
        .card-bg {
            background: var(--card-color);
        }
    }
}