<div [hidden]="trailerActive">
    <div class="series-bg-image" [ngStyle]="{'background-image':'var(--details-gradient),url('+imagePath+series?.banner_image+')'}">
    </div>
    <div class="series-info">
        <img class="image-card" src="{{imagePath+series?.poster_image}}">
        <div class="info-card">
            <div class="title-card" [title]="series?.title">{{series?.title}}</div>
            <div class="en-title-card">{{series?.title_en}}</div>
            <!-- <div class="description-card">{{series?.raw_description}}</div> -->
            <read-more *ngIf="series?.raw_description" style="color:var(--bg-font-color);" class="description-card" [text]="series?.raw_description" [maxLength]="250"></read-more>
            <div class="meta-card">
                <div *ngIf="seasonsLength >0" class="season-count">{{seasons.length}}&nbsp;<span *ngIf="seasonsLength==1">{{'cnt_del_page_title_sing_seson_def' | translate}}</span><span *ngIf="seasonsLength>1"> {{'cnt_del_page_title_seson_def' | translate}}</span> <span class="pipe">|</span></div>
                <div *ngIf="series?.publish_time" class="series-publish-card">{{series?.publish_time}}</div><span *ngIf="series?.age" class="pipe">|</span>
                <div *ngIf="series?.age" class="age-card">{{series?.age}}</div><span *ngIf="tagsLength>0" class="pipe">|</span>
                <div class="series-tags-section" *ngIf="tagsLength>0">
                    <div *ngFor="let tag of tags;let index= index;"><span class="tag-card" *ngIf="index<3">{{tag}}</span></div>
                </div>
            </div>
            <div class="director-card">
                <div style="display:inline-flex;max-height: 24px" *ngIf="series?.director"> <span>{{'cnt_del_page_desc_dirctr_def'| translate}}</span> &nbsp;
                    <span [title]="series.director" class="text-hidden" style="font-family: Poppins-Regular;color:var(--bg-font-color);max-width: 120px;">{{director}}</span>
                </div>
                <div *ngIf="series?.director && series?.cast" class="pipe">|</div>
                <div style="display:inline-flex;max-height: 24px" *ngIf="series?.cast">{{'cnt_del_page_desc_cast_def'| translate}}&nbsp;
                    <span [title]="series.cast" class="text-hidden" style="font-family: Poppins-Regular;color:var(--bg-font-color);max-width: 440px;">{{cast}}</span>
                </div>
            </div>
            <div class="actions-card">
                <button class="blue-btn watch-action" *ngIf="series?.availability==1" (click)="playVideo(firstVideo.content_id)">{{'cnt_del_page_btn_subsc_def'| translate}}</button>
                <button class="blue-btn watch-action" *ngIf="series?.availability==2 && series?.tvod_max_age==0" (click)="playVideo(firstVideo.content_id)">{{'cnt_del_page_btn_buy_def'|translate}}&nbsp;{{series?.amount}}</button>
                <button class="blue-btn watch-action" *ngIf="series?.availability==2 && series?.tvod_max_age!=0" (click)="playVideo(firstVideo.content_id)">{{'cnt_del_page_btn_rent_def'|translate}}&nbsp;{{series?.amount}}</button>
                <button class="blue-btn watch-action" *ngIf="series?.availability==3" (click)="playVideo(firstVideo.content_id)">{{'cnt_del_page_btn_watch_def'|translate}}</button>
                <button class="white-btn trailer-action" *ngIf="trailersLength>0" (click)="playTrailer(trailers[0])">{{'cnt_del_page_btn_tralr_def'|translate}}</button>
                <a class="wishlist-action" *ngIf="!series?.wishlist_status" (click)="addWishlist(series?.unique_id,1, series?.title)"><img src="assets/img/favorite-empty.svg"></a>
                <a class="wishlist-action" *ngIf="series?.wishlist_status" (click)="removeWishlist(series?.unique_id,0)"><img src="assets/img/favorite-filled.svg"></a>
            </div>
        </div>
    </div>
    <div *ngIf="seasonsLength >0 || trailersLength > 0 || seriesLength> 0" class="episodes-section">
        <div class="tab-content series-tab-content">
            <div class="series-drop-tab drop-tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li *ngIf="seasonsLength > 0" role="presentation" class="list-margin inline active">
                        <a aria-controls="seasons" class="tab-presentation" (click)="displayContent('seasons')" role="tab" data-toggle="tab">{{'cnt_del_page_title_seson_def' | translate}}</a>
                    </li>
                    <li *ngIf="trailersLength > 0" role="presentation" class="list-margin inline">
                        <a aria-controls="trailers" class="tab-presentation" (click)="displayContent('trailers')" role="tab" data-toggle="tab">{{'cnt_del_page_title_tralr_def' | translate}}</a>
                    </li>
                    <li *ngIf="!seasonsLength && seriesLength > 0" role="presentation" class="list-margin inline">
                        <a aria-controls="episodes" class="tab-presentation" (click)="displayContent('episodes')" role="tab" data-toggle="tab">{{'cnt_del_page_title_episod_def' | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="series-line"></div>
            <div role="tabpanel" class="tab-pane active" id="seasons">
                <div class="season-info" *ngIf="selectedSeason && selectedSeason?.videos?.length > 0">
                    <div class="seasons-list">
                        <button class="season-name" *ngFor="let season of seasons;let index = index;" (click)="change_season(index)" [ngClass]="{'active':selectedSeason.season_id==season.season_id}">
                        {{season.title}}
                    </button>
                    </div>
                    <!-- <div class="season-border"></div> -->
                    <div>
                        <div class="season-videos" *ngFor="let video of selectedSeason.videos">
                            <div class="season-video-box">
                                <a (click)="playVideo(video.content_id)" class="season-image">
                                    <div class="episode-gradient">
                                        <div class="series-play-icon"><img loading="lazy" src="assets/img/play-icon.svg"></div>
                                    </div>
                                    <img loading="lazy" src="{{imagePath+video.banner_low}}">
                                </a>
                                <div class="season-video-info">
                                    <div class="season-video-title">{{video.title}}</div>
                                    <div class="season-video-en-title">{{video.title_en}}</div>
                                    <p class="series-meta"><span>{{video.duration}}</span><span class="pipe">|</span><span>{{video.release_date}}</span></p>
                                    <div *ngIf="video.age" class="series-publish-card">{{video.age}}</div>
                                </div>
                            </div>
                            <read-more *ngIf="series?.raw_description" class="season-video-description" [text]="video.description" [maxLength]="300"></read-more>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="trailers">
                <div class="episodes-info" *ngIf="trailersLength > 0">
                    <div class="series-videos" *ngFor="let video of trailers">
                        <div class="episode-video-box">
                            <a (click)="playTrailer(video)" class="season-image">
                                <div class="episode-gradient">
                                    <div class="series-play-icon"><img loading="lazy" src="assets/img/play-icon.svg"></div>
                                </div>
                                <img loading="lazy" src="{{imagePath+video.banner_low}}">
                            </a>
                            <div class="season-video-info">
                                <div class="season-video-title">{{video.title}}</div>
                                <div class="season-video-description">{{video.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="episodes">
                <div class="episodes-info" *ngIf="seriesLength > 0">
                    <div class="series-videos" *ngFor="let video of seriesVideos">
                        <div class="episode-video-box">
                            <a (click)="playVideo(video.content_id)" class="season-image">
                                <div class="episode-gradient">
                                    <div class="series-play-icon"><img loading="lazy" src="assets/img/play-icon.svg"></div>
                                </div>
                                <img loading="lazy" src="{{imagePath+video.banner_low}}">
                            </a>
                            <div class="season-video-info">
                                <div class="season-video-title">{{video.title}}</div>
                                <div class="season-video-en-title">{{video.title_en}}</div>
                                <p class="series-meta"><span>{{video.duration}}</span><span class="pipe">|</span><span>{{video.release_date}}</span></p>
                                <div *ngIf="video.age" class="series-publish-card">{{video.age}}</div>
                            </div>
                        </div>
                        <read-more *ngIf="series?.raw_description" class="season-video-description" [text]="video.description" [maxLength]="300"></read-more>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-signin-popup [back]="back"></app-signin-popup>
</div>
<div [hidden]="!trailerActive" class="player-page">
    <a class="button-back" (click)="closeTrailer()"><img loading="lazy" src="assets/img/back.svg"></a>
    <div class="video-header">{{videoTitle}}</div>
    <div [ngClass]="{fullvideo:1}" id="trailer-player">
    </div>
</div>