.series-bg-image {
    height: 661px;
    left: 0%;
    right: 0%;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(1.3);
}

.series-info {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    width: 1046px;
    height: 420px;
    margin-left: 12vw;
    top: 160px;
    align-items: center;
}

.image-card {
    /* position: absolute; */
    width: 280px;
    height: 420px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    filter: saturate(1.3);
}

.info-card {
    /* position: absolute; */
    width: 721px;
    height: 368px;
    margin-left: 48px;
}

.title-card {
    position: relative;
    height: 48px;
    left: 0%;
    right: 40%;
    /* margin-top: 16px; */
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 38px;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    text-transform: uppercase;
    color: var(--bg-font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.en-title-card {
    position: relative;
    height: 23px;
    left: 0%;
    right: 60.76%;
    margin-top: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: var(--bg-font-color);
}

.description-card {
    position: relative;
    /* height: 72px; */
    margin-top: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--bg-font-color);
    display: -webkit-box;
    /* -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.meta-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: relative;
    /* width: 462px; */
    height: 24px;
    left: 0px;
    margin-top: 24px;
}

.season-count {
    position: relative;
    height: 24px;
    left: 0%;
    right: 67.53%;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--bg-font-color);
}

.series-publish-card {
    padding: 2px 9px;
    position: relative;
    width: 49px;
    height: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 12px;
    color: var(--bg-font-color);
    text-align: center;
}

.age-card {
    position: relative;
    width: 40px;
    height: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 12px;
    color: var(--bg-font-color);
    text-align: center;
}

.director-card {
    position: relative;
    height: 24px;
    left: 0%;
    right: 2.42%;
    margin-top: 24px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    color: var(--bg-font-color);
}

.actions-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: relative;
    width: 722.87px;
    height: 46px;
    left: 0px;
    margin-top: 24px;
}

.subscribe-action {
    position: relative;
    height: 46px;
    margin-right: 20px;
    background: var(--button-color);
    border-radius: 23px;
    font-family: Poppins-Bold;
    font-size: 20px;
    line-height: 30px;
    color: var(--button-font-color);
    text-align: center;
    border: 1px solid var(--button-color);
    padding: 8px 30px;
}

.buy-action {
    position: relative;
    width: 165px;
    height: 46px;
    margin-right: 20px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 23px;
    font-family: Poppins-Bold;
    font-size: 20px;
    line-height: 44px;
    color: #02021C;
    text-align: center;
}

.watch-action {
    position: relative;
    width: auto;
    padding: 8px 30px;
    height: 46px;
    margin-right: 20px;
    box-sizing: border-box;
    border-radius: 23px;
    color: var(--button-font-color);
    font-family: Poppins-Bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background: var(--button-color);
}

.trailer-action {
    position: relative;
    width: 212px;
    height: 48px;
    margin-right: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 23px;
    color: var(--bg-font-color);
    font-family: Poppins-Bold;
    font-size: 20px;
    /* line-height: 42px; */
    text-align: center;
    background: transparent;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms;
}

.wishlist-action {
    position: relative;
    width: 42.87px;
    height: 46px;
    cursor: pointer;
}

.wishlist-action>img:hover {
    transform: scale(1.1);
    /* background: url('assets/img/favorite-filled.png');
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3); */
    /* box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3); */
}

.episodes-section {
    /* margin-top: -24px; */
    width: 1379px;
    margin-left: 48px
}

.episode-header {
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: var(--bg-font-color);
}

.series-line {
    background: linear-gradient(90deg, var(--button-color) 0%, rgba(220, 24, 10, 0) 100%);
    margin-top: 20px;
    width: 100%;
    height: 1px;
}

.episodes-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.season-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.seasons-list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 310px;
    margin-right: 40px
}

.season-border {
    width: auto;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transform: rotate(90deg);
}

.season-name {
    width: 310px;
    height: 64px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-color: transparent;
}

.season-videos {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 957px;
    height: auto;
    left: 370px;
    top: 0px;
}

.season-video-box {
    width: 936px;
    height: 200px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.series-videos {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    height: auto;
    left: 370px;
    top: 0px;
    margin-right: 62px;
}

.episode-video-box {
    width: 100%;
    height: 200px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: row;
}

.season-image {
    cursor: pointer;
    width: 350px;
    height: 200px;
    margin-right: 29px;
    /* border-radius: 8px; */
    filter: saturate(1.3);
    transition: 350ms;
    /* transition-delay: 100ms; */
    transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
}

.season-image:hover {
    opacity: 1;
    /* margin: 0px 30px; */
    transform: scale(1.1);
    z-index: 100;
    /* border: .5px solid #006AFF78; */
    /* box-shadow: 0px 0px 50px rgba(220, 24, 10, 0.6), 0px 0px 12px rgba(0, 0, 0, 0.25); */
    filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.2));
}

.episode-gradient {
    position: absolute;
    width: 350px;
    height: 200px;
    /* background: linear-gradient(180.18deg, rgba(2, 2, 28, 0.1) 49.89%, #02021C 99.77%); */
    box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
}

.season-image>img {
    width: 350px;
    height: 200px;
    margin-right: 29px;
    border: .5px solid rgba(255, 255, 255, .2);
    /* border-radius: 8px; */
}

.season-image:hover .episode-gradient {
    /* border: .5px solid #006AFF78; */
    /* border-radius: 8px; */
}

.series-play-icon {
    display: none;
    position: absolute;
    width: 48px;
    height: 48px;
    left: 151px;
    top: 76px;
}

.season-image:hover .series-play-icon {
    display: block;
}

.season-video-title {
    height: 29px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    /* display: flex; */
    /* align-items: center; */
    text-transform: uppercase;
    margin-bottom: 16px;
    color: var(--bg-font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.season-video-description {
    /* height: 72px; */
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    /* align-items: center; */
    color: var(--bg-font-color);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* -webkit-box-orient: vertical; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    margin-bottom: 26px;
}

.episode-name {
    height: 23px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: var(--bg-font-color);
}

.season-name.active {
    background: rgba(220, 24, 10, 0.5);
    border-color: transparent;
}

.series-meta {
    font-size: 20px;
    color: var(--bg-font-color);
    font-family: Poppins-Regular;
    font-weight: 500;
    margin-bottom: 19px;
}

.season-video-en-title {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--bg-font-color);
    opacity: .5;
    margin-bottom: 16px;
}

.season-video-info {
    margin-left: 30px;
}

.tags-section {
    display: -webkit-inline-box;
    width: 350px;
    // overflow-x: auto;
    // overflow-y: hidden;
}

.series-tags-section {
    display: -webkit-inline-box;
    width: 510px;
    // overflow-x: auto;
    // overflow-y: hidden;
}

.tags-section::-webkit-scrollbar,
.series-tags-section::-webkit-scrollbar {
    display: none;
}

.trailer-action {
    position: relative;
    width: 212px;
    height: 48px;
    margin-right: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 23px;
    color: var(--bg-font-color);
    font-family: Poppins-Bold;
    font-size: 20px;
    /* line-height: 42px; */
    text-align: center;
    background: transparent;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms;
}

.player-page {
    overflow: hidden;
}

.button-back {
    position: absolute;
    width: 17px;
    left: 50px;
    top: 46px;
    opacity: 0.7;
    z-index: 2;
    cursor: pointer;
}

.video-header {
    position: absolute;
    /* width      : 405px; */
    height: 30px;
    left: 99px;
    top: 46px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.7;
    z-index: 2;
}

.fullvideo {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #1F1F1F;
}

@media screen and (max-width: 1300px) {
    .series-info {
        margin-left: 5vw;
    }
    .description-card {
        width: 600px;
    }
    .season-name {
        width: 200px;
        height: 50px;
    }
    .seasons-list {
        width: 190px;
    }
    .series-play-icon {
        left: 126px;
    }
    .episode-gradient {
        width: 300px;
    }
    .season-image>img {
        width: 300px;
    }
    .season-image {
        width: 300px;
    }
    .season-video-info {
        margin-left: 10px;
    }
    .season-video-description {
        width: 600px;
    }
}