.voucher-page {
    padding-top: 157px;
    height: 500px;
    margin-bottom: 100px;
    height: 300px;
}

.voucher-box-details {
    background: var(--card-color);
    width: 500px;
    margin: 0px auto 100px;
    padding: 20px 24px;
    height: 300px;
}

.voucher-button {
    padding: 8px 30px;
    background: var(--button-color);
    /* width: 158px; */
    height: 40px;
    font-family: Poppins-Bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--button-font-color);
    margin: 24px auto 0px;
    border-radius: 23px;
}

.voucher-text {
    text-align: center;
    color: var(--card-font-color);
    margin: 24px auto 0px;
    margin-bottom: 20px;
}

.voucher-header {
    margin-bottom: 35px;
    color: var(--card-font-color);
    text-align: center;
    font-size: 31px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-weight: 500;
}

.voucher-input-fields {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: static;
    width: 434px;
    left: 0px;
    margin-bottom: 12px;
}

.voucher-input-fields .form-control {
    width: 444px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 23px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #6F6F6F;
}

.cancel-text {
    /* height: 30px; */
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    color: var(--button-color);
    margin-top: 30px;
}

.home-redirection {
    text-align: center;
    margin-top: 16px;
}