<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+homeImage+')'}" style="background-size: cover;
background-repeat: no-repeat;">
    <div class="voucher-page">
        <div class="voucher-box-details" [hidden]="voucherSuccessPage">
            <div class="">
                <h2 class="voucher-header">{{'vchr_title_rdm_vchr_def'|translate}}</h2>
            </div>
            <div class="voucher-text">
                {{'vchr_desc_redem_button_def'|translate}}
            </div>
            <form method="post" id="voucher" enctype="multipart/form-data">
                <div class="voucher-input-fields">
                    <input id="voucher_code" [(ngModel)]="voucherCode" [ngModelOptions]="{standalone: true}" name="voucherCode" class="form-control" placeholder="{{'vchr_ibp_vchr_def'|translate}}" type="text" required>
                </div>
                <button class="voucher-button blue-btn" (click)="voucher_apply()">{{'vchr_btn_rdm_vchr_def' |translate}}</button>
            </form>
        </div>
        <div class="voucher-box-details" [hidden]="!voucherSuccessPage">
            <div class="text-center">
                <img loading="lazy" src="assets/img/cancel-check.svg" alt="success" width="75" height="75" style="border: 0; font-size: 0; margin: 0; max-width: 100%; padding: 0;">
                <div class="cancel-text">{{message}}</div>
            </div>
            <div class="voucher-text">
                {{successDesc}}
            </div>
            <div class="home-redirection">
                <a [routerLink]="['/home']" ui-sref="profile.home({region: region})">
                    <button class="voucher-button blue-btn">{{'vchr_btn_home_def'|translate}}</button>
                </a>
            </div>
        </div>
    </div>
</div>