<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--details-gradient),url('+homeImage+')'}">
    <div class="view-more-page" [ngStyle]="{'width':(orientation ==2)? videosWidth:seriesWidth}">
        <div infiniteScroll [infiniteScrollDistance]="1" (scrolled)="loadMore()" *ngIf="channelDataLength>0">
            <div class="tab-content series-tab-content">
                <div class="channel-drop-tab">
                    <ul class="nav channel-tabs" role="tablist">
                        <li *ngFor="let section of data" role="presentation" class="list-margin inline" [ngClass]="{'active':contentType==section.key}">
                            <a attr.aria-controls="{{data.key}}" *ngIf="section.list.length>0" class="tab-presentation" (click)="displayContent(section.key)" role="tab" data-toggle="tab">{{section.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="channel-separator"></div>
                <div *ngFor="let section of data" role="tabpanel" class="tab-pane" [ngClass]="{'active':contentType==section.key}" id="{{section.key}}">
                    <div *ngIf="section.list.length > 0" class="box video-box-row details-video-box-row see-all-container">
                        <div class="tile details-video-tile" *ngFor="let value of section.list">
                            <div *ngIf="section.orientation ==2">
                                <div class="video-box-outer">
                                    <div class="tile-media">
                                        <a (click)="redirect(value)">
                                            <div class="img-gradient"></div> <img loading="lazy" class="tile-img" src="{{imagePath+value.banner_low}}" alt="" />
                                            <p class="video-title">{{value.title}}</p>
                                            <p class="video-en-title">{{value.title_en}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile details-series-tile" *ngFor="let value of section.list">
                            <div *ngIf="section.orientation ==1">
                                <div class="video-box-outer">
                                    <div class="series-tile-media">
                                        <a (click)="redirect(value)">
                                            <div class="series-gradient"></div>
                                            <img loading="lazy" class="tile-img series-tile-img" src="{{imagePath+value.poster_image}}" alt="" title="{{value.title}}" />
                                            <p class="video-title">{{value.title}}</p>
                                            <p class="video-en-title">{{value.title_en}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="data_loader" style="margin-top: 5px;text-align: center;display: none">
                    <img loading="lazy" src="assets/img/ellipsis.svg" style="width: 40px;">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>