.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .view-more-page {
        padding-top: 153px;
        margin: 0px 100px;
        .series-tab-content {
            padding: 0px 10px !important;
            .channel-tabs {
                /* width: 600px; */
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                li {
                    width: 300px;
                    a,
                    a:hover,
                    a:focus {
                        text-align: center;
                        width: 50%;
                        left: 0px;
                        top: 0px;
                        font-family: Poppins-Bold;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 36px;
                        text-align: center;
                        color: #fff;
                        border-radius: 3px;
                        padding: 8.5px 0px;
                        margin: 0px;
                        list-style: none;
                        cursor: pointer;
                        width: 300px;
                        background: rgba(255, 255, 255, 0.16);
                        padding: 10px
                    }
                }
                .list-margin {
                    margin-right: 2px !important;
                }
                li.active>a,
                li.active>a:hover,
                li.active>a:focus {
                    background: #C6C6C6;
                    font-family: Poppins-Bold;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                    color: #02021C;
                    border-radius: 3px;
                }
            }
            .channel-separator {
                height: 32px;
            }
            .tab-pane {
                display: none;
                .video-box-row {
                    -webkit-transition: 450ms -webkit-transform;
                    transition: 450ms -webkit-transform;
                    transition: 450ms transform;
                    transition: 450ms transform, 450ms -webkit-transform;
                    font-size: 0;
                    white-space: nowrap;
                    padding-bottom: 1px;
                    .tile {
                        position: relative;
                        display: inline-block;
                        padding: 0px;
                        font-size: 20px;
                        cursor: pointer;
                        -webkit-transition: 450ms all;
                        transition: 450ms all;
                        -webkit-transform-origin: center;
                        transform-origin: center;
                        .video-box-outer {
                            height: 100%;
                            .tile-media {
                                /* width: 323.29px;
                                    height: 221.5px;
                                    border: 0.5px solid rgba(255, 255, 255, 0.2);
                                    box-sizing: border-box;
                                    border-radius: 8px;
                                    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                                    transition: 350ms; */
                                overflow: hidden;
                                width: 323.29px;
                                border: .5px solid rgba(255, 255, 255, .2);
                                box-sizing: border-box;
                                transition: 350ms;
                                /* transition-delay       : 100ms; */
                                transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
                                filter: saturate(1.3);
                                .img-gradient {
                                    position: absolute;
                                    width: 323.29px;
                                    /* height    : 220px; */
                                    left: 0px;
                                    top: 0px;
                                    bottom: 0px;
                                    background: linear-gradient(180deg, rgba(5, 5, 5, 0) 18.98%, var(--bg-color) 100%);
                                    box-sizing: border-box;
                                    /* box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                                        border-radius: 8px; */
                                    .tile-img {
                                        width: 323.29px;
                                        height: 183.02px;
                                        background: linear-gradient(180.18deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%);
                                        /* border       : 0.5px solid rgba(255, 255, 255, 0.2); */
                                        box-sizing: border-box;
                                        box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                                        /* border-radius: 8px; */
                                        object-fit: cover;
                                    }
                                }
                                .video-title {
                                    position: absolute;
                                    /* width      : 94%; */
                                    height: 30px;
                                    left: 11px;
                                    right: 10px;
                                    bottom: 20px;
                                    font-family: Poppins-Bold;
                                    font-style: normal;
                                    font-size: 22px;
                                    line-height: 30px;
                                    text-transform: uppercase;
                                    color: #F3F3F3;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-align: left;
                                }
                                .video-en-title {
                                    position: absolute;
                                    width: 94%;
                                    height: 23px;
                                    left: 11px;
                                    right: 10px;
                                    bottom: 0px;
                                    font-family: Poppins-Regular;
                                    font-style: normal;
                                    font-size: 16px;
                                    line-height: 27px;
                                    color: var(--bg-font-color);
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    text-align: left;
                                    opacity: 50%;
                                }
                            }
                            .tile-media:hover {
                                /* transform: scale(1.2);
                                    -webkit-transform: scale(1.2);
                                    -moz-transform: scale(1.2);
                                    -ms-transform: scale(1.2);
                                    -o-transform: scale(1.2);
                                    transform: scale(1.2);
                                    z-index: 100; */
                                opacity: 1;
                                margin: 0px 30px;
                                transform: scale(1.2);
                                z-index: 100;
                                /* border    : .5px solid #006AFF78; */
                                /* box-shadow: 0px 0px 50px rgba(220, 24, 10, 0.6), 0px 0px 12px rgba(0, 0, 0, 0.25); */
                                filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.2));
                            }
                        }
                    }
                    .details-video-tile {
                        position: relative;
                        display: inline-block;
                        padding: 5px;
                        font-size: 20px;
                        cursor: pointer;
                        -webkit-transition: 450ms all;
                        transition: 450ms all;
                        -webkit-transform-origin: center;
                        transform-origin: center;
                        margin: 15px 0px;
                    }
                    .details-series-tile {
                        position: relative;
                        display: inline-block;
                        padding: 5px;
                        font-size: 20px;
                        cursor: pointer;
                        -webkit-transition: 450ms all;
                        transition: 450ms all;
                        -webkit-transform-origin: center;
                        transform-origin: center;
                        margin-bottom: 35px;
                        .series-tile-media {
                            position: relative;
                            text-align: center;
                            .series-gradient {
                                position: absolute;
                                width: 242px;
                                /* height    : 337.63px; */
                                left: 0px;
                                top: 0px;
                                bottom: 0px;
                                background: linear-gradient(180.38deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%);
                                /* box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56); */
                                box-sizing: border-box;
                                /* box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                                    border-radius: 2px; */
                            }
                            .series-tile-img {
                                width: 242px;
                                height: 337.63px;
                                left: 0px;
                                top: 0px;
                                background: linear-gradient(180.38deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%), linear-gradient(0deg, rgba(31, 31, 31, 0.24), rgba(31, 31, 31, 0.24));
                                box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                                border-radius: 2px;
                            }
                        }
                        .series-tile-media:hover {
                            /* transform: scale(1.1);
                                -webkit-transform: scale(1.1);
                                -moz-transform: scale(1.1);
                                -ms-transform: scale(1.1);
                                -o-transform: scale(1.1);
                                transform: scale(1.1);
                                z-index: 100; */
                            margin: 0px 12px;
                            transform: scale(1.1);
                            z-index: 100;
                            opacity: 1;
                            /* border    : .5px solid #006AFF78; */
                            /* box-shadow: 0px 0px 50px rgba(220, 24, 10, 0.6), 0px 0px 12px rgba(0, 0, 0, 0.25); */
                            filter: drop-shadow(0px 0px 40px rgba(2, 1, 1, 0.2));
                        }
                    }
                }
                .details-video-box-row {
                    width: 110%!important;
                }
                .see-all-container {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: left;
                    margin-left: -5px;
                }
            }
            .tab-pane.active {
                display: block;
            }
        }
    }
}