<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation routes="signup" value="login_btn_sign_up_def"></app-navigation>
    <div class="signin-form">
        <div class="login-form-inside">
            <h1 class="login-title">{{'login_title_log_in_def' | translate}}</h1>
            <p class="login-text">{{'login_desc_cred_login_def' | translate}}</p>
            <form [formGroup]="signinForm" name="signinForm" method="post" (ngSubmit)="signin()" novalidate>
                <div class="form-fields">
                    <div class="form-group" [ngClass]="{ 'has-error' : signinForm.controls.email.invalid && signinForm.controls.email.pristine }">
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'login_inptbxl_email_def' | translate}}" formControlName="email" required>
                        <p *ngIf="signinForm.controls.email.invalid && !signinForm.controls.email.pristine" class="help-block">
                            {{'login_desc_email_req_def' | translate}}</p>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':signinForm.controls.password.invalid && signinForm.controls.password.pristine}">
                        <input type="password" id="password" name="password" class="form-control" placeholder="{{'login_inptbxl_psw_def' | translate}}" formControlName="password" required>
                        <span *ngIf="showPassword" class="fa fa-fw fa-eye field-icon toggle-password" (click)="hidePassword('password')"></span>
                        <span *ngIf="!showPassword" class="fa fa-fw fa-eye fa-eye-slash field-icon" (click)="hidePassword('password')"></span>
                        <p *ngIf="signinForm.controls.password.invalid && !signinForm.controls.password.pristine" class="help-block">
                            {{'login_desc_psw_def' | translate}}</p>
                    </div>
                </div>
                <input type="text" name="login_by" formControlName="login_by" [hidden]="true">
                <input type="text" name="device_type" formControlName="d_type" [hidden]="true">
                <input type="text" name="device_token" formControlName="device_token" [hidden]="true">
                <p class="forgot-text">{{'login_btn_for_psw_def'|translate}}<a [routerLink]="['/forgot']" ui-sref="static.forgot({region: region})"> {{'login_btn_click_here_def'|translate}}</a></p>
                <p class="terms-text">{{'login_desc_agrmnt_def'|translate}}&nbsp;<a routerLink="/pages/privacy" ui-sref="static.page({id : 'privacy',region: region})">{{'login_desc_pri_poli_def' | translate}} </a>&nbsp;{{'login_desc_and_def' | translate}}&nbsp;
                    <a routerLink="/pages/terms" ui-sref="static.page({id : 'terms',region: region})"> {{'login_desc_trms_use_def' | translate}}</a>
                </p>
                <div class="d-flex">
                    <button type="submit" [disabled]="signinForm.invalid" class="blue-btn signin-btn" id="sign_in_button">{{'login_btn_log_in_def' | translate}}</button>
                </div>
                <p class="signup-text">{{'login_btn_dnt_acnt_def' | translate}} <a [routerLink]="['/signup'] " ui-sref="static.signup({region: region})">{{'login_btn_sign_up_def' | translate}}</a></p>
            </form>
            <div class="social-login" *ngIf="fbStatus || googleStatus">
                <button *ngIf="fbStatus" class="f-login" (click)="social_login('facebook')"><img loading="lazy" src="assets/img/fimage.svg">&nbsp;{{'login_btn_login_fb_def' | translate}}</button>
                <button *ngIf="googleStatus" class="g-login" (click)="social_login('google')"><img loading="lazy" src="assets/img/gimage.svg">&nbsp;{{'login_btn_login_ggl_def' | translate}}</button>
            </div>
        </div>
    </div>
</div>