<div class="home-bg-img" [ngStyle]="{'background': 'var(--home-bg-gradient),url('+homeImage+')'}">
    <div class="summary-page">
        <div class="summary-details">
            <div class="summary-header">{{'pay_summ_title_summ_def' | translate}}</div>
            <div class="plan-description">
                <div class="plan-header">{{video?.title}}</div>
                <div class="payment-line"></div>
                <div class="plan-details">
                    <div *ngIf="video?.expiry_date" class="plan-amount">{{'pay_summ_desc_valid_def' | translate}}<span>{{video?.expiry_date}}</span>
                    </div>
                    <div class="plan-amount">{{'pay_summ_desc_amnt_def' | translate}}<span> {{video?.amount}}</span></div>
                </div>
            </div>
            <div class="Payment-options">
                <div [ngClass]="{'coupon-code': couponApplied || couponSelected}">
                    <span><a class="coupon" *ngIf="!couponApplied" (click)="showCoupon('apply')">{{'pay_summ_title_coupn_def' | translate}}</a>
                        <span class="coupon" *ngIf="couponApplied">{{'pay_summ_desc_coupn_aply_def'| translate}}: {{coupon}}</span>
                    <a class="close-coupon" *ngIf="couponApplied || couponSelected" (click)="showCoupon('remove')"><img loading="lazy" src="assets/img/x-circle.svg"></a>
                    </span>
                    <form method="post" [formGroup]="PromocodeForm" (ngSubmit)="applyCoupon(promoCode)" id="payment-form" class="subscription-form" *ngIf="couponSelected">
                        <div class="coupon-fields">
                            <div class="form-group">
                                <input class="name-control" [(ngModel)]="promoCode" formControlName="promoCode" placeholder="{{'pay_summ_ibp_coupn_def' | translate}}" required>
                            </div>
                            <button type="submit" [disabled]="PromocodeForm.invalid" class="blue-btn coupon-button">{{'pay_summ_btn_aply_def' | translate}}</button>
                        </div>
                    </form>
                    <div *ngIf="couponApplied" class="coupon-applied">{{couponMessage}}</div>
                </div>
                <div *ngIf="couponApplied" class="discount-amount">{{'pay_summ_desc_dscnt_def' | translate}}
                    <span>{{discountAmount}}</span></div>
                <div *ngIf="couponApplied" class="payable-amount">{{'pay_summ_desc_tot_amnt_def' | translate}}
                    <span>{{payableAmount}}</span></div>
                <p class="invoice-terms-text" *ngIf="payable!=0">
                    {{'pay_summ_desc_agrmnt_def'| translate}} <a ui-sref="static.page({id:'terms',region: region})">{{'pay_summ_btn_trms_use_def'| translate}}</a> &
                    <a ui-sref="static.page({id:'privacy',region: region})">{{'pay_summ_btn_pri_poli_def' | translate}}</a>
                </p>
                <button *ngIf="payable!=0" class="blue-btn pay-button" (click)="checkout()" id="pay_now_subscription">
                    {{'pay_summ_btn_proced_def' | translate}}</button>
                <button *ngIf="payable==0" (click)="proceed()" class="blue-btn pay-button" id="pay_now_subscription">
                    {{'pay_summ_btn_proced_def'|translate}}
                </button>
                <div *ngIf="payable!=0" class="powered-text text-center">
                    <img loading="lazy" class="str-img" src="assets/img/str-img.svg">
                </div>
            </div>
        </div>
    </div>
</div>