.cancel-page {
    padding-top: 157px;
}

.cancel-details {
    padding: 31px 24px 24px;
    background: var(--card-color);
    width: 484px;
    /* height: 457px; */
    margin: 0px auto;
}

.cancel-text {
    height: 30px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--button-color);
    margin-top: 30px;
}

.cancel-info {
    margin-top: 24px;
}

.cancel-data {
    margin-top: 14px;
}

.cancel-mail {
    margin-top: 16px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--card-font-color);
}

.home-redirection {
    text-align: center;
    margin-top: 16px;
}

.home-btn {
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    border-radius: 23px;
    text-align: center;
    color: var(--button-font-color);
    padding: 8px 20px;
    background: var(--button-color);
}

.account-section-title {
    margin: 0px;
    color: var(--card-font-color);
    /* text-transform: uppercase; */
    font-size: 18px;
    font-family: Poppins-Bold;
    margin-bottom: 3px;
}