<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+homeImage+')'}" style="background-size: cover;background-repeat: no-repeat;">
    <div class="cancel-page">
        <div class="cancel-details" *ngIf="cancelled">
            <div class="text-center">
                <img loading="lazy" src="assets/img/cancel-check.svg" alt="success" width="75" height="75" style="border: 0; font-size: 0; margin: 0; max-width: 100%; padding: 0;">
                <div class="cancel-text">{{'subsc_can_title_subscr_def' | translate}}</div>
            </div>
            <div class="cancel-info">
                <p class="account-section-title">{{'subsc_can_desc_mor_def'|translate}}</p>
                <div class="profile-line"></div>
                <div class="cancel-data">
                    <p class="account-section-text">{{'subsc_can_desc_subsc_plan_def' |translate}}: <span>{{transactionDetails?.subscription_plan}} </span></p>
                    <p class="account-section-text">{{'subsc_can_desc_end_date_def' |translate}}: <span>{{transactionDetails?.expiry_date}} </span></p>
                    <p class="account-section-text">{{'subsc_can_desc_subsc_can_date_def' |translate}}: <span>{{transactionDetails?.cancelled_date}} </span></p>
                    <p class="account-section-text">{{'subsc_can_desc_trans_num_def' |translate}}: <span>{{transactionDetails?.orderId}}</span> </p>
                </div>
                <div class="cancel-mail">{{'subsc_can_desc_inform_def' | translate}}
                </div>
                <div class="home-redirection">
                    <a [routerLink]="['/home']" ui-sref="profile.home({region: region})">
                        <button class="blue-btn home-btn">{{'subsc_can_btn_home_def'|translate}}</button>
                    </a>
                    <a href="filmbox://" *ngIf="showIosApp">
                        <button class="blue-btn home-btn"><i class="fa fa-apple"></i> {{'subsc_can_btn_app_def'|translate}}</button>
                    </a>
                    <a href="intent://URLHandler/#Intent;scheme=filmbox;package=com.spi.filmbox;end" *ngIf="showAndroidApp">
                        <button class="blue-btn home-btn"><i class="fa fa-android"></i> {{'subsc_can_btn_app_def'|translate}}</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="cancel-details" *ngIf="!cancelled">
            <div class="text-center">
                <img loading="lazy" src="assets/img/close-button.svg" alt="success" width="75" height="75" style="border: 0; font-size: 0; margin: 0; max-width: 100%; padding: 0;">
                <div class="cancel-text">{{'subsc_can_title_subsc_fail_def'|translate}}</div>
            </div>
            <div class="cancel-info">
                <p class="account-section-title">{{'subsc_can_desc_mor_def'|translate}}</p>
                <div class="profile-line"></div>
                <div class="cancel-data">
                    <p class="text-center cancel-mail">{{transactionDetails?.message}}</p>
                </div>
                <div class="home-redirection">
                    <a [routerLink]="['/home']" ui-sref="profile.home({region: region})">
                        <button class="blue-btn home-btn">{{'subsc_can_btn_home_def'|translate}}</button>
                    </a>
                    <a href="filmbox://" *ngIf="showIosApp">
                        <button class="blue-btn home-btn"><i class="fa fa-apple"></i> {{'subsc_can_btn_app_def'|translate}}</button>
                    </a>
                    <a href="intent://URLHandler/#Intent;scheme=filmbox;package=com.spi.filmbox;end" *ngIf="showAndroidApp">
                        <button class="blue-btn home-btn"><i class="fa fa-android"></i> {{'subsc_can_btn_app_def'|translate}}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>