<div [hidden]="livePlayerActive">
    <div class="video-bg-image" [ngStyle]="{'background-image': 'var(--details-gradient),url('+imagePath+channel?.banner_image+')'}">
    </div>
    <div class="channel-info">
        <img loading="lazy" class="channel-card" src="{{imagePath+channel?.icon}}">
        <div class="channel-info-card">
            <div class="title-card" [title]="channel?.title">{{channel?.title}}</div>
            <div class="en-title-card">{{channel?.title_en}}</div>
            <read-more *ngIf="channel?.description" style="color:var(--bg-font-color);" class="description-card" [text]="channel?.description" [maxLength]="250"></read-more>
            <div class="meta-card">
                <div class="live-card">{{'cnt_del_page_tags_live_def' | translate}}</div>
                <div class="hd-card">{{'cnt_del_page_tags_hd_def' |translate}}</div>
            </div>
            <div class="actions-card">
                <button class="blue-btn watch-action" *ngIf="channel?.availability==1" (click)="playVideo(channel?.content_id)">{{'cnt_del_page_btn_subsc_def'| translate}}</button>
                <button class="blue-btn watch-action" *ngIf="channel?.availability==2" (click)="playVideo(channel?.content_id)">{{'cnt_del_page_btn_buy_def'|translate}}&nbsp;<span
                        *ngIf="channel?.user_type==0">{{channel?.tvod_nor_amt}}</span><span
                        *ngIf="channel?.user_type==1">{{channel?.tvod_sub_amt}}</span></button>
                <button class="blue-btn watch-action" *ngIf="channel?.availability==3" (click)="playVideo(channel?.content_id)">{{'cnt_del_page_btn_watch_def'|translate}}</button>
                <!-- <a class="wishlist-action" ng-if="channel.wishlist_status == 0" ng-click="addWishlist(channel.content_id, '','single',1)"><img src="assets/img/favorite-empty.png"></a>
                <a class="wishlist-action" ng-if="channel.wishlist_status == 1" ng-click="removeWishlist(channel.content_id, '','single',0)"><img src="assets/img/favorite-filled.png"></a> -->
            </div>
        </div>
    </div>
    <div class="channels-slider-info">
        <div class="post slide-area" *ngFor="let data of related">
            <div *ngIf="data.list.length > 0">
                <div class="box-title">
                    <div class="box-head row no-margin">
                        <h3 class="main-title pull-left">{{data.title}}</h3>
                        <a class="see-all pull-right" [routerLink]="['/channel-program',data.key,channelId]" ui-sref="profile.channel-programs({type :data.key,id:channel?.channel_id,region: region})">
                            {{'kws_kw_all_def' | translate}}></a>
                    </div>
                </div>
                <div class="section-line"></div>
                <app-slick-item [data]="data"></app-slick-item>
            </div>
        </div>
        <div *ngIf="similarLength">
            <div class="channels-header">
                <h3 class="channel-title">{{'cnt_del_page_title_rel_cnl_def'|translate}}</h3>
            </div>
            <div class="section-line"></div>
            <div class="morelike-slider">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="seriesConfig" class="slider series-slider multiple-items" [ngStyle]="{'height':'370px'}">
                    <div ngxSlickItem *ngFor="let value of similar" class="slide-box tile series-tile video-box lower-z-index">
                        <div class="video-box-outer">
                            <div class="series-tile-media">
                                <a [routerLink]="['/live-video', value.slug, value.content_id]">
                                    <!-- <div class="series-gradient"></div> -->
                                    <img loading="lazy" class="channel-tile-img series-tile-img" src="{{imagePath+value.poster_image}}" alt="" title="{{value.title}}" />
                                    <!-- <img class="channel-icon" src="{{imagePath+value.icon}}" alt>
                                    <div class="paid-tag" *ngIf="value.is_svod==true"><img style="height:30px;width:30px" src="assets/img/subscription-tag.png"></div>
                                    <div class="paid-tag" ng-if="value.is_tvod==true"><img style="height:30px;width:30px" src="assets/img/ppv-tag.png"></div> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
    <app-signin-popup [back]="back"></app-signin-popup>
</div>

<div id="myVideoOverlay" [hidden]="!livePlayerActive" class="overlay" [ngStyle]="{'display': livePlayerActive ? 'block' : 'none'}">
    <a class="button-back" (click)="closeVideo()"><img loading="lazy" src="assets/img/back.svg"></a>
    <div class="video-header">{{channel?.title}}</div>
    <div [ngClass]="{fullvideo:1}" id="live-video-player"></div>
</div>