.video-bg-image {
    height: 814px;
    left: 0%;
    right: 0%;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    transition-timing-function: cubic-bezier(.26, .57, .46, .98);
    transition: 900ms;
    transform: scale(1.2) !important;
}

.channel-info {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    width: 1198px;
    height: 368px;
    left: 48px;
    top: 208px;
    .channel-card {
        width: 454px;
        height: 284px;
        left: 0px;
        top: 42px;
        flex: none;
        order: 0;
        align-self: center;
        margin: 23px 23px 23px 0px;
        filter: saturate(1.3);
    }
    .channel-info-card {
        width: 721px;
        height: 368px;
        left: 477px;
        .title-card {
            position: relative;
            height: 48px;
            left: 0%;
            right: 40%;
            /* margin-top: 16px; */
            font-family: Poppins-Bold;
            font-style: normal;
            font-size: 38px;
            line-height: 40px;
            /* display: flex; */
            align-items: center;
            text-transform: uppercase;
            color: var(--bg-font-color);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .en-title-card {
            position: relative;
            height: 23px;
            left: 0%;
            right: 60.76%;
            margin-top: 24px;
            font-family: Poppins-Regular;
            font-style: normal;
            font-size: 25px;
            line-height: 37px;
            display: flex;
            align-items: center;
            color: var(--bg-font-color);
        }
        .description-card {
            position: relative;
            /* height: 72px; */
            margin-top: 24px;
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: var(--bg-font-color);
            display: -webkit-box;
            /* -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis; */
        }
        .meta-card {
            display: flex;
            flex-direction: row;
            padding: 0px;
            position: relative;
            /* width: 462px; */
            height: 24px;
            left: 0px;
            margin-top: 24px;
            .live-card,
            .hd-card {
                position: relative;
                margin-right: 30px;
                width: 49px;
                height: 24px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                border: 1px solid #D0D0D0;
                box-sizing: border-box;
                border-radius: 12px;
                color: var(--bg-font-color);
                text-align: center;
                padding: 2px 11px
            }
        }
        .actions-card {
            display: flex;
            flex-direction: row;
            padding: 0px;
            position: relative;
            width: 722.87px;
            height: 46px;
            left: 0px;
            margin-top: 24px;
            .blue-btn {
                border: none;
                font-family: Poppins-Bold !important;
                text-transform: capitalize;
                transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                transition: 350ms;
            }
            .blue-btn:hover {
                background: #fff;
                color: #02021c;
                transform: scale(1.05);
                box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
            }
            .watch-action {
                position: relative;
                width: auto;
                padding: 8px 30px;
                height: 46px;
                margin-right: 20px;
                box-sizing: border-box;
                border-radius: 23px;
                color: var(--button-font-color);
                font-family: Poppins-Bold;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                background: var(--button-color);
            }
        }
    }
}

.channels-slider-info {
    position: relative;
    margin: -156px 48px 100px;
    .post {
        -webkit-animation: somename 0.7s;
        -moz-animation: somename 0.7s;
        animation: somename 0.7s;
        .box-head {
            margin-bottom: 16px;
            color: var(--bg-font-color);
            height: 20px;
            .see-all {
                text-decoration: none;
                display: block;
                color: var(--button-font-color);
                /* margin-right: 48px; */
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
            }
            .see-all:hover {
                color: var(--button-color);
            }
        }
        .no-margin {
            margin: 0;
        }
        .section-line {
            background: linear-gradient(90deg, var(--button-color) -4.87%, rgba(220, 24, 10, 0) 100%);
            height: 1px;
            margin-bottom: 16px;
        }
        .video-box-row {
            -webkit-transition: 450ms -webkit-transform;
            transition: 450ms -webkit-transform;
            transition: 450ms transform;
            transition: 450ms transform, 450ms -webkit-transform;
            font-size: 0;
            white-space: nowrap;
            padding-bottom: 1px;
            .series-slider {
                margin: 16px auto 16px;
                .slick-list:hover .slide-box {
                    transform: translate3d(-35px, 0, 0);
                    transition: 350ms;
                    transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
                }
                .slide-box:hover~.slide-box {
                    transform: translate3d(35px, 0, 0);
                }
                .tile {
                    position: relative;
                    display: inline-block;
                    padding: 0px;
                    font-size: 20px;
                    cursor: pointer;
                    -webkit-transition: 450ms all;
                    transition: 450ms all;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                }
                .series-tile {
                    position: relative;
                    display: inline-block;
                    /* padding              : 5px; */
                    font-size: 20px;
                    cursor: pointer;
                    -webkit-transition: 450ms all;
                    transition: 450ms all;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                    margin-bottom: 0px;
                    .video-box-outer {
                        height: 100%;
                        .series-tile-media {
                            /* width: 243px;
                            height: 339.63px;
                            border: 0.5px solid rgba(255, 255, 255, 0.2);
                            border-radius: 8px;
                            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                            transition: 350ms; */
                            overflow: hidden;
                            width: 243px;
                            border: .5px solid rgba(255, 255, 255, .2);
                            box-sizing: border-box;
                            transition: 350ms;
                            /* transition-delay       : 100ms; */
                            transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
                            filter: saturate(1.3);
                            .series-gradient {
                                position: absolute;
                                width: 242px;
                                /* height    : 337.63px; */
                                left: 0px;
                                top: 0px;
                                bottom: 0px;
                                background: linear-gradient(180.38deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%);
                                /* box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56); */
                                box-sizing: border-box;
                                /* box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                                border-radius: 2px; */
                            }
                            .tile-img {
                                width: 323.29px;
                                height: 183.02px;
                                background: linear-gradient(180.18deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%);
                                /* border       : 0.5px solid rgba(255, 255, 255, 0.2); */
                                box-sizing: border-box;
                                box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                                /* border-radius: 8px; */
                                object-fit: cover;
                            }
                            .series-tile-img {
                                width: 242px;
                                height: 337.63px;
                                left: 0px;
                                top: 0px;
                                background: linear-gradient(180.38deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%), linear-gradient(0deg, rgba(31, 31, 31, 0.24), rgba(31, 31, 31, 0.24));
                                box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                                border-radius: 2px;
                            }
                            .video-title {
                                position: absolute;
                                /* width      : 94%; */
                                height: 30px;
                                left: 11px;
                                right: 10px;
                                bottom: 20px;
                                font-family: Poppins-Bold;
                                font-style: normal;
                                font-size: 22px;
                                line-height: 30px;
                                text-transform: uppercase;
                                color: #F3F3F3;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                text-align: left;
                            }
                            .video-en-title {
                                position: absolute;
                                width: 94%;
                                height: 23px;
                                left: 11px;
                                right: 10px;
                                bottom: 0px;
                                font-family: Poppins-Regular;
                                font-style: normal;
                                font-size: 16px;
                                line-height: 27px;
                                color: var(--bg-font-color);
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                text-align: left;
                                opacity: 50%;
                            }
                        }
                        .series-tile-media:hover {
                            /* transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            -moz-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            -o-transform: scale(1.1);
                            transform: scale(1.1);
                            z-index: 100; */
                            margin: 0px 12px;
                            transform: scale(1.1);
                            z-index: 100;
                            opacity: 1;
                            /* border    : .5px solid #006AFF78; */
                            /* box-shadow: 0px 0px 50px rgba(220, 24, 10, 0.6), 0px 0px 12px rgba(0, 0, 0, 0.25); */
                            filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.2));
                        }
                    }
                }
            }
        }
    }
    .channels-header {
        height: 22px;
        font-family: Poppins-Regular;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: var(--bg-font-color);
        margin-bottom: 16px;
        .channel-title {
            height: 18px;
            font-family: Poppins-Bold;
            font-style: normal;
            font-size: 20px;
            line-height: 30px;
            color: var(--bg-font-color);
            margin: 0px;
            color: var(--bg-font-color);
        }
    }
    .morelike-slider {
        .series-slider {
            margin: 16px auto 16px;
            .slick-list:hover .slide-box {
                transform: translate3d(-35px, 0, 0);
                transition: 350ms;
                transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
            }
            .slide-box:hover~.slide-box {
                transform: translate3d(35px, 0, 0);
            }
            .tile {
                position: relative;
                display: inline-block;
                padding: 0px;
                font-size: 20px;
                cursor: pointer;
                -webkit-transition: 450ms all;
                transition: 450ms all;
                -webkit-transform-origin: center;
                transform-origin: center;
            }
            .series-tile {
                position: relative;
                display: inline-block;
                /* padding              : 5px; */
                font-size: 20px;
                cursor: pointer;
                -webkit-transition: 450ms all;
                transition: 450ms all;
                -webkit-transform-origin: center;
                transform-origin: center;
                margin-bottom: 0px;
                .video-box-outer {
                    height: 100%;
                    .series-tile-media {
                        /* width: 243px;
                        height: 339.63px;
                        border: 0.5px solid rgba(255, 255, 255, 0.2);
                        border-radius: 8px;
                        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                        transition: 350ms; */
                        overflow: hidden;
                        width: 243px;
                        border: .5px solid rgba(255, 255, 255, .2);
                        box-sizing: border-box;
                        transition: 350ms;
                        /* transition-delay       : 100ms; */
                        transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
                        filter: saturate(1.3);
                        .channel-tile-img {
                            width: 242px;
                            height: 337.63px;
                        }
                        .series-tile-img {
                            width: 242px;
                            height: 337.63px;
                            left: 0px;
                            top: 0px;
                            background: linear-gradient(180.38deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%), linear-gradient(0deg, rgba(31, 31, 31, 0.24), rgba(31, 31, 31, 0.24));
                            box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 9999;
    background-color: var(--bg-color);
    /* overflow-y   : scroll; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow: auto;
    .button-back {
        position: absolute;
        width: 17px;
        left: 50px;
        top: 46px;
        opacity: 0.7;
        z-index: 2;
        cursor: pointer;
    }
    .video-header {
        position: absolute;
        /* width      : 405px; */
        height: 30px;
        left: 99px;
        top: 46px;
        font-family: Poppins-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 48px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.7;
        z-index: 2;
    }
    .fullvideo {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #1F1F1F;
    }
}

.overlay.active {
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}