<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation [hidden]="(user == 'update')" [guest]="true"></app-navigation>
    <div class="account-page">
        <div class="login-form-options">
            <div class="login-form-inside text-center">
                <h1 class="login-title">
                    <span *ngIf="(user == 'update')">{{'app_lang_title_upd_def' | translate}}</span>
                    <span *ngIf="(user != 'update')"> {{'app_lang_title_sel_def' | translate}} </span>
                </h1>
                <p class="locale-text">
                    {{'app_lang_enjy_def' | translate}}
                </p>
                <form #langForm="ngForm" (ngSubmit)="changeLocale()" class="locale-form" name="signinForm" method="post" novalidate>
                    <li class="dropdown locale-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;" [(ngModel)]="selectedLang" name="language" ngDefaultControl>{{selectedLocale}}
                            <img loading="lazy" class="locale-caret" src="assets/img/caret-black.svg">
                        </a>
                        <ul class="dropdown-menu locale-dropdown-menu scrollable-menu" role="menu" style="margin-top: 10px;">
                            <div class="border-bot locale-profile">
                                <li *ngFor="let value of locales;let index =index;">
                                    <a role="menuitem" (click)="setLocale(index,value)" tabindex="-1">
                                    {{value.lang_name}}
                                </a>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <button type="submit" [disabled]="langForm.invalid" class="locale-btn blue-btn" id="sign_in_button">{{'app_lang_btn_proced_def' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>