.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .account-page {
        padding-top: 157px;
        margin-bottom: 100px;
        .login-form-options {
            position: relative;
            width: 1067px;
            height: 705px;
            margin: 101px auto 0px;
            .login-form-inside {
                display: flex;
                flex-direction: column;
                padding: 0px;
                position: relative;
                width: 628px;
                height: 368px;
                margin: 101px auto;
                .login-title {
                    position: relative;
                    /* width: 119px; */
                    width: max-content;
                    height: 30px;
                    margin: 0px auto;
                    font-family: Poppins-Bold;
                    font-style: normal;
                    font-size: 40px;
                    line-height: 60px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: var(--bg-font-color);
                    text-transform: capitalize;
                }
                .locale-text {
                    position: relative;
                    height: 60px;
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: var(--bg-font-color);
                    margin: 26px auto 0px;
                }
                .locale-form {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .locale-dropdown {
                        position: relative;
                        width: 150px;
                        height: 43px;
                        background: #fff;
                        border-radius: 23px;
                        margin: 26px 16px 26px 0px;
                        font-family: Poppins-Regular;
                        font-size: 18px;
                        line-height: 27px;
                        display: flex;
                        align-items: center;
                        color: #02021C;
                        padding: 9px 16px;
                        a {
                            color: #02021C;
                            .locale-caret {
                                position: absolute;
                                width: 14px;
                                right: 20px;
                                top: 16px;
                            }
                        }
                        .locale-dropdown-menu {
                            margin-top: 5px;
                            /* width  : 205px; */
                            color: #02021C;
                            .locale-profile {
                                padding: 10px 20px;
                                a {
                                    margin-bottom: 7px;
                                    display: inline-block;
                                    color: #02021C!important;
                                }
                            }
                            .padding15 {
                                padding: 10px 10px 0 20px !important;
                            }
                        }
                        .scrollable-menu {
                            height: auto;
                            max-height: 290px;
                            overflow-x: hidden;
                        }
                        .scrollable-menu::-webkit-scrollbar {
                            width: 29px;
                            height: 18px;
                        }
                        .scrollable-menu::-webkit-scrollbar-thumb {
                            height: 6px;
                            border: 13px solid rgba(0, 0, 0, 0);
                            background-clip: padding-box;
                            border-radius: 10px;
                            background-color: var(--bg-font-color);
                            box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
                        }
                        .scrollable-menu::-webkit-scrollbar-button {
                            width: 0;
                            height: 0;
                            display: none;
                        }
                    }
                    .locale-btn {
                        position: relative;
                        height: 46px;
                        margin: 26px 0px 0px;
                        background: var(--button-color);
                        box-sizing: border-box;
                        border-radius: 23px;
                        color: var(--button-font-color);
                        font-size: 20px;
                        line-height: 30px;
                        padding: 8px 20px;
                    }
                    .blue-btn {
                        border: none;
                        font-family: Poppins-Bold !important;
                        text-transform: capitalize;
                        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                        transition: 350ms;
                    }
                    .blue-btn:hover {
                        background: #fff;
                        color: #02021c;
                        transform: scale(1.05);
                        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
                    }
                }
            }
        }
    }
}