<button id="signinButton" type="button" class="btn btn-info btn-lg hide" data-toggle="modal" data-target="#myModalSignIn">Open
    Modal</button>
<div id="myModalSignIn" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="background: var(--card-color);margin-top: 45%">
            <div class="modal-body" style="font-size:24px;color:var(--card-font-color); margin-top: 3%">
                <p class="text-center">{{'log_pop_desc_cont_def' |translate}}</p>
            </div>
            <div class="text-center" style="margin-bottom: 3%">
                <button style="background-color:var(--button-color);color:var(--button-font-color);margin: 0px 2.5px;" type="button" class="btn" (click)="signIn()">{{'log_pop_btn_log_in_def' | translate}}</button>
                <button [hidden]="back" style="background-color:var(--button-color);color:var(--button-font-color);margin: 0px 2.5px;" id="signinclose" type="button" class="btn" data-dismiss="modal">{{'log_pop_btn_close_def' | translate}}</button>
                <button *ngIf="back==true && close" style="background-color:var(--button-color);color:var(--button-font-color);margin: 0px 2.5px;" type="button" class="btn" (click)="goBack()">{{'kws_kw_go_back_def' | translate}}</button>
            </div>
        </div>
    </div>
</div>