<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation routes="signin" value="login_btn_sign_up_def"></app-navigation>
    <div class="login-form-options">
        <div class="login-form-inside">
            <h1 class="login-title">{{'login_optr_title_login_optr_def' |translate}}</h1>
            <p class="options-text">{{'login_optr_desc_login_dtl_def' | translate}}</p>
            <form name="signinForm" [formGroup]="signinForm" method="post" (ngSubmit)="telcoSignin()" novalidate>
                <li class="dropdown operator-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                        {{'login_optr_ddl_select_optr_def' | translate}}
                        <img loading="lazy" class="operator-caret" src="assets/img/caret.svg">
                    </a>
                    <ul class="dropdown-menu operator-dropdown-menu" style="margin-top: 10px;">
                        <div class="border-bot more-profile">
                            <li>
                                <a style="color: var(--mm-color) !important;" routerLink="/account-settings" ui-sref="profile.account-settings({region: region})">
                                    {{'my_acc_title_my_acc_def'|translate}}
                                </a>
                            </li>
                        </div>
                    </ul>
                </li>
                <div class="form-fields">
                    <div class="form-group" [ngClass]="{'has-error':signinForm.controls.email.invalid && !signinForm.controls.email.pristine}">
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'login_optr_inptbxl_user_def'|translate}}" formControlName="email" min="6" required>
                        <p *ngIf="signinForm.controls.email.invalid && !signinForm.controls.email.pristine" class="help-block">
                            {{'login_optr_desc_user_req_def' | translate}}</p>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':signinForm.controls.password.invalid && !signinForm.controls.password.pristine}">
                        <input type="password" id="password" name="password" class="form-control password-pad" placeholder="{{'login_optr_inptbxl_psw_def'|translate}}" formControlName="password" min="6" required>
                        <span *ngIf="showPassword" class="fa fa-fw fa-eye field-icon toggle-password" (click)="hidePassword('password')"></span>
                        <span *ngIf="!showPassword" class="fa fa-fw fa-eye fa-eye-slash field-icon" (click)="hidePassword('password')"></span>
                        <p *ngIf="signinForm.controls.password.invalid && !signinForm.controls.password.pristine" class="help-block">
                            {{'login_optr_desc_psw_req_def' | translate}}</p>
                    </div>
                </div>
                <p class="terms-text">{{'login_optr_desc_agrmnt_def'| translate}} &nbsp;
                    <a routerLink="/pages/privacy" ui-sref="static.page({id : 'privacy',region: region})">{{'login_optr_desc_pri_poli_def'| translate}}</a>&nbsp;{{'login_optr_desc_and_def'| translate}}&nbsp;
                    <a routerLink="/pages/terms" ui-sref="static.page({id : 'terms',region: region})"> {{'login_optr_desc_trms_use_def' |translate}}</a>
                </p>
                <button type="submit" [disabled]="signinForm.invalid" class="btn signin-btn blue-btn" id="sign_in_button">{{'login_optr_btn_log_in_def' | translate}}</button>
            </form>
            <img loading="lazy" class="h-line" src="assets/img/line.svg">
            <p class="reg-text">{{'login_optr_desc_reg_def'| translate}}</p>
            <p class="teleco-text">
                {{'login_optr_desc_prvdr_belw_def'| translate}}
            </p>
            <li class="dropdown operator-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                    {{'login_optr_ddl_sel_optr_def'| translate}}
                    <img loading="lazy" class="operator-caret" src="assets/img/caret.svg">
                </a>
                <ul class="dropdown-menu operator-dropdown-menu" style="margin-top: 10px;">
                    <div class="border-bot more-profile">
                        <li>
                            <a style="color: var(--mm-color) !important;" routerLink="/account-settings" ui-sref="profile.account-settings({region: region})">
                                {{'my_acc_title_my_acc_def'|translate}}
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
        </div>
    </div>
</div>