.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .login-form-options {
        position: relative;
        width: 1067px;
        // height: 705px;
        margin: 101px auto 0px;
        .login-form-inside {
            display: flex;
            flex-direction: column;
            padding: 0px;
            position: relative;
            width: 628px;
            height: 368px;
            margin: 101px auto;
            .login-title {
                position: relative;
                /* width: 119px; */
                width: max-content;
                height: 30px;
                margin: 0px auto;
                font-family: Poppins-Bold;
                font-style: normal;
                font-size: 40px;
                line-height: 60px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--bg-font-color);
                text-transform: capitalize;
            }
            .options-text {
                position: relative;
                width: max-content;
                height: 60px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--bg-font-color);
                margin: 26px auto 0px;
            }
            .operator-dropdown {
                position: relative;
                width: 300px;
                height: 46px;
                background: var(--button-color);
                border-radius: 23px;
                margin: 26px auto;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;
                display: flex;
                align-items: center;
                color: var(--button-font-color);
                padding: 9px 16px;
                a {
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 27px;
                    display: flex;
                    align-items: center;
                    color: var(--button-font-color);
                    .operator-caret {
                        position: absolute;
                        width: 18px;
                        left: 263px;
                    }
                }
                .more-profile {
                    cursor: pointer;
                    a {
                        text-align: center;
                        width: max-content;
                        margin: 12px auto;
                    }
                    a:hover {
                        font-family: Poppins-Bold;
                    }
                }
            }
            .form-fields {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 628px;
                height: 46px;
                margin: 26px auto 0px;
                .form-group {
                    margin-bottom: 30px;
                    .form-control {
                        width: 300px;
                        height: 46px;
                        background: #FFFFFF !important;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        box-sizing: border-box;
                        border-radius: 23px;
                        margin-right: 26px;
                        padding: 9px 16px;
                        font-size: 18px;
                    }
                    .help-block {
                        padding: 0px 5px;
                        font-size: 14px;
                        color: #ff0000;
                    }
                    .password-pad {
                        padding-right: 40px !important;
                    }
                    .field-icon {
                        float: right;
                        margin-right: 42px;
                        margin-top: -33px;
                        position: relative;
                        z-index: 112;
                        color: #787878;
                    }
                }
            }
            .terms-text {
                position: relative;
                width: max-content;
                height: 18px;
                margin: 26px auto 0px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: var(--bg-font-color);
                a {
                    font-family: Poppins-Bold;
                    color: var(--bg-font-color)
                }
            }
            .blue-btn {
                border: none;
                font-family: Poppins-Bold !important;
                text-transform: capitalize;
                transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                transition: 350ms;
            }
            .blue-btn:hover {
                background: #fff;
                color: #02021c;
                transform: scale(1.05);
                box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
            }
            .signin-btn {
                position: relative;
                width: 224px;
                height: 46px;
                margin: 26px auto 0px;
                margin-left: 202px;
                background: var(--button-color);
                box-sizing: border-box;
                border-radius: 23px;
                color: var(--button-font-color);
                font-size: 20px;
                line-height: 30px;
            }
            .h-line {
                position: relative;
                width: 45px;
                height: 2px;
                margin: 26px auto 0px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 15px;
            }
            .reg-text {
                position: relative;
                width: 389px;
                height: 15px;
                margin: 26px auto 0px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--bg-font-color);
            }
            .teleco-text {
                width: 571px;
                height: 18px;
                margin: 26px auto 0px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                /* identical to box height */
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--bg-font-color);
            }
        }
    }
}