<nav class="navbar navbar-default form-navbar" role="navigation">
    <div class="navbar-header form-header">
        <a class="navbar-brand" [routerLink]="startState">
            <img loading="lazy" [src]="logo" class="hidden-xs">
            <img loading="lazy" [src]="logo" class="visible-xs">
        </a>
    </div>
    <div class="header-button">
        <a *ngIf="guest" routerLink="/{{routes}}" routerLinkActive="active"> {{ value |translate}}</a>
    </div>
</nav>