.navbar-brand {
    height: 80px;
    img {
        height: 100px;
        width: 150px;
        margin-left: 32px;
    }
}

.header-button {
    position: absolute;
    width: 100px;
    height: 30px;
    right: 32px;
    top: 39px;
    pointer-events: visible;
    a {
        height: 30px;
        font-family: Poppins-Regular;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 65px;
        color: var(--mm-font-color);
    }
}