.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .form-header .navbar-brand {
        height: 80px;
    }
    .form-header .navbar-brand img {
        height: 100px;
        width: 150px;
        margin-left: 32px;
    }
    .page-content {
        width: 886px;
        height: 873px;
        margin: 47px auto 100px;
        background: var(--card-color);
        padding: 41px;
        color: var(--card-font-color);
        .login-tit {
            text-align: center;
            margin-top: 0;
            font-size: 28px;
            color: var(--card-font-color);
            margin-bottom: 45px;
        }
        .footer-description::-webkit-scrollbar {
            width: 5px;
            height: 650px;
        }
        .footer-description::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.2);
        }
        .footer-description::-webkit-scrollbar-thumb {
            background: var(--button-color);
            border-radius: 10px;
        }
        .footer-description {
            height: 700px;
            overflow-y: auto;
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: var(--card-font-color);
        }
    }
}