<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation [guest]="false"></app-navigation>
    <div id="pagetitle">
        <h1 class="wdn-text-hidden">{{pageH1Tag}}</h1>
    </div>
    <div class="page-content">
        <h1 class="login-tit">{{heading}}</h1>
        <p class="footer-description" [innerHTML]="description" style="margin-bottom:100px"></p>
    </div>
</div>