<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation routes="signin" value="wlcm_post_vrfy_btn_log_in_def"></app-navigation>
    <div class="welcome-form">
        <div class="welcome-header">
            {{'wlcm_post_vrfy_title_wel_def' | translate}}
        </div>
        <div class="welcome-text">
            {{'wlcm_post_vrfy_desc_def' | translate}}
        </div>
        <button class="blue-btn start-watch" routerLink="/signin" routerLinkActive="active">{{'wlcm_post_vrfy_btn_log_in_def' | translate}}</button>
    </div>
</div>