.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .form-navbar {
        border: none;
        .form-header .navbar-brand {
            height: 80px;
        }
        .form-header .navbar-brand img {
            height: 100px;
            width: 150px;
            margin-left: 32px;
        }
    }
    .header-button {
        position: absolute;
        width: 100px;
        height: 30px;
        right: 32px;
        top: 39px;
        pointer-events: visible;
        a {
            height: 30px;
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: var(--mm-font-color);
        }
    }
    .welcome-form {
        width: 661px;
        height: 218px;
        margin: 101px auto;
        .welcome-header {
            font-family: Poppins-Bold;
            font-style: normal;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
            color: var(--bg-font-color);
            margin-bottom: 26px;
        }
        .welcome-text {
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: var(--bg-font-color);
            margin-bottom: 26px;
        }
        .blue-btn {
            border: none;
            font-family: Poppins-Bold !important;
            text-transform: capitalize;
            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
            transition: 350ms;
        }
        .blue-btn:hover {
            background: #fff;
            color: #02021c;
            transform: scale(1.05);
            box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
        }
        .start-watch {
            height: 46px;
            background: var(--button-color);
            border-radius: 23px;
            font-family: Poppins-Bold;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */
            display: flex;
            align-items: center;
            color: var(--button-font-color);
            border: none;
            padding: 8px 30px;
            margin: 26px auto 0px;
        }
    }
}