<div class="home-bg-img" [ngStyle]="{'background-image':'var(--home-bg-gradient),url('+homeImage+')'}">
    <app-navigation routes="signup" value="frgt_pswrd_btn_sign_up_def"></app-navigation>
    <div id="pagetitle">
        <h1 class="wdn-text-hidden">{{pageH1Tag}}</h1>
    </div>
    <div class="signin-form">
        <div class="login-form-inside">
            <h1 class="login-title">{{'frgt_pswrd_title_def' |translate}}</h1>
            <p class="forget-text">{{'frgt_pswrd_desc_psw_def' | translate}}</p>
            <form [formGroup]="forgetPasswordForm" name="forgotForm" method="post" novalidate>
                <div class="forgot-fields">
                    <div class="form-group" [ngClass]="{ 'has-error' : forgetPasswordForm.controls.email.invalid && !forgetPasswordForm.controls.email.pristine }">
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'frgt_pswrd_ibp_email_def'|translate}}" [(ngModel)]="email" required formControlName="email">
                        <p *ngIf="forgetPasswordForm.controls.email.invalid && !forgetPasswordForm.controls.email.pristine" class="help-block">
                            {{'frgt_pswrd_msg_email_req_def' | translate}}</p>
                    </div>
                </div>

                <button type="submit" (click)="forgot()" [disabled]="forgetPasswordForm.invalid" class="signin-btn blue-btn" id="sign_in_button">{{'frgt_pswrd_btn_send_mail_def' | translate}}</button>
            </form>

        </div>
    </div>
</div>