.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .wdn-text-hidden {
        font-size: 0;
        width: 1px;
        height: 1px;
        display: inline-block;
        overflow: hidden;
        position: absolute!important;
        border: 0!important;
        padding: 0!important;
        margin: 0!important;
        clip: rect(1px, 1px, 1px, 1px);
    }
    .signin-form {
        height: 705px;
        /* left: calc(50% - 1376px/2); */
        margin: auto;
        .login-form-inside {
            display: flex;
            flex-direction: column;
            padding: 0px;
            position: relative;
            width: 628px;
            height: 368px;
            margin: 101px auto;
            .login-title {
                position: relative;
                /* width: 119px; */
                width: max-content;
                height: 30px;
                margin: 0px auto;
                font-family: Poppins-Bold;
                font-style: normal;
                font-size: 40px;
                line-height: 60px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--bg-font-color);
                text-transform: capitalize;
            }
            .forget-text {
                position: relative;
                width: 622px;
                height: 60px;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--bg-font-color);
                margin: 26px auto 0px;
            }
            .forgot-fields {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 314px;
                height: 46px;
                margin: 26px auto 0px;
                .form-group {
                    margin-bottom: 30px;
                    .form-control {
                        width: 300px;
                        height: 46px;
                        background: #fff!important;
                        border: 1px solid rgba(255, 255, 255, .5);
                        box-sizing: border-box;
                        border-radius: 23px;
                        margin-right: 26px;
                        padding: 9px 16px;
                        font-size: 18px;
                    }
                    .help-block {
                        padding: 0px 5px;
                        font-size: 14px;
                        color: #ff0000;
                    }
                }
            }
            .signin-btn {
                position: relative;
                width: 224px;
                height: 46px;
                margin: 26px auto 0px;
                margin-left: 202px;
                background: var(--button-color);
                box-sizing: border-box;
                border-radius: 23px;
                color: var(--button-font-color);
                font-size: 20px;
                line-height: 30px;
            }
            .blue-btn {
                border: none;
                font-family: Poppins-Bold !important;
                text-transform: capitalize;
                transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                transition: 350ms;
            }
            .blue-btn:hover {
                background: #fff;
                color: #02021c;
                transform: scale(1.05);
                box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
            }
        }
    }
}