/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//Assign variables
html,
body {
    --button-color: #4a90e1;
    --bg-color: #1d1d1d;
    --footer-color: #000;
    --mm-color: #171717;
    --card-color: #2d2d2d;
    --bg-font-color: #fff;
    --button-font-color: #fff;
    --footer-font-color: #fff;
    --mm-font-color: #f1f1f1;
    --card-font-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Poppins-Regular !important;
    --header-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.84265) 6.67%, rgba(0, 0, 0, 0.819817) 13.33%, rgba(0, 0, 0, 0.780589) 20%, rgba(0, 0, 0, 0.7247) 26.67%, rgba(0, 0, 0, 0.652991) 33.33%, rgba(0, 0, 0, 0.567899) 40%, rgba(0, 0, 0, 0.473712) 46.67%, rgba(0, 0, 0, 0.376288) 53.33%, rgba(0, 0, 0, 0.282101) 60%, rgba(0, 0, 0, 0.197009) 66.67%, rgba(0, 0, 0, 0.1253) 73.33%, rgba(0, 0, 0, 0.0694109) 80%, rgba(0, 0, 0, 0.0301835) 86.67%, rgba(0, 0, 0, 0.00735012) 93.33%, rgba(0, 0, 0, 0) 100%);
    --details-gradient: linear-gradient(0deg, rgba(5, 5, 5, 0.4), rgba(5, 5, 5, 0.4)), linear-gradient(180deg, rgba(5, 5, 5, 0) 18.98%, var(--bg-color) 100%);
    --home-bg-gradient: linear-gradient(0deg, rgba(5, 5, 5, 0.35), rgba(5, 5, 5, 0.35)), linear-gradient(180deg, rgba(5, 5, 5, 0) 0%, var(--bg-color) 100%);
}

html {
    background: none!important;
}

body {
    font-size: 14px;
    background: var(--bg-color) !important;
    font-family: Poppins-Regular !important;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.btn {
    background: var(--button-color) !important;
    color: var(--button-font-color) !important;
    font-weight: 600 !important;
}

.text-wrap {
    text-align: center;
    // margin-top: 15%;
    height: 780px;
    display: block;
    margin-left: 0.5%;
    transition: transform 1s;
}

p {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-family: Poppins-Regular !important;
}

a {
    outline: 0;
}

.card-bg {
    background: var(--card-color);
}

.condition-checkbox {
    margin-top: 0 !important;
    min-width: 50px;
    height: 20px;
    cursor: pointer;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
    color: var(--mm-font-color);
    font-weight: bold;
    background-color: transparent !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--mm-font-color);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
    color: var(--mm-font-color);
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: var(--button-color);
}

.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    color: var(--mm-font-color) !important;
    /* font-weight: bold; */
    font-family: Poppins-Bold;
    line-height: 30px;
    text-transform: capitalize;
    margin: 0px 15px;
}

.navbar-default .navbar-nav>.active>a {
    font-size: 20px;
    background: transparent;
    font-weight: bold;
    background-color: transparent !important;
    font-weight: 300;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background: transparent;
    color: var(--button-color) !important;
    font-weight: bold;
    background-color: transparent !important;
}

.navbar-nav>li>.dropdown-menu {
    /* width: 143px; */
    /* height: 260px; */
    background: rgba(0, 0, 0, .8);
    border-radius: 28px !important;
    padding: 10px 10px;
}

.navbar-nav.left-align {
    vertical-align: middle;
    margin-left: 30px;
    margin-top: 39px;
}

top .navbar-default .navbar-nav>li>a {
    font-size: 100%;
    font-family: Poppins-Bold !important;
    font-weight: 300;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a.nav-no-border-bottom:hover {
    border-bottom: none !important;
}

.dropdown-menu li>a {
    color: var(--mm-font-color);
    margin-bottom: 16px;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* color     : #fff; */
}

.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus {
    text-decoration: underline;
    color: var(--button-color);
}

.dropdown-menu li>a:active {
    outline: none;
}

.nav-profile-menu>li>a:hover,
.nav-profile-menu>li>a:focus {
    text-decoration: underline;
    color: var(--mm-font-color);
}

.more-profile>li>a {
    text-align: center;
    width: max-content;
    margin: 12px auto;
}

.more-profile>li>a:hover {
    font-family: Poppins-Bold;
}

.navbar-nav.left-align>li>a:focus,
.navbar-nav.left-align>li>a:hover {
    transform: scale(1.1);
}

.form-header .navbar-brand {
    height: 80px;
}

.form-header .navbar-brand img {
    height: 100px;
    width: 150px;
    margin-left: 32px;
}

.navbar-brand img {
    height: 100px;
    width: 150px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 0px 0px 0px;
    font-size: 18px;
    line-height: 20px;
    width: 135px;
    pointer-events: visible;
}

.navbar-brand1 {
    float: left;
    height: 85px;
    padding: 10px 0px 0px 15px;
    width: 100px;
    margin-top: -21%;
}

.navbar-brand1 img {
    width: 120px;
    margin-top: 18px;
    height: 40px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
    color: var(--mm-font-color) !important;
    font-weight: bold;
    background-color: transparent !important;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: var(--button-color);
}

.navbar-nav>li>a {
    padding: 0px !important;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background: transparent;
    color: var(--button-color) !important;
    font-weight: bold;
    background-color: transparent !important;
}

.navbar-right {
    margin-top: 39px !important;
}

.navbar-right.right-align>li>a:focus,
.navbar-right.right-align>li>a:hover {
    transform: scale(1.05);
}

.dropdown-menu li>a {
    color: var(--mm-font-color) !important;
    margin-bottom: 16px;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* color     : #fff; */
}

.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus {
    text-decoration: underline;
    color: var(--button-color);
}

.dropdown-menu li>a:active {
    outline: none;
}

.scrollable-menu {
    height: auto;
    max-height: 290px;
    overflow-x: hidden;
}

@media screen and (max-width: 1300px) {
    .channel-info {
        left: -42px;
    }
    .scrollable-menu {
        max-height: 200px !important;
    }
}

.scrollable-menu::-webkit-scrollbar {
    width: 29px;
    height: 18px;
}

.scrollable-menu::-webkit-scrollbar-thumb {
    height: 6px;
    border: 13px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
    background-color: var(--bg-font-color);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.scrollable-menu::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.navbar-default {
    pointer-events: none;
    height: 145px;
    margin-bottom: 31px;
    background: var(--header-gradient) !important;
}

a:focus,
a:hover {
    outline: none !important;
    text-decoration: none !important;
}

button:focus {
    outline: none !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: none !important;
}

.no-margin {
    margin: 0px !important;
}

.lower-z-index:hover {
    z-index: 90 !important;
}

.tile-media {
    /* width: 323.29px;
    height: 221.5px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms; */
    overflow: hidden;
    width: 323.29px;
    border: .5px solid rgba(255, 255, 255, .2);
    box-sizing: border-box;
    transition: 350ms;
    /* transition-delay       : 100ms; */
    transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
    filter: saturate(1.3);
}

.tile-media:hover {
    /* transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 100; */
    opacity: 1;
    margin: 0px 30px;
    transform: scale(1.2);
    z-index: 100;
    /* border    : .5px solid #006AFF78; */
    /* box-shadow: 0px 0px 50px rgba(220, 24, 10, 0.6), 0px 0px 12px rgba(0, 0, 0, 0.25); */
    filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.2));
}

.tile-media:hover .img-gradient,
.series-tile-media:hover .series-gradient {
    /* border: 2px solid rgba(220, 24, 10, 0.7); */
}

.video-title {
    position: absolute;
    /* width      : 94%; */
    height: 30px;
    left: 11px;
    right: 10px;
    bottom: 20px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #F3F3F3;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.video-en-title {
    position: absolute;
    width: 94%;
    height: 23px;
    left: 11px;
    right: 10px;
    bottom: 0px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    color: var(--bg-font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    opacity: 50%;
}

.series-tile {
    position: relative;
    display: inline-block;
    /* padding              : 5px; */
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center;
    transform-origin: center;
    margin-bottom: 0px;
}

.tile-media,
.details-tile-media,
.series-tile-media,
.live-channel-tile-media {
    position: relative;
    text-align: center;
}

.tile-media:hover .img-gradient,
.series-tile-media:hover .series-gradient {
    /* border: 2px solid rgba(220, 24, 10, 0.7); */
}

.series-tile-media:hover {
    /* transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 100; */
    margin: 0px 12px;
    transform: scale(1.1);
    z-index: 100;
    opacity: 1;
    /* border    : .5px solid #006AFF78; */
    /* box-shadow: 0px 0px 50px rgba(220, 24, 10, 0.6), 0px 0px 12px rgba(0, 0, 0, 0.25); */
    filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.2));
}

.slick-track {
    padding: 10px 0px !important
}

.series-tile-media {
    /* width: 243px;
    height: 339.63px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms; */
    overflow: hidden;
    width: 243px;
    border: .5px solid rgba(255, 255, 255, .2);
    box-sizing: border-box;
    transition: 350ms;
    /* transition-delay       : 100ms; */
    transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
    filter: saturate(1.3);
}

.series-gradient {
    position: absolute;
    width: 242px;
    /* height    : 337.63px; */
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(180.38deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%);
    /* box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56); */
    box-sizing: border-box;
    /* box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
    border-radius: 2px; */
}

.series-tile-img {
    width: 242px;
    height: 337.63px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180.38deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%), linear-gradient(0deg, rgba(31, 31, 31, 0.24), rgba(31, 31, 31, 0.24));
    box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
    border-radius: 2px;
}

.wishlist-description {
    width: 596px;
    height: 190px;
    margin: 231px auto 243px;
    text-align: center;
    color: var(--bg-font-color);
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    position: relative;
}

.search-zoom {
    width: 91px;
    height: 91px;
    margin: auto;
    margin-bottom: 30px;
}


/*Slick video css*/

.slick-track:hover .tile-media {
    opacity: 0.6;
}

.slick-track:hover .tile-media:hover {
    opacity: 1;
}

.slick-track:hover .series-tile-media {
    opacity: 0.6;
}

.slick-track:hover .series-tile-media:hover {
    opacity: 1;
}

.box:hover .tile-media {
    opacity: 0.6;
}

.box:hover .tile-media:hover {
    opacity: 1;
}

.box:hover .series-tile-media {
    opacity: 0.6;
}

.box:hover .series-tile-media:hover {
    opacity: 1;
}

.slick-list:hover .slide-box {
    transform: translate3d(-35px, 0, 0);
    transition: 350ms;
    transition-timing-function: cubic-bezier(0.26, 0.57, 0.46, 0.98);
}

.slide-box:hover~.slide-box {
    transform: translate3d(35px, 0, 0);
}

.pipe {
    margin: 0px 15px;
    font-size: 16px;
    color: #8D8D8D;
    font-family: Poppins-Regular;
}

*:focus {
    outline: none !important;
}

.slick-prev,
.slick-next {
    font-weight: bold !important;
    padding: 0 !important;
    display: inline-block !important;
    width: 30px !important;
    line-height: 7px !important;
    position: absolute !important;
    background: #000 !important;
    opacity: 0.7 !important;
    z-index: 1000 !important;
    top: 95px !important;
    width: 96px !important;
    height: 225px !important;
    opacity: 0.7 !important;
}

.slick-prev {
    left: -48px !important;
    background: linear-gradient(-270deg, var(--bg-color) 0%, rgba(2, 2, 28, 0) 100%) !important;
}

.slick-next {
    right: -48px !important;
    background: linear-gradient(270deg, var(--bg-color) 0%, rgba(2, 2, 28, 0) 100%) !important;
}

.slick-prev:hover,
.slick-prev:active,
.slick-prev:focus {
    opacity: 0.7 !important;
    z-index: 1000 !important;
    color: var(--bg-font-color) !important;
    background: linear-gradient(-270deg, var(--bg-color) 0%, rgba(2, 2, 28, 0) 100%) !important;
}

.slick-next:hover,
.slick-next:active,
.slick-next:focus {
    opacity: 0.7 !important;
    z-index: 1000 !important;
    color: var(--bg-font-color) !important;
    background: linear-gradient(270deg, var(--bg-color) 0%, rgba(2, 2, 28, 0) 100%) !important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    margin-left: -5px !important;
}

.slick-prev::before,
.slick-next::before {
    color: var(--bg-font-color) !important;
    font-size: 40px !important;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    display: none !important;
}

.highlight>.slick-slider>.slick-next {
    /* border-radius: 100px;
    height: 60px !important;
    padding: 2px 5px 8px 10px;
    width: 60px;
    margin-right: 5px;
    top: calc(((100vw - 30px)*.25*.56) + 60px) !important; */
    display: none !important;
}

.series-slider .slick-prev,
.series-slider .slick-next {
    height: 372px !important;
    top: 177px !important;
}

.slick-dots li.slick-active>button {
    background: var(--button-color) !important;
}

.slick-dots {
    top: 525px !important;
}

.slick-dots li button {
    font-size: 0 !important;
    line-height: 0 !important;
    display: block !important;
    padding: 2px !important;
    cursor: pointer !important;
    width: 25px !important;
    height: 2px !important;
    left: 40px !important;
    top: 0px !important;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 3px !important;
}

.slick-dots li button:hover {
    transform: scale(1.1) !important;
}

.series-slider,
.video-slider {
    margin: 16px auto 16px;
}

.box-head {
    margin-bottom: 16px !important;
    color: var(--bg-font-color);
    height: 20px;
}

.slick-initialized .slick-slide {
    display: block !important;
    padding: 0 16px 0 0 !important;
}

.highlight {
    .slick-track {
        padding: 0px !important;
    }
    .slick-initialized .slick-slide {
        padding: 0px !important;
    }
}

.slick-list {
    overflow: visible !important;
}

.slick-next::before,
.slick-prev::before {
    color: var(--bg-font-color)!important;
    font-size: 40px!important;
}

.slick-next:before {
    font-family: FontAwesome !important;
    content: "\f105" !important;
}

.slick-prev:before {
    font-family: FontAwesome !important;
    content: "\f104" !important;
}

.slick-dots>li>button:before {
    display: none;
}

.home-bg-img {
    position: relative;
    min-height: 814px;
    left: 0%;
    right: 0%;
    top: 0px;
}

.section-line {
    background: linear-gradient(90deg, var(--button-color) -4.87%, rgba(220, 24, 10, 0) 100%);
    height: 1px;
    margin-bottom: 16px;
}

.tile {
    position: relative;
    display: inline-block;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.video-box-outer {
    height: 100%;
}

.img-gradient {
    position: absolute;
    width: 323.29px;
    /* height    : 220px; */
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(5, 5, 5, 0) 18.98%, var(--bg-color) 100%);
    box-sizing: border-box;
    /* box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
    border-radius: 8px; */
}

.tile-media:hover .img-gradient,
.series-tile-media:hover .series-gradient {
    /* border: 2px solid rgba(220, 24, 10, 0.7); */
}

.tile-img {
    width: 323.29px;
    height: 183.02px;
    background: linear-gradient(180.18deg, rgba(5, 5, 5, 0.1) 49.89%, var(--bg-color) 99.77%);
    /* border       : 0.5px solid rgba(255, 255, 255, 0.2); */
    box-sizing: border-box;
    box-shadow: 4px 4px 24px rgba(5, 5, 5, 0.56);
    /* border-radius: 8px; */
    object-fit: cover;
}

.wishlist-description {
    width: 596px;
    height: 190px;
    margin: 231px auto 243px;
    text-align: center;
    color: var(--bg-font-color);
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    position: relative;
}

.search-zoom {
    width: 91px;
    height: 91px;
    margin: auto;
    margin-bottom: 30px;
}

.box-head h3 {
    height: 18px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--bg-font-color);
    margin: 0px;
}

.see-all {
    text-decoration: none;
    display: block;
    color: var(--button-font-color);
    /* margin-right: 48px; */
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.see-all:hover {
    color: var(--button-color);
}

.section-line {
    background: linear-gradient(90deg, var(--button-color) -4.87%, rgba(220, 24, 10, 0) 100%);
    height: 1px;
    margin-bottom: 16px;
}

.video-box-row {
    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    padding-bottom: 1px;
}

.see-all-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-left: -5px;
}

.details-video-box-row {
    width: 110%;
}

.tag-card {
    width: auto;
    padding: 2px 10px;
    height: 24px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 12px;
    color: var(--bg-font-color);
    text-align: center;
    margin: 0px 10px;
}

.blue-btn {
    border: none;
    font-family: Poppins-Bold !important;
    text-transform: capitalize;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition: 350ms;
}

.blue-btn:hover {
    background: #fff;
    color: #02021c;
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}

.white-btn:hover {
    background: #fff;
    color: #02021c;
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}

.drop-tab {
    /* position: absolute; */
    bottom: 0 !important;
    text-align: center !important;
    left: 25% !important;
    z-index: 30 !important;
}

.nav-tabs {
    border: none !important;
}

.drop-tab .nav-tabs>li.active>a,
.drop-tab .nav-tabs>li.active>a:focus,
.drop-tab .nav-tabs>li.active>a:hover {
    border: none;
    /* border-bottom: 3px solid var(--button-color); */
    background: transparent !important;
    color: var(--bg-font-color) !important;
    z-index: 9 !important;
    height: 20px !important;
    padding: 0px !important;
    margin-right: 14px !important;
    min-width: 120px !important;
    text-align: left !important;
    cursor: pointer !important;
    font-size: 20px !important;
    font-family: Poppins-Bold !important;
    opacity: 1 !important;
}

.drop-tab .single-nav-tabs>li.active>a,
.drop-tab .single-nav-tabs>li.active>a:focus,
.drop-tab .single-nav-tabs>li.active>a:hover {
    color: var(--bg-font-color) !important;
}

.drop-tab .nav-tabs>li>a {
    color: var(--bg-font-color);
    /* font-weight   : 600; */
    font-size: 14px !important;
    /* text-transform: uppercase; */
    border: none !important;
    /* border-bottom : 3px solid transparent; */
    z-index: 9 !important;
    height: 20px !important;
    padding: 0px !important;
    margin-right: 14px !important;
    min-width: 120px !important;
    text-align: left !important;
    cursor: pointer !important;
    font-size: 20px !important;
    font-family: Poppins-Bold !important;
    opacity: .5 !important;
}

.drop-tab .single-nav-tabs>li>a {
    color: var(--bg-font-color) !important;
}

.drop-tab .nav-tabs>li>a:hover,
.drop-tab .nav-tabs>li>a:focus {
    background: transparent !important;
    color: var(--button-color) !important;
    border: none !important;
    /* border-bottom: 3px solid transparent; */
}

.mat-dialog-container {
    border-radius: 5px !important;
}

.my-full-screen-dialog {
    max-width: 100vw !important;
    box-sizing: border-box;
    overflow-x: hidden;
}

.my-full-screen-dialog .mat-dialog-container {
    border-radius: 0;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1000;
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

[hidden] {
    display: none!important;
}

.account-header {
    color: var(--card-font-color);
    margin: 10px 15px;
    text-align: left;
    font-size: 31px;
    font-family: Poppins-Bold;
    font-style: normal;
    font-weight: 500;
    /* border-bottom: 1px solid var(--card-font-color); */
}

.profile-line {
    width: 434px;
    height: 1px;
    left: 0px;
    top: 24px;
    background: linear-gradient(90deg, var(--button-color) 0%, rgba(220, 24, 10, 0) 100%);
}

.account-section-text {
    color: var(--card-font-color);
    font-family: Poppins-Bold !important;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 21px;
}

.account-section-text>span {
    font-family: Poppins-Regular !important;
}

.form-navbar {
    border: none;
}

.wdn-text-hidden {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px, 1px, 1px, 1px);
}

.back {
    position: relative;
    top: 15px;
    cursor: pointer;
}

.uk-modal.uk-open {
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.uk-modal-footer {
    padding: 0 0 11px 0!important;
}

.uk-modal-dialog {
    padding: 15px 15px 0px;
    border-radius: 5px;
    width: 360px!important;
}

.uk-modal-body {
    padding: 0!important;
}

.uk-modal-title {
    display: block;
    font-size: 22px!important;
    line-height: 20px;
    user-select: none;
    cursor: default;
    padding-bottom: 15px;
}

.uk-modal-body>p {
    margin-top: 0!important;
    margin-bottom: 15px;
    height: auto;
    transition: height 0.4s ease-in;
    display: inline-block;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 15px;
}

.uk-modal-footer {
    border: none!important;
}

.uk-button {
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px 12px!important;
    font-weight: bold!important;
    background-color: #ecf0f1!important;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 4px!important;
}

.uk-button-default {
    border: none!important;
}

.uk-button-primary {
    background-color: #ecf0f1!important;
    color: #000!important;
    font-weight: bold;
}

.uk-button:hover {
    background-color: #ddd!important;
}

.uk-notification-message {
    padding: 0px!important;
    width: 400px!important;
    top: 56px;
    max-width: 100%;
    background-color: #7cb342!important;
    border-radius: 4px;
    font-size: 14px!important;
}

.uk-notification-close {
    display: none!important;
}

.uk-modal-page {
    overflow: visible!important;
}

.forgot-text>a,
.terms-text>a,
.signup-text>a {
    font-family: Poppins-Bold;
    color: var(--bg-font-color)
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//     -webkit-box-shadow: 0 0 0 30px #353535 inset !important;
//     border: none !important;
//     outline: none;
//     border-radius: 0px !important;
//     color: var(--bg-font-color) !important;
// }
input.login:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.login-form .form-control:focus {
    border-color: #777;
}

.form-link {
    font-size: 15px;
    color: #0080FF;
}

.form-btn {
    background: var(--button-color);
    color: var(--button-font-color) !important;
    width: 100%;
    padding: 8px 30px;
    border: none;
    border-radius: 50px;
    height: 45px;
    margin: 20px 0 0;
    text-transform: uppercase;
    transition: transform 1s;
    outline: none !important;
    font-weight: 600;
}

.form-btn:hover,
.form-btn:focus,
.form-btn:active,
.btn-primary:active {
    background: var(--button-color) !important;
    border: 1px solid var(--button-color);
    outline: none;
    color: var(--button-font-color);
    transform: scale(1.05);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: var(--button-color);
    border-color: var(--button-color);
    outline: none;
}

.form-link:hover,
.form-link:focus,
.form-link:active {
    color: #0080FF;
}

canvas,
img,
video {
    max-width: none !important;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: 1 !important;
}

.uk-modal-page {
    overflow: visible!important;
}

button[disabled] {
    cursor: not-allowed!important;
}

.text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    outline: none !important;
}

.cdk-global-scrollblock {
    overflow: hidden;
}

.video-js .vjs-picture-in-picture-control {
    display: none !important;
}