<div class="home-bg-img" [ngStyle]="{'background-image': 'var(--details-gradient),url('+homeImage+')'}" style="background-size: cover;background-repeat: no-repeat;">
    <div class="subscriptions-page">
        <div class="container subscriptions-container">
            <div class="" style="display:flex;flex-direction: row;margin-bottom: 24px;align-items: center;">
                <h2 class="account-header">{{'subsc_title_subsc_def'|translate}}</h2>
                <a class="update-method" *ngIf="subscribedPlanId && stripeSubscriptionId" (click)="updateMethod()">{{'subsc_btn_updt_pmnt_info_def' | translate}}</a>
            </div>
            <p *ngIf="subscriptionsLength==0" style="margin-top:5%;font-weight:700;font-size: 16px;color:var(--bg-font-color);text-align: center;">
                {{noSubscriptionText|translate}}</p>
            <ul class="subscription-list">
                <li class="subscription-card" *ngFor="let subscription of subscriptions" [hidden]="oneTime == 1 && subscription.amount == 0">
                    <a class="card-box" [ngClass]="{'popular-card-box':subscription.popular_status == 1}">
                        <div *ngIf="subscription.popular_status == 1" class="popular">
                            <img loading="lazy" class="star-icon" src="assets/img/star.svg"><span class="recommended-text">{{'subsc_tag_recmnd_def' | translate}}</span>
                        </div>
                        <div class="card-title">
                            {{subscription.title}}
                        </div>
                        <p class="card-desc">{{subscription.plan_detail}}</p>
                        <p class="subscription-desc" *ngIf="oneTime == 1 && !subscription.expiry_date && !subscription.orderId">
                            {{subscription.description}} </p>
                        <p class="subscription-desc" *ngIf="oneTime == 0">
                            {{subscription.subscription_text}}</p>
                        <p class="subscription-desc" *ngIf="subscription.expiry_date?.length > 0 && subscription.orderId?.length > 0">
                            {{subscription.subscription_text}}
                        </p>
                        <button class="btn-md cancel-btn" [disabled]="cancelclicked != 0" *ngIf="subscription.cancel_subscription !=1 &&subscription.user_type==1 && subscribedPlanId && subscribedPlanId ==subscription.subscription_id && updatedPayment==0" (click)="cancelSubscription(subscription)">{{'subsc_btn_cnl_subsc_def'|translate}}</button>
                        <button class="blue-btn subscription-btn" *ngIf="subscription.cancel_subscription == 1 && subscribedPlanId && subscribedPlanId ==subscription.subscription_id && subscription.subscription_can_resume==1 && updatedPayment==0" (click)="resumePlan(subscription);">{{'subsc_btn_res_subsc_def' | translate}}</button>
                        <button class="blue-btn subscription-btn" *ngIf="subscription.complete_payment==1 && updatedPayment==0" (click)="checkout(subscription,'invoice')">{{'subsc_btn_cmplt_pmnt_def' | translate}}</button>
                        <button *ngIf="subscription.user_type==1 && subscribedPlanId && subscribedPlanId !=subscription.subscription_id && updatedPayment==0" class="blue-btn subscription-btn" (click)="changePlan(subscription)">{{'subsc_btn_swi_pln_def' | translate}}</button>
                        <button *ngIf="oneTime == 0 && subscription.user_type == 0 && subscription.complete_payment!=1 && updatedPayment==0" class="blue-btn subscription-btn" (click)="checkout(subscription,'invoice')">{{'subsc_btn_sel_def'|translate}}</button>
                        <button *ngIf="oneTime == 1 && subscription.user_type == 0 && subscription.complete_payment!=1 && updatedPayment==0" class="blue-btn subscription-btn" (click)="checkout(subscription,'invoice')">{{'subsc_btn_sel_def'|translate}}</button>
                        <button *ngIf="subscribedPlanId && subscribedPlanId ==subscription.subscription_id && updatedPayment==1" class="blue-btn subscription-btn" (click)="updatePayment()">{{'subsc_btn_upd_pmnt_def'|translate}}</button>
                        <button *ngIf="subscribedPlanId && subscribedPlanId !=subscription.subscription_id && updatedPayment==1" class="blue-btn subscription-btn" (click)="checkout(subscription,'invoice')">{{'subsc_btn_sel_def'|translate}}</button>
                    </a>
                </li>
            </ul>
            <div *ngIf="subscriptionsLength>0" class="subscription-terms-text">
                {{'subsc_desc_terms_def'| translate}} <a [routerLink]="['/pages','terms']" ui-sref="static.page({id:'terms',region: region})">{{'subsc_desc_trms_use_def' | translate}}</a> &
                <a [routerLink]="['/pages','privacy']" ui-sref="static.page({id:'privacy',region: region})">{{'subsc_desc_pri_poli_def' | translate}}</a>
            </div>
        </div>
    </div>
</div>