.subscription-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}

.subscription-card {
    width: 33.33%;
    padding: 10px;
    list-style: none;
}

.card-box {
    padding: 15px;
    background: rgba(255, 255, 255, .16);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: block;
    height: 336px;
}

.card-title {
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--card-font-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 30px;
}

.card-desc {
    height: 41.09px;
    margin-top: 30px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 47px;
    text-align: center;
    color: var(--card-font-color);
}

.subscription-desc {
    height: 72px;
    margin-top: 30px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: var(--card-font-color);
}

.cancel-btn {
    width: 90%;
    margin: 0px 5%;
    height: 60px;
    left: 15px;
    top: 224.09px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF !important;
    background: transparent;
}

.subscription-btn {
    width: 90%;
    margin: 0px 5%;
    height: 60px;
    left: 15px;
    top: 224.09px;
    background: var(--button-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    font-weight: bold;
    font-size: 20px;
    color: var(--button-font-color);
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 12px;
    font-weight: bold;
    color: var(--card-font-color);
    text-align: center;
    line-height: 21px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #F70505 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #F70505;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F70505;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #F70505;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F70505;
}

.popular {
    text-align: center;
    background: #fff;
    border-radius: 35px;
    width: 237px;
    height: 42px;
    color: #000;
    margin: -30px 45px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
}

.star-icon {
    width: 19px;
    height: 19px;
    margin-right: 10px;
    margin-left: 20px;
}

.recommended-text {
    width: 140px;
    height: 24px;
    font-family: Poppins-Bold;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

.subscriptions-container {
    background: var(--card-color);
    padding: 24px 20px;
}

.subscriptions-page {
    padding-top: 157px;
    height: auto;
    margin-bottom: 100px;
}

.subscription-terms-text {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--card-font-color);
}

.subscription-terms-text>a {
    color: var(--button-color);
}

.popular-card-box {
    background: rgba(255, 255, 255, .25);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.update-method {
    color: var(--button-color) !important;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin-left: auto;
    font-weight: 500;
    cursor: pointer;
    font-family: Poppins-Bold;
}


/* Voucher related css */

.cancel-page {
    padding-top: 13px;
}

.cancel-details {
    padding: 31px 24px 24px;
    background: var(--card-color);
    max-width: 484px;
    /* height: 457px; */
    margin: 0px auto;
}

.cancel-text {
    /* height: 30px; */
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    color: var(--button-color);
    margin-top: 30px;
}

.cancel-info {
    /* height: 241px; */
    margin-top: 24px;
}

.cancel-data {
    margin-top: 14px;
}

.cancel-mail {
    margin-top: 16px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--card-font-color);
}

.home-redirection {
    text-align: center;
    margin-top: 16px;
}

.home-btn {
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    border-radius: 23px;
    text-align: center;
    color: var(--button-font-color);
    padding: 8px 20px;
    background: var(--button-color);
}


/* Update method related css */

.update-details {
    padding-top: 13px;
}

.update-page {
    padding: 82px 23px;
    background: var(--card-color);
    max-width: 482px;
    margin: auto;
}

.update-header {
    /* height: 30px; */
    margin-top: 25px;
    font-family: Poppins-Bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--button-color);
}

.update-text {
    /* height: 42px; */
    margin: 16px 0px;
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--bg-font-color);
}

.home-btn {
    font-family: Poppins-Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    border-radius: 23px;
    text-align: center;
    color: var(--button-font-color);
    padding: 8px 20px;
    background: var(--button-color);
}