.wdn-text-hidden {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px, 1px, 1px, 1px);
}

.home-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    .error-page {
        padding-top: 153px;
        .error-container {
            width: 550px;
            padding: 26px;
            margin: 0 auto 100px;
            border-radius: 18px;
            .error-image {
                display: flex;
                justify-content: center;
                margin: 35px 0px 30px;
            }
            .error-header {
                height: 47px !important;
                text-align: center;
                margin: 0 auto 20px;
                .error-text {
                    font-family: Poppins-Bold !important;
                    font-style: normal !important;
                    font-size: 31px !important;
                    line-height: 46px !important;
                    color: var(--button-color) !important;
                }
            }
            .error-content {
                padding: 0px 22px;
                text-align: center;
                color: var(--card-font-color)
            }
            .home-redirection {
                text-align: center;
                margin-top: 16px;
                .take-home-button {
                    padding: 8px 20px;
                    height: 40px;
                    font-family: Poppins-Bold;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: var(--button-font-color);
                    margin: 24px auto 0px;
                    border-radius: 23px;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .25) 100%), var(--button-color);
                    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025)
                }
                .blue-btn {
                    border: none;
                    font-family: Poppins-Bold !important;
                    text-transform: capitalize;
                    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                    transition: 350ms;
                }
                .blue-btn:hover {
                    background: #fff;
                    color: #02021c;
                    transform: scale(1.05);
                    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
                }
            }
        }
        .card-bg {
            background: var(--card-color);
        }
    }
}