<div id="pagetitle">
    <h1 class="wdn-text-hidden">{{pageH1Tag}}</h1>
</div>
<div class="home-bg-img" [style.background-image]="'url('+homeImage+')'">
    <div class="error-page">
        <div class="error-container card-bg">
            <div class="error-image">
                <img loading="lazy" src="assets/img/broken-page.svg" alt="404">
            </div>
            <div class="error-header">
                <h2 class="error-text">404: {{ 'err_title_pg_not_fnd_def' | translate}}</h2>
            </div>
            <div class="error-content">
                {{'err_desc_err_msg_def'| translate}}
            </div>
            <div class="home-redirection">
                <a [routerLink]="['/home']" ui-sref="profile.home({region: region})">
                    <button class="take-home-button blue-btn">{{'err_btn_go_home_def'|translate}}</button>
                </a>
            </div>
        </div>
    </div>
</div>