.search-bg-img {
    position: relative;
    min-height: 100vh;
    left: 0%;
    right: 0%;
    top: 0px;
    overflow-x: hidden;
}

.search-page {
    margin: 60px 48px 100px 48px;
    color: var(--bg-font-color)
}

.close {
    position: absolute;
    width: 48px;
    height: 48px;
    opacity: 1;
    right: 50px;
    top: 73px;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 30px;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color: var(--mm-font-color);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.search-box {
    width: 100%;
    height: 48px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.glyphicon {
    color: var(--card-font-color);
}

.glyphicon-search {
    color: var(--mm-font-color);
}

.search-logo {
    top: 8px;
    font-size: 24px;
}

.search-box {
    width: 100%;
    height: 48px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.search-description {
    width: 596px;
    height: 190px;
    margin: 250px auto auto;
    text-align: center;
    color: var(--bg-font-color);
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-align: center;
}

.search-zoom {
    width: 91px;
    height: 91px;
    margin: auto;
    margin-bottom: 30px;
}

.search-count {
    margin: 40px auto 31px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--bg-font-color);
    opacity: 0.8;
}

.search-page {
    margin: 60px 48px 100px 48px;
    color: var(--bg-font-color)
}

body {
    overflow: hidden !important;
}

input[type=search] {
    background-color: transparent !important;
    border: 0;
    width: 100%;
    font-size: 27px;
    padding-bottom: 10px;
    padding-left: 45px;
    border-radius: 0;
    color: var(--bg-font-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin-left: -26px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

@media screen and (max-width:767px) {
    .search-logo {
        top: 5px;
        font-size: 30px;
    }
    input[type=search] {
        background-color: transparent !important;
        border: 0;
        width: 100%;
        font-size: 20px !important;
        font-family: AvenirNext-Bold, Helvetica, Arial, sans-serif;
        padding-bottom: 15px !important;
        padding-left: 30px !important;
        border-radius: 0;
        color: var(--bg-font-color);
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        margin-left: 0px;
    }
}