<div class="search-bg-img" [ngStyle]="{'background-image': 'var(--home-bg-gradient),url('+settingsService.homeImage+')'}" style="background-size: cover;background-repeat: no-repeat;">
    <div class="search-page">
        <a class="pull-right close" (click)="closeSearch()">
        </a>
        <div class="search-box">
            <span class="glyphicon glyphicon-search pull-left search-logo"></span>
            <input id="searchTerm" [(ngModel)]="searchKey" placeholder="{{'srch_inptbxl_typng_def' | translate}}" type="search" (ngModelChange)="getSearchData(searchKey)" (keyup.enter)="goToSearchPage(searchKey)" spellcheck="false" autocomplete="off" [ngModelOptions]="{debounce: 1000}">
            <a class="pull-right close" (click)="closeSearch()">
            </a>
        </div>
        <div class="search-count" *ngIf="searchCount>0">
            {{'srch_desc_show_def' | translate}} {{searchCount}} {{'srch_desc_reslt_def' | translate}}
        </div>
        <div *ngFor="let section of data" class="search-data">
            <div *ngIf="section.list.length>0">
                <div class="box-title">
                    <div class="box-head row no-margin">
                        <h3 class="main-title pull-left">{{section.title}}</h3>
                    </div>
                </div>
                <div class="section-line"></div>
                <app-slick-item [data]="section" (closeEvent)="closeSearch()" [searchData]="searchKey"></app-slick-item>
            </div>
        </div>
        <!-- <div class="row no-margin" style="margin-top:40px !important;color:var(--mm-font-color)" *ngIf="searchCount==0 && searchTerm.length >=3">
            {{noResultsMessage | translate}}
        </div> -->
        <div class="search-description" *ngIf="searchCount==0 && searchKey >=3 && !searchOpenedFirst">
            <img loading="lazy" class="search-zoom" src="assets/img/search-zoom.svg">
            <p>{{'srch_desc_no_reslt_def' | translate}}</p>
        </div>
        <div class="search-description" *ngIf="searchOpenedFirst">
            <img loading="lazy" class="search-zoom" src="assets/img/search-zoom.svg">
            <p>{{'srch_desc_genre_def' | translate}}</p>
        </div>
    </div>
</div>